<ion-view view-title="ENFJ">
  <ion-content>
  
    
   <center>
    <div>
                 
                    <h1 class="description-title">
                             ENFJ شخصية
                    </h1>
          <img src="img/enfj.png" width="90%" />
                    
    
        <h1 class="description-nicetitle">“البطل”</h1>


          <h3>من صفاته الرئيسية</h3>

        منفتح .. حدسي ..مشاعري .. حكم<br />
<br />
صفاته:<br />
<br />
  لديه قدرة عجيبة على فهم الآخرين وقيادتهم<br />
<br />
  أهم شيء في حياته هو علاقته بالآخرين... يهتم جداً بهم وبكلامهم ويفهم الناس جيداً<br />
<br />
  يستطيع بسهولة قراءة الآخرين ويؤثر فيهم بالتالي بسهولة أيضاً. يستطيع أن يقود مجموعة أثناء النقاش بكل سهولة بغض النظر عن نوعية من أمامه من الناس<br />
<br />
  لديه مشاعر فطرية فياضة ومتأججة... رقيق ومرهف الحس، لا يضايق أحداً أو يجرحه<br />
<br />
  سريع الاستجابة للثناء والمديح، وأيضاً النقد ويأخذ النقد بصورة شخصية... وأحياناً يسبب نفور الناس منه<br />
<br />
  يساعد الآخرين في الوصول إلى ذواتهم... يذكر لك حقائق عن نفسك قد لا تعرفها أنت، ويذكر لك كيف تستخدمها<br />
<br />
  سمعته طيبة مع الجميع لا يتقاتل مع أحد... طاهر وطيب القلب. سلامه رقيق ولا تكاد تحس بيده عندما يصافحك<br />
<br />
  يساعد الآخرين ويدعمهم ويطورهم ويوظف قدراتهم... قائد ملهم وتابع مخلص أيضاً<br />
<br />
  مميز ومشهور... خصوصاً في المسائل النفسية<br />
<br />
  مبدع قوي وذو بصيرة ثاقبة... نظرته مستقبلية ومثالي<br />
<br />
  محاضر ممتاز خصوصاً فيما يتعلق بالاستشارات النفسية والعلاقات اليومية<br />
<br />
       <h2>“قراءة بالعمق”</h2>
	<blockquote>
			 <p>“كل شيء تفعله الآن يموج للخارج ويؤثر على الجميع. وقفتك يمكن أن 
تضئ قلبك أو تنشر القلق. أنفاسك يمكن أن تشع الحب أو تعكر الغرفة 
بالاكتئاب. وهالتك يمكن أن توقظ الفرح. وكلماتك يمكن أن تلهم الحرية.  كل 
فعل تفعله يمكن أن يفتح القلوب والعقول.”</p>
			 <footer>ديفيد ديدا</footer>
			</blockquote>

			<p>شخصيات ENFJ هم قادة بالفطرة، مفعمون بالعاطفة والكاريزما. وهم 
يشكلون حوالي اثنين في المئة من البشر، وهم في كثير من الأحيان يعملون 
بالسياسة أو مدربين أو معلمين، يتواصلون مع الآخرين ويلهمونهم لتحقيق وفعل 
الخير في العالم. بالثقة الطبيعية لديهم التي تولد النفوذ، فإن شخصيات ENFJ
 تتمتع بقدر كبير من الفخر والفرح عند توجيه الآخرين للعمل معاً لتحسين 
أنفسهم ومجتمعهم.</p>

			<h2>لديهم إيمان راسخ في الناس</h2>

			<p>يلتف الناس حول الشخصيات القوية، وشخصيات ENFJ تشع أصالة، واهتماماً 
وإيثاراً، ولا يخشون من الوقوف والتحدث عندما يشعرون أن شيئاً ما يحتاج إلى
 أن يقال. ويجدون أن التواصل مع الآخرين أمر طبيعي وسهل، وخاصة بشخصهم، 
ولهم سمة الحدس (N) التي تساعد الناس من نوع شخصية ENFJ للوصول إلى كل عقل،
 سواء كان ذلك من خلال الحقائق والمنطق أو العاطفة المطلقة. شخصيات ENFJ 
ترى بسهولة دوافع الناس والأحداث التي تبدو غير مترابطة، وتكون قادرة على 
ربط هذه الأفكار معاً وجعلها هدف مشترك ببلاغة أقرب إلى الفتنة.</p>

			<p>واهتمام شخصيات ENFJ بالآخرين حقيقي، وقد يقودهم إلى الخطأ  , فعندما 
يؤمنون بشخص ما، فإنهم فد يندمجون معه في مشاكله الشخصية ويضعون الكثير من 
الثقة فيهم. ولحسن الحظ، فهذه الثقة تميل إلى أن تكون نبوءة تحقق ذاتها، 
لأن إيثار شخصيات ENFJ وأصالتهم تلهم أولئك الذين يسعون لتحسين أنفسهم. 
ولكن إذا لم يكونوا حذرين، فإنهم قد يبالغوا في تفاؤلهم، بحيث يدفعون 
الآخرين إلى أبعد من قدراتهم أواستعداداتهم.</p>

			<p>وشخصيات ENFJ عرضة لكمين الآخرين أيضاً: فلديهم قدرة هائلة لإظهار 
وتحليل مشاعرهم الخاصة، ولكن إذا استغرقتهم محنة شخص آخر بعمق، فقد يتولد 
لديهم نوع من الوسواس العاطفي، حيث يرون مشاكل الآخرين في أنفسهم، فيحاولون
 إصلاح شيء في ذاتهم ليس فيه عيب أساساً. وإذا وصولوا إلى نقطة يتم 
احتجازهم فيها بواسطة قيود شخص آخر يعاني، فإن ذلك يمكن أن يعيق قدرة 
شخصيات ENFJ على رؤية ما هو أبعد من المعضلة فيصبحوا غير قادربن على مساعدة
 هذا الشخص الآخر. وعندما يحدث ذلك، فإنه من المهم بالنسبة لشخصيات ENFJ 
التراجع واستخدام التأمل الذاتي للتمييز بين ما يشعرون حقاً، وما هو قضية 
منفصلة تحتاج إلى النظر إليها من منظور آخر.</p>

			<h2>...النضال لا يجب أن يمنعنا من دعم قضية نعتقد أنها الحق</h2>

			<div class="description-pullout">شخصيات ENFJ شخصيات أصيلة، مهتمون 
وصادقون فيما يفعلون، وليس هناك ما يجعلهم أكثر سعادة من إحداث التغيير، 
وتوحيد وتحفيز فريقهم بحماس معدي.</div>

			<p>الناس مع نوع شخصية ENFJ هم المؤثرون عاطفياً، حتى لو على خطأ، وليس 
من المرجح أن يخافوا من تلقي السهام دعماً منهم للأشخاص والأفكار التي 
يؤمنون بها. فليس من المستغرب أن العديد من شخصيات ENFJ الشهيرة هم من 
رؤساء الولايات المتحدة, فهذا النوع من الشخصية يريد أن يقود الطريق إلى 
مستقبل أكثر إشراقاً، سواء كان ذلك من خلال قيادة أمة إلى الازدهار، أو 
قيادة فريق صغير في دوري الكرة للانتصار بشق الأنفس.</p>

      

			<p>شخصيات ENFJ الشهيرة:</p>

			<div class="celebrity-list">
			 <img src="img/FAAMOUSQUIZ/ENFJ.PNG" /> <br /><br />
                <img src="img/MOVIESQUIZ/ENFJ.PNG" />
                <br />
<br />
                        <img src="img/imagesqiz/ENFJ.PNG" />   <br /><br />
                      <!--<img src="img/AnimalQiuz/ENFJ.PNG" /> <br /><br />-->
				<div class="well well-sm">باراك أوباما</div>
				<div class="well well-sm">ابراهام لنكولن</div>
				<div class="well well-sm">رونالد ريغان</div>
				<div class="well well-sm">أوبرا وينفري</div>
				<div class="well well-sm">ويليام كولين براينت</div>
				<div class="well well-sm">ابراهام ماسلو</div>
				<div class="well well-sm">شون كونري</div>
				<div class="well well-sm">بن أفليك</div>
				<div class="well well-sm">فرانسوا ميتران</div>
				<div class="well well-sm">تومي لي جونز</div>
				<div class="well well-sm">مايكل جوردان</div>
				<div class="well well-sm">ماثيو ماكونهي</div>
				<div class="well well-sm">جون كوزاك</div>
				<div class="well well-sm">"Daenerys" من لعبة العروش</div>

			</div>

        <br /><br />
      <h1>  النصائح العشر للنجاح كبطل</h1>

  <ol>
<li><strong>ركز على نقاط قوتك!</strong> تأكد من أن تشرك نفسك مع الآخرين عندما تكون لإضافتك قيمة.</li>
<li><strong>واجه نقاط ضعفك!</strong> كما تقبلت نقاط قوتك، تفهم أن هناك 
نقاط ضعف في شخصيتك، وأنك يجب أن تعمل بصدق على التخلص منها. تذكر دائماً 
أن مواجهة نقاط ضعفك لا يعني مواجهة نفسك أو تغيير شخصيتك، بل يعني أنك 
ترغب بأن تكون الأفضل.</li>
<li><strong>عبر عن مشاعرك!</strong>&nbsp;تذكر أن أهمية مشاعرك هي بقدر 
أهمية مشاعر الآخرين. لذلك كما أن سماعك لمشاعر الآخرين مهم، لا تنسى نفسك 
وتحدث عن مشاعر وما يدور في خاطرك.</li>
<li><strong>اتخذ قرارات!</strong> لا تخاف من أن يكون لديك رأي. لتكون فعالاً يجب أن تتعرف بوضوح على شعورك حيال الأشياء.</li>
<li><strong>ابتسم في وجه النقد!</strong> تذكر أن الناس لن يتفقوا معك 
جميعهم، وكذلك لن يتمكنوا من فهمك. حاول أن ترى النقد والمعارضة على أنها 
فرصة للتطور والنمو الشخصي، وابتعد عن الأسلوب الدفاعي فيها.</li>
<li><strong>لاحظ الإختلافات الشخصية!</strong> هناك 15 صنف شخصية غير شخصيتك، حاول استيعاب واستقراء أصناف الناس من حولك، وتفهم وجهات نظرهم.</li>
<li><strong>لاحظ احتياجاتك الشخصية!</strong>&nbsp;لا تضغط على حاجاتك شخصية في سبيل تلبية حاجات الآخرين.</li>
<li><strong>كن رحيماً في توقعاتك!</strong>&nbsp;توقع الكثير من الآخرين، 
يعني أنهم في معظم الحالات سيخيبون ظنك. خيبة الظن هذه ستجعلهم ينفرون منك،
 وقد تخسر أصدقائك. حاول أن تكون متواضعاً في توقعاتك، وعامل الآخرين كما 
ترغب بأن تعامل.</li>
<li><strong>افترض الأفضل دائماً!</strong> لا تضيق على نفسك بتوقع الأسوء دائماً، وتذكر أن الموقف الإيجابية دائماً ما يخلق نتائج إيجابية.</li>
<li><strong>اسأل عندما تكون في شك!</strong> لا تتوقع بأن عدم حصولك على المعلومة هو نفس الحصول على معلومة سلبية. إذا لم تحصل على معلومة تحتاج لها أطلبها ولا تتردد.</li>
</ol>

    <br />
   <br />   <br />
         </div>
<ion-item menu-close href="#/app/Copmatability">
       <i class="ion-heart"></i>   شاهد توافقك مع بقية الشخصيات<i class="ion-heart"></i>
        </ion-item>
</center>

   
</center>
  </ion-content>
</ion-view>
