<ion-view view-title="ENFP">
  <ion-content>
      <center>
    <div>
              <h1 class="description-title">
                             ENFP شخصية
                    </h1>
         <img src="img/enfp.png" width="90%"  />
                    
    
        <h1 class="description-nicetitle">“المناضل”</h1>

    

          <h3>من صفاته الرئيسية</h3>
        منفتح .. حدسي .. مشاعري .. تلقائي صفاته:<br />
<br />
  شعاره في الحياة: كل شيء ممكن. يعتقد أنه يستطيع أن يفعل أي شيء، وهذا صحيح إلى حد كبير<br />
<br />
  علاقته طيبة مع الناس فهو لا يستطيع العيش بدون الناس. يحس بالملل والاكتئاب إذا جلس وحيداً<br />
<br />
  عنده قدرة عجيبةعلى رؤية الاحتمالات والتنبؤ بالمستقبل<br />
<br />
  مبدع ولديه مليون بديل ومليون احتمال ويستطيع وصفها كلها بدقة متناهية<br />
<br />
  عنده حس راقي ويفهم الناس بطريقة عجيبة. صاحب مشاعر دافئة رقيق القلب... ولا يتقاتل مع أحد<br />
<br />
  يفهم تعقيدات النفس البشرية بمنتهى البساطة، وأيضاً يفهم تعقيدات النظريات العلمية بمنتهى البساطة... لكنه يميل إلى الجانب الإنساني أكثر<br />
<br />
  قدرته عالية على التأقلم والتلقائية والليونة والاستجابة لأي طارئ جديد<br />
<br />
  حماسي جداً وحماسه مُعدي... سرعان ما ينتشر ليصيب الآخرين<br />
<br />
  صاحب روح عالية، متطلع ومبدع... صاحب خيال واسع وعبقري<br />
<br />
  منطقي خصوصاً فيما يتعلق بالناس<br />
<br />
  شرطه الوحيد للتعامل مع المشكلات: هو أن تحوز على اهتمامه، وأما ما لا يتفاعل معه فثق تماماً أنه لا يفهمه<br />
<br />
  كلمة السر في التعامل معه: أن تسأله ماذا يمكن أن نفعل في....؟<br />
<br />
  سريع الوصول إلى الحلول... وعلى استعداد دائم لمساعدة أي شخص يطلب مساعدته<br />
<br />
  حياته اليومية مع الناس... ولا يستطيع العيش بدونهم<br />
<br />
• لديه القدرة على صنع المستحيل في ثوان معدودة... عبقري في اختراع الأفكار والبدائل<br />
<br />
• يضع أسباب منطقية لأي شيء يريده... وأسبابه وجيهة للاعتذار<br />
<br />
• لايُحضر لأي موضوع بل يرتجل دائماً<br />
<br />
• يحب أن يتقبل الناس عمله وأن يثنواعليه... فكل ما يطلبه هو كلمة حلوة<br />
<br />
• سريع الكلام والحركة والمشي... وطاقته جبارة<br />
<br />
• يكفيه الإشارة لكي يفهم ما تريد... وكثرة كلامك قاتلة بالنسبة له<br />
<br />
• من السهولة قيادته والتعامل معه<br />
<br />
 <br />

         <h2>“قراءة بالعمق”</h2>
        	<blockquote>
			 <p>“لا يعنيني ما تفعله من أجل لقمة العيش. أريد أن أعرف ما يوجعك , 
وإذا كنت تجرؤ على أن تحلم بتلبية شوق قلبك. أنه لا يعنيني ما عمرك. أريد 
أن أعرف ما إذا كنت سوف تخاطر بأن تبدو وكأنك معتوه , من أجل الحب , من أجل
 أحلامك , من أجل مغامرة البقاء على قيد الحياة.”</p>
			 <footer>Oriah Mountain Dreamer</footer>
			</blockquote>

			<p>Lشخصية ENFP هي بحق روح حرة. وهي غالباً ما تكون روح أي حفلة تشارك 
فيها، ولكن خلافا لفئة المستكشفين، فهي أقل اهتماماً بالإثارة والمتعة 
اللحظية المحضة بل تهتم بالتمتع بالصلات الاجتماعية والعاطفية التي يقومون 
بها مع الآخرين. شخصية ساحرة، مستقلة، حيوية ورؤوفة، يشكلون 7٪ من البشر 
ولذا بالتأكيد يمكن أن تلاحظهم في أي تجمع بشري.</p>

			<h2>يمكنك تغيير العالم بمجرد فكرة</h2>

			<p>شخصيات ENFP أكثر من مجرد شخصيات اجتماعية مؤنسة للناس، فهم مثل كل 
أبناء عمومتهم من الشخصيات الدبلوماسية، تشكلهم خاصية الحدس (N)، مما يسمح 
لهم بقراءة ما بين السطور بفضول وطاقة مفعمة. انهم يميلون لرؤية الحياة 
كلغز معقد كبير حيث كل شيء متصل بالآخر , ولكن على عكس نوع شخصية المحللون،
 الذين يميلون لرؤية هذا اللغزعلى شكل سلسلة من المكائد النظامية، فإن 
شخصيات ENFP ترى ذلك من خلال منشور من العاطفة والحنان والتصوف، ويبحثون 
دائما عن المعنى الأعمق.</p>

			<div class="description-pullout">شخصيات ENFP مستقلة بفظاعة، وهم يسعون لأكثر من الاستقرار والأمن، هم يسعون إلى الإبداع والحرية.</div>

			<p>والعديد من أنواع الشخصيات الأخرى قد تجد هذه الصفات لا تقاوم، وإذا 
وجدت شخصيات ENFP السبب الذي يثير خيالهم، فسوف يجلبون الطاقة التي توجههم 
في كثير من الأحيان إلى دائرة الضوء، مما يجعل منهم زعماء ومعلمين لأقرانهم
 , ولكن هذا ليس دائماً حيث تريد شخصيات ENFP المحبة المستقلة أن تكون. 
والأسوأ من ذلك عندما يجدوا أنفسهم يعانون في المهام الإدارية والصيانة 
الروتينية التي يمكن أن تصاحب منصب قيادي. احترام الذات لدى شخصيات ENFP 
يعتمد على قدرتهم على التوصل إلى حلول أصلية، وهم بحاجة إلى معرفة أن لديهم
 حرية الابتكار , فهم يمكن أن يفقدوا صبرهم بسرعة، أو أن يصابوا بالاكتئاب 
إذا انحصروا في الأدوار المملة.</p>

			<h2>لا تفقد تلك "الشرارة الصغيرة من الجنون"</h2>

			<p>لحسن الحظ، شخصيات ENFP تعرف كيفية الاسترخاء، وقادرون تماما على 
التحول من الشخصية المثالية العاطفية في مكان العمل إلى تلك الروح الحرة 
خصبة الخيال والمفعمة بالحماس على حلبة الرقص، وغالباً مع فجائية يمكن أن 
تصدم حتى أقرب أصدقائهم. ولأن لديهم مزيج فريد من الصفات فإن ذلك يعطيهم 
أيضاً فرصة للارتباط عاطفياً مع الآخرين، ومنحهم نظرة عزيزة تستطيع أن تحفز
 أصدقائهم وزملائهم. وهم يعتقدون أن كل شخص يستحق أن يأخذ وقته للاعتراف 
والتعبيرعن مشاعره وتعاطفه وقدراته الاجتماعية التي تجعل من المحادثة 
الطبيعية موضوعاً هاماً.</p>

			<p>نوع شخصية ENFP يجب أن يكون حذراً، فإذا اعتمدوا كثيرا على حدسهم، أو
 افترضوا أو توقعوا الكثير من صديق، فإنهم يمكن أن يخطئوافي قراءة الإشارات
 ويحبطوا خططاً كان اتباع نهج أكثر وضوح من شأنه أن يجعلها خططاً بسيطة. 
هذا النوع من الضغط الاجتماعي هو البعبع الذي يجعل الدبلوماسيون الذين 
يركزون على الانسجام مستيقظون طوال الليل. شخصيات ENFP هي عاطفية جدا 
وحساسة، وعندما يدعسوا قدم أحدهم يحسون بألمه.</p>

			<p>كما تنفق شخصيات ENFP الكثير من الوقت لاستكشاف العلاقات الاجتماعية،
 والمشاعر والأفكار قبل أن يتوصلوا للحقائق. ولكن عندما يجدوا أخيرا 
مكانههم في العالم، فخيالهم وتعاطفهم وشجاعتهم من المرجح أن تنتج نتائج 
مذهلة.</p>

			<p>شخصيات ENFP الشهيرة:</p>

			<div class="celebrity-list">
				 <img src="img/FAAMOUSQUIZ/ENFP.PNG" /> <br /><br />
                <img src="img/MOVIESQUIZ/ENFP.PNG" />
                <br />
<br />
                        <img src="img/imagesqiz/ENFP.PNG" />   <br /><br />
				<div class="well well-sm">روبرت داوني</div>
				<div class="well well-sm">كارول بيرنيت</div>
				<div class="well well-sm">ميج ريان</div>
				<div class="well well-sm">روبن ويليامز</div>
				<div class="well well-sm">ساندرا بولوك</div>
				<div class="well well-sm">أليسيا سيلفرستون</div>
				<div class="well well-sm">أندي روني</div>
				<div class="well well-sm">فرانز جوزيف هايدن</div>

			</div>
         </div>
        <br />  <br />
        <h1 >النصائح العشر للنجاح كمناضل:</h1>

<ol>
<li><strong>ركز على نقاط قوتك!</strong> تأكد من أن تعطي نفسك الفرصة للتعرف على العالم من خلال تجربة الأشياء الجديدة.</li>
<li><strong>واجه نقاط ضعفك!</strong> كما تقبلت نقاط قوتك، تفهم أن هناك 
نقاط ضعف في شخصيتك، وأنك يجب أن تعمل بصدق على التخلص منها. تذكر دائماً 
أن مواجهة نقاط ضعفك لا يعني مواجهة نفسك أو تغيير شخصيتك، بل يعني أنك 
ترغب بأن تكون الأفضل.</li>
<li><strong>عبر عن مشاعرك!</strong> لا تحبس المشاعر في داخل نفسك، 
وتتركها لتتراكم. عندما تجد أن المشاعر بدأت تتجمع، رتب أفكارك ثم أطلقها. 
لا تتركها للحظة التي تنفجر فيها تلك المشاعر بشكل لا يمكن السيطرة عليه.</li>
<li><strong>اتخذ قرارات!</strong> لا تخاف من أن يكون لديك رأي. لتكون فعالاً يجب أن تتعرف بوضوح على شعورك حيال الأشياء.</li>
<li><strong>ابتسم في وجه النقد!</strong> تذكر أن الناس لن يتفقوا معك 
جميعهم، وكذلك لن يتمكنوا من فهمك. حاول أن ترى النقد والمعارضة على أنها 
فرصة للتطور والنمو الشخصي، وابتعد عن الأسلوب الدفاعي فيها.</li>
<li><strong>لاحظ الإختلافات الشخصية!</strong> هناك 15 صنف شخصية غير شخصيتك، حاول استيعاب واستقراء أصناف الناس من حولك، وتفهم وجهات نظرهم.</li>
<li><strong>لاحظ احتياجاتك الشخصية!</strong>&nbsp;لا تضغط على حاجاتك شخصية في سبيل تلبية حاجات الآخرين.</li>
<li><strong>حاسب نفسك!</strong> وتذكر بأنك أنت أكثر الأشخاص قدرة على التحكم في نفسك وإدارتها.</li>
<li><strong>افترض الأفضل دائماً!</strong> لا تضيق على نفسك بتوقع الأسوء دائماً، وتذكر أن الموقف الإيجابية دائماً ما يخلق نتائج إيجابية.</li>
<li><strong>اسأل عندما تكون في شك!</strong> لا تتوقع بأن عدم حصولك على المعلومة هو نفس الحصول على معلومة سلبية. إذا لم تحصل على معلومة تحتاج لها أطلبها ولا تتردد.</li>
</ol>
          <br />  <br />
<ion-item menu-close href="#/app/Copmatability">
       <i class="ion-heart"></i>   شاهد توافقك مع بقية الشخصيات<i class="ion-heart"></i>
        </ion-item>
</center>
  </ion-content>
</ion-view>
