<ion-view view-title="ENTJ">
  <ion-content>
   
 <center>
    <div>
                 
                <h1 class="description-title">
                             ENTJ شخصية
                    </h1>

                    
    <img src="img/entj.png" width="90%" />
        <h1 class="description-nicetitle">“القائد”</h1>

    



           <h3>من صفاته الرئيسية</h3>

        منفتح ..حدسي .. مفكر .. حكم<br />
صفاته:<br />
<br />
  علاقاته عريضة مع الناس... له بصمات ساحرة على من حوله<br />
<br />
  صاحب قدرات هائلة... مبدع عبقري وملهم<br />
<br />
  قدرته عجيبة على تخيل المستقبل... ثم تنفيذ ما يتخيله على أرض الواقع<br />
<br />
  قوته في تفكيره... فهومنطقي عقلاني، ومنظم<br />
<br />
  تتقد مواهبه كمدير تنفيذي وكقائد ميداني<br />
<br />
  يستمتع بالتحدي إلى أقصى درجة<br />
<br />
  لسان حاله دائماً: كل شيء على ما يرام... كل شيء تحت سيطرتي<br />
<br />
  كل شيء عنده يحتاج إلى إدارة وقيادة إلى أن يحقق الأهداف المرجوة منه<br />
<br />
  صريح جداً... يقول ما يعتقده بصراحة ولا يقصد بذلك الإهانة... لكنه يرى أن هذا هو الحق والعدل<br />
<br />
  حاسم صارم وقوي... لا يؤجل ولايسوف<br />
<br />
  يقود الجميع، والكل يلهث خلفه لسرعته... قيادي في أي مكان وفي أي نشاط... يطور من حوله ويفهمهم<br />
<br />
  عبقريته في الإدارة... يفهم دقائق الأموروينظمها<br />
<br />
  لديه مهارة عجيبة... في أي عمل يتطلب التفكير والتحليل المنطقي<br />
<br />
  سريع الوصول للحلول، وحلوله منطقية ومرتبة<br />
<br />
  الإثارة والتحدي وصنع المستقبل... هي حياته<br />
<br />
  قدرته عجيبة على مخاطبة الجماهير<br />
<br />
  اهتماماته متعددة. يحب أن يضيف معلومة جديدة لخبرته كل يوم وبالتالي فهو دائما في تطور مستمر<br />
<br />
  يقرأ كثيراً وفى أي موضوع<br />
<br />
  يجلس مع الجميع... الصغير والكبير، الغنى والفقير... ويخرج منهم بالحكمة<br />
<br />
  لديه ميل فطرى للقيادة والتنظيم والتقاط الخلل ومحاولة إصلاحه<br />
<br />
  يصنع النظريات من خياله ويطبقها في الواقع العملي<br />
<br />
  هو رجل بأمة كاملة... ( وحده)<br />
<br />
 <br />

          <h2>“قراءة بالعمق”</h2>
	<blockquote>
			 <p>“ وقتك محدود، فلا تضيعه بأن تعيش حياة شخص آخر. لا تجعل العقيدة تحاصرك , لأنها نتاج تفكير الآخرين. لا تدع ضجيج آراء الآخرين يغرق صوتك الداخلي. والأهم من ذلك، حافظ على شجاعة اتباع قلبك وحدسك. فأنهم بطريقة ما يعرفون مسبقاً ما تريد حقا أن تحققه.  كل شيء آخر أمر ثانوي.”</p>
			 <footer>ستيف جوبز</footer>
			</blockquote>

			<p>شخصيات ENTJ هم قادة بالفطرة. الأشخاص الذين يتمتعون بهذا النوع من الشخصية يجسدون الكاريزما والثقة والسلطة، ويستطيعون توجيه الحشود معاً وراء هدف مشترك. ولكن خلافاً لنظرائهم من المركزين على المبادئ (F)، فإن شخصيات ENTJ تمتاز بمستوى لا يُرحم من العقلانية، مستخدمين ما لديهم من دوافع شخصية وتصميم وعقول حادة لتحقيق النهاية التي وضعوها لأنفسهم مهما كانت. وربما من الأحسن أنهم يشكلون فقط 3% من البشر، خشية أن يطغوا على أنواع الشخصيات الأكثر خجلاً وحساسيةً والتي تشكل جزء كبير من بقية أنواع الشخصيات , حيث يعود الفضل لشخصيات ENTJ في وجود العديد من الشركات والمؤسسات التي نراها كل يوم.</p>

			<h2>السعادة تكمن في فرحة الإنجاز</h2>

			<p>أكثر شيئ تحبه شخصيات ENTJ هو التحدي الجيد، كبيراً كان أم صغيراً، ويعتقدون اعتقادا راسخا بأنهم إذا ما أعطوا ما يكفي من الوقت والموارد، فيمكنهم تحقيق أي هدف. هذه الخاصية تجعل اشخصيات ENTJ رجال أعمال رائعين، بالإضافة إلى أن قدرتهم على التفكير الاستراتيجي والتركيز على المدى الطويل أثناء تنفيذ كل خطوة من خططهم بعزم ودقة تجعلهم قادة أعمال أقوياء. هذا العزم هو في كثير من الأحيان نبوءة تحقق ذاتها، حيث أن شخصيات ENTJ يدفعون نفسه لتحقيق أهدافهم من خلال قوة الارادة في المواقف التي قد يستسلم فيها الآخرون، وشخصيتهم المنفتحة (E) تعني أنهم قد يدفعوا الآخرين معهم ليحققوا معاً نتائج مذهلة في النهاية.</p>

			<p>على طاولة المفاوضات، سواء كان ذلك في بيئة العمل أو حتى لمجرد شراء سيارة، فإن شخصيات ENTJ هي المهيمنة التي لا تهدأ ولا ترحم. وهذا ليس لأنهم شخصية غير مبالية في حد ذاتها , بل لإنها أكثر الشخصيات تمتعاً بالتحدي، بمعركة الدهاء، وسرعة البديهة التي تحتاجها بيئة المفاوضات، وإذا كان الطرف الآخر لا يمكنه مجاراتهم، فهذا ليس سبب كافي لشخصيات ENTJ ليقنعهم بألا يسعون للنصر النهائي.</p>

			<div class="description-pullout">الفكر الكامن في عقول شخصيات ENTJ قد يكون شيئا مثل "لا يهمني ما ستقوله عني ما دمت أفعل ما أفعله بكفاءة توصلن لأهدافي".</div>

			<p>وأكثر الشخصيات التي تحترمها شخصيات ENTJ، هي الشخصيات القادرة على الوقوف لهم فكريا، وعلى العمل بدقة وجودة متساوية لما هم عليه. شخصيات ENTJ لديها مهارة معينة في الاعتراف بمواهب الآخرين، وهذا يساعد في على تعزيز جهودهم المبذولة لبناء فريق خاص بهم (لأنه ما من أحد، مهما كان كاملاً، يستطيع أن يفعل كل شيء لوحده)، كما يساعد ذلك شخصيات ENTJ على الحد من استعراض الكثير من صفات الغطرسة والتعالي لديهم. ومع ذلك، فلديهم أيضا مهارة معينة أخرى في معايرة الآخرين بفشلهم بلا مشاعر بدرجة تقشعر لها الأبدان، وهذا هو السبب الحقيقي للمشاكل التي تواجهها هذه الشخصيات.</p>

			<h2>حصاد علوم العلاقات الإنسانية</h2>

			<p>الفدرة على التعبير العاطفي ليس من صفات أي من نوع شخصيات المحللين (NT)، ولكن لأنهم منفتحين (E) فإن بعد شخصيات ENTJ عن عواطفهم هو صفة عامة ويمكن لكثير من الناس الشعور به مباشرة. وشخصيات ENTJ، خاصة في بيئة العمل، سوف تسحق الشخصيات الحساسة لأنهم يعتبرونهم غير فعالين وليس لديهم الكفاءة المطلوبة أو كسولين. والناس من نوع شخصية ENTJ، يعتبرون العواطف ضعف في الشخصية، ولذلك فمن السهل أن يصبح لهم أعداء مع هذا النهج، ولكنهم سوف يحسنون صنعاً لو تذكروا أنهم يحتاجون إلى وجود فريق عمل، ليس فقط لتحقيق أهدافها، ولكن لتحقيق المصداقية ومعرفة رأي الناس فيهم، وهو شيء حساس جداً لشخصيات ENTJ.</p>

			<p>شخصيات ENTJ أقوياء بحق، ويحاولون أن يكونوا أكبر من الحياة نفسها , وكثيرا ما هم كذلك بالفعل. إلا أنهم بحاجة إلى التذكر أن مكانتهم تأتي ليس فقط من أعمالهم الخاصة، ولكن من تصرفات الفريق الداعم لهم، وأنه من المهم الاعتراف بالمساهمات والمواهب والاحتياجات الخاصة بهذا الفريق، وخصوصاً من وجهة نظر عاطفية. فعلى شخصيات ENTJ أن يكون لديهم صحة عاطفية جيدة، حتى إذا كان عليهم تبني مبدأ "قلدها إلى أن تتقنها"، جنبا إلى جنب مع العديد من مواطن القوة لديهم، وسوف تكون المكافأة عظيمة من خلال خلق علاقات صحية مع الناس وتحقيق جميع الانتصارات الصعبة التي يطمحون لها.</p>


         

			<p>شخصيات ENTJ الشهيرة:</p>

			<div class="celebrity-list">
				 <img src="img/FAAMOUSQUIZ/ENTJ.PNG" /> <br /><br />
                <img src="img/MOVIESQUIZ/ENTJ.PNG" />
                <br />
<br />
                        <img src="img/imagesqiz/ENTJ.PNG" />   <br /><br />
				<div class="well well-sm">ستيف جوبز</div>
				<div class="well well-sm">فرانكلين روزفلت</div>
				<div class="well well-sm">ريتشارد نيكسون</div>
				<div class="well well-sm">هاريسون فورد</div>
				<div class="well well-sm">ستيف مارتن</div>
				<div class="well well-sm">ووبي غولدبرغ</div>
				<div class="well well-sm">مارغريت تاتشر</div>
				<div class="well well-sm">آل غور</div>
				<div class="well well-sm">جيم كاري</div>
				
			</div>
    <h1 >النصائح العشر للنجاح كقائد:</h1>
<div >
<ol>

<li><strong>ركز على نقاط قوتك!</strong> تأكد أن تري الأخرين قدرتك على 
رؤية الحالات وتوقع ما الذي يمكن حدوثه منها. استلم زمام الأمور عندما تجد 
أن الفرصة سانحة لتبدي مهاراتك</li>
<li><strong>واجه نقاط ضعفك!</strong> كما تقبلت نقاط قوتك، تفهم أن هناك 
نقاط ضعف في شخصيتك، وأنك يجب أن تعمل بصدق على التخلص منها. تذكر دائماً 
أن مواجهة نقاط ضعفك لا يعني مواجهة نفسك أو تغيير شخصيتك، بل يعني أنك 
ترغب بأن تكون الأفضل.</li>
<li><strong>خذ بعض الوقت لمحاولة قراءة بماذا يفكر الآخرين!</strong> 
تحتاج لأن تؤخر تقديم أفكار لحين تستوعب كيف يفكر الآخرين وما الذي يرغبون 
تحقيقه. حينما تدرك رغباتهم، سيساعدك ذلك على وضع حاجاتهم ضمن أهداف العمل،
 وبالتالي ستجلب المزيد من التوائم والتوافق في محل عملك.</li>
<li><strong>أعط الحالة بعض الوقت لتتحدث إليك!</strong>&nbsp;لا تصرف 
الأفكار أو الأمور المجردة ذات العلاقة بالحالة كونك لم تستوعبها بشكل 
بسرعة، ولا تحاول اتخاذ قرار بشكل سريع. توقف عن التفكير استرخي، وحاول 
استيعاب الصور الكاملة، فبالتأكيد هناك زوايا غابت عن عينك، وستتضح لك 
عندما تفتح المجال للأفكار بالتدفق بهدوء في عقلك.</li>
<li><strong>عندما يتعكر مزاجك، أنت تخسر!</strong>&nbsp;طاقتك وقدراتك 
العقلية هي أفضل ما تملك، ولكنك عندما تغضب أو يتعكر مزاجك، فإنها تنقلب 
ضدك، وتترك مع الكثير من المشاعر التي لا يمكنك التصرف معها. تذكر أن 
الآخرين قد لايرون الأمور كما تراها، اعطهم المساحة ليفكروا ويوجدوا 
الحلول، وساعدهم حين يحتاجون للمساعدة. وبهذا هم يتعلمون ويتطورون وكذلك 
أنت.</li>
<li><strong><strong>احترم رغبتك للتوافق المعرفي!</strong></strong>&nbsp;لا
 تتوقع أن تتميز بكونك محبوباً أو حنوناً. تذكر دائماً أن ما سيميزك عن 
الآخرين ويكسبك حبهم هو عقلك قبل قلبك. وبالطبع لا تهمل مشاعر الآخرين، 
وعبر عن مشاعرك بصدق وإخلاص لكن دون أن تتصنع.</li>
<li><strong>حاسب نفسك!</strong> وتذكر بأنك أنت أكثر الأشخاص قدرة على التحكم في نفسك وإدارتها.</li>
<li><strong>كن متواضعاً!</strong> وتذكر بأن تكون صارماً مع نفسك أكثر من صرامتك مع الآخرين.</li>
<li><strong>كن إيجابياً مع الإختلافات في الناس!</strong> تفهم أن قدرات الآخرين تختلف، وأن هذا الأمر إن أمكنك توظيفه بشكل صحيح فإنه سيفيدك، بدل أن يضرك.</li>
<li><strong>لا تصاب بالهوس!</strong> لاحظ أهمية الحياة العامة 
والإجتماعية لديك، وأن أهلك وأصدقائك يستحقون منك بعض الوقت. حاول أن 
تسترخي وأن تعطي نفسك بعض الوقت، وتذكر أن لا شيء في هذا العالم يعدل 
سعادتك.</li>
</ol>
<br/>
<ion-item menu-close href="#/app/Copmatability">
       <i class="ion-heart"></i>   شاهد توافقك مع بقية الشخصيات<i class="ion-heart"></i>
        </ion-item>
         </div>

</center>
  </ion-content>
</ion-view>
