<ion-view view-title="ESFP">
  <ion-content>
     <center>
    <div>  
	   <h1 class="description-title">
                           ESFP شخصية 
                    </h1>
        <img src="img/esfp.png"  width="90%"/>
    
                    <h1 class="description-nicetitle">“المسلي”</h1>

            <h3>من صفاته الرئيسية</h3>


        منفتح ..حسي ..مشاعري ..تلقائي<br />
صفاته:<br />
<br />
 علاقات عريضة مع الآخرين... تلقائي مرح ويتأقلم مع الناس<br />
<br />
  واقعي بحت يثق بالتجربة ولا يحب التغيير<br />
<br />
  إحساس مرهف... قلبه طيب لين ومرن<br />
<br />
  ودود ومرح... يستمتع بأي شيء في الحياة، واقعي ويتقبل الوضع كما هو<br />
<br />
  يبحث عن الإنجاز في العمل والنتيجة الواقعية<br />
<br />
  لا يحب الخيال ولكن يحب ما يراه بعينه ويحسه بحواسه<br />
<br />
  ماهر في الأوضاع التي تتطلب بديهة<br />
<br />
  يدخل المرح والسرور في نفوس الآخرين... ومجلسه لا يمل أبداً<br />
<br />
  عنده القدرة على أن يرى الجمال في الواقع من حوله<br />
<br />
  خبرته عريضة في الحياة... عملي وواقعي<br />
<br />
  يتذكر الوقائع... ولا يحب النظريات<br />
<br />
  يحب اللعب والتلقائية... يحب الرياضة والمرح واللعب... وصاحب نكتة<br />
<br />
  شخص يحب الحياة ويستمتع باللحظة الحالية... مليء بالحيوية<br />
<br />
  يستمتع بأي شيء في الحياة من حوله... ذوقه عالي ويرى الجمال في ما حوله<br />
<br />
  النظام الإداري يضايقه ( يكره الروتين ) لأنه يحب الحرية ويرفض أن تتحكم القوانين في حياته<br />
<br />
  يستمتع بما يعمله ( صاحب مزاج عالي جداً (<br />
<br />
   قليل الفوضى... لأن الفوضى تقلل من المتعة عنده<br />
<br />
  يحب الآخرين... كريم متفائل دافئ المشاعروعطوف<br />
<br />
  يتعلم بالممارسة العملية... وليس بالقراءة والمحاضرات ( يتعلم بيده (<br />
<br />
  واقعي... يرى الحقائق ويراقب الأحداث والأوضاع من حوله<br />
<br />
  يتخذ القرار من خلال قيمه الشخصية ومبادئه هو لا غير<br />
<br />
  رسول السلام بين المتخاصمين<br />
<br />
  لديه مهارة في تحريك الناس للتعامل مع المشاكل بإيجابية<br />
<br />
<br />
         
                    <h2>“قراءة بالعمق”</h2>
      
	<blockquote>
			 <p>“أنا أنانية، وليس عندي صبرولا أشعر بالأمان إلى حد ما. ارتكب 
الأخطاء، واخرج عن نطاق السيطرة وأحيانا يصعب التعامل معي. ولكن إذا كنت لا
 تستطيع التعامل معي في أسوأ حالاتي، فإنك بالتأكيد لا تستحق أفضل حالاتي.”</p>
			 <footer>مارلين مونرو</footer>
			</blockquote>

			<p>إذا وجدت شخصية ما عفوية في الغناء والرقص، فاعلم أنها من نوع شخصية 
ESFP. فشخصيات ESFP تستغرقها الإثارة اللحظية، ويريدون من الجميع أن 
يشاركوهم هذا الشعور أيضاً. لن تجد نوع شخصية آخر سخي بوقته وطاقته كما 
تفعل شخصيات ESFP عندما يتعلق الأمر بتشجيع الآخرين، لن تجد نوع شخصية آخر 
يفعل ذلك بهذا الأسلوب الذي لا يقاوم.</p>

			<h2>نحن جميعا نجوم ...</h2>

			<p>شخصيات ESFP ولدوا فنانين، يحبون الأضواء، والعالم بالنسبة لهم مسرح 
كبير. ولذلك فكثير من المشاهير من هذا النوع من الشخصية هم ممثلون، ولكنهم 
يحبون إقامة العروض لأصدقائهم أيضاً، والدردشة بخفة دم فريدة، سارقين 
الاهتمام من الآخرين وجاعلين من كل نزهة صغيرة حفلة عظيمة.  شخصيات ESFP 
اجتماعيون تماماً، ويستمتعون بأبسط الأشياء، وليس هناك فرح أعظم عندهم من 
مجرد اللهو مع مجموعة جيدة من الأصدقاء.</p>

			<p>وهذا ليس مجرد كلام فشخصيات ESFP يتمتعون بأقوى حس جمالي من أي نوع 
شخصية آخر. وتلك الشخصيات تهتم بالموضة والأزياء بدءً من التبرج والملابس 
وحتى المنزل المجهزة تجهيزاً جيداً. وهم كذلك يعرفون الشئ الجذاب لحظة 
رؤيته، وليسوا خائفين من تغيير البيئة المحيطة بهم لتعكس نمط الشخصية 
الخاصة بهم. كما أنهم فضوليون بشكل طبيعي، ولديهم القدرة على استكشاف 
التصاميم الجديدة والأساليب بسهولة.</p>

			<p>وعلى الرغم من أنهم قد لا يبدون دائما كذلك، إلا أنهم يعرفون أنهم 
ليسوا لوحدهم في هذا الكون، ولذلك فهم ملتزمون وحساسون جدا في ما يتعلق 
بمشاعر الآخرين. الأشخاص الذين يتمتعون بهذا النوع من الشخصية غالباً ما 
يكونوا أول من يساعد شخص يتحدث عن مشكلة صعبة، ويقدم لهم بسعادة الدعم 
العاطفي والنصائح العملية. ومع ذلك، إذا كانت المشكلة عنهم، فسيحاولون تجنب
 الصراع تماماً بدلاً من معالجته وجها لوجه. شخصيات ESFP عادة تحب القليل 
من الدراما والعاطفة، ولكن ليس بالقدر الكثير عندما يصبحون محط الانتقادات 
التي يمكن أن تجلبها تلك الدراما.</p>

			<h2>...ونحن نستحق أن نستطع</h2>

			<p>التحدي الأكبر الذي يواجهه شخصيات ESFP هو أنهم غالبا ما يركزون 
تماماً على الملذات العاجلة التي تهمل الواجبات والمسؤوليات التي تجعل تلك 
الكماليات ممكنة. التحليل المركب، والمهام المتكررة، ومطابقة الإحصاءات 
بالعواقب الحقيقية ليست أنشطة سهلة لشخصيات ESFP، لأنها تريد بدلاً من ذلك 
الاعتماد على الحظ أو فرصة، أو ببساطة طلب المساعدة من دائرتهم الواسعة من 
الأصدقاء. من المهم بالنسبة لشخصيات ESFP أن يتحدوا أنفسهم عل تتبع الأشياء
 على المدى الطويل مثل خطط التقاعد أو تناول السكر - فلن يكون هناك دائماً 
شخص آخر معهم يستطيع أن يساعدهم على التركيز على هذه الأشياء.</p>

			<p>شخصيات ESFP تهتم بالقيمة والجودة، والتي هي في حد ذاتها سمة رفيعة. 
ولكن مع تركيبتهم كمخططين ضعفاء، فقد يسبب لهم ذلك العيش خارج حدود 
إرادتهم، وبطاقات ائتمانهم مما فد يعرضهم للخطر. وهم أكثر تركيزاً على 
القفز على الفرص من التخطيط لأهداف طويلة الأجل، وقد يجدون أن حدسهم قد 
قادهم لبعض الأنشطة بالغة الصعوبة.</p>

			<div class="description-pullout">لا يوجد شيء يجعل شخصيات ESFP تشعر بالتعاسة مثل أن يدركوا أنهم محاصرون بالظروف، وغير قادرين على الانضمام لأصدقائهم.</div>

			<p>شخصيات ESFP هي موضع ترحيب أينما كان هناك حاجة للضحك والمرح والتطوع
 لتجريب شيء جديد وممتع - وليس هناك فرح أعظم لتك الشخصيات من تكوين صداقات
 جديدة في رحلة حياتهم. شخصيات ESFP يمكنها الدردشة لساعات، وأحياناً عن أي
 شيء إلا الموضوع الذي كان من المفترض أن يتحدثوا عنه، ويتبادلون العواطف 
مع أحبائهم في الأوقات الجيدة والصعبة. إذا كان بإمكانهم الحفاظ على النظام
 في حياتهم، فسوف يكونوا دائماً على استعداد للغوص في جميع الأشياء الجديدة
 والمثيرة في هذا العالم برفقة أصدقائهم.</p>
			<p>شخصيات ESFP الشهيرة:</p>

			<div class="celebrity-list">
			 <img src="img/FAAMOUSQUIZ/ESFP.PNG" /> <br /><br />
                <img src="img/MOVIESQUIZ/ESFP.PNG" />
                <br />
<br />
                        <img src="img/imagesqiz/ESFP.PNG" />   <br /><br />
				<div class="well well-sm">مارلين مونرو</div>
				<div class="well well-sm">إيفا غابور</div>
				<div class="well well-sm">ليوناردو دي كابريو</div>
				<div class="well well-sm">ستيف ايروين</div>
				<div class="well well-sm">جيمي أوليفر</div>
				<div class="well well-sm">كايل بيتي</div>
				<div class="well well-sm">كاثي لي جيفورد</div>
				<div class="well well-sm">ارسينيو هول</div>

			</div>
              <br />
        <br />

        <h1 >النصائح العشر للنجاح كمسلي:</h1>
<ol>
<li>&nbsp;<strong>ركز على نقاط قوتك!</strong>&nbsp;شجع قدراتك الفنية الطبيعية والإبداعية على البروز، غذ روحك، وأعط نفسك الفرصة لمساعدة المحتاجين والمحرومين.</li>
<li ><strong>واجه نقاط ضعفك!</strong>&nbsp;كما
 تقبلت نقاط قوتك، تفهم أن هناك نقاط ضعف في شخصيتك، وأنك يجب أن تعمل بصدق
 على التخلص منها. تذكر دائماً أن مواجهة نقاط ضعفك لا يعني مواجهة نفسك أو
 تغيير شخصيتك، بل يعني أنك ترغب بأن تكون الأفضل.</li>
<li ><strong>عبر عن مشاعرك!</strong>&nbsp;لا
 تترك القلق يتراكم في داخلك. عندما تشعر بالخوف أو الشك في حالة ما، تحدث 
مع شخص قريب منك وأستمع لمشورته. احذر من الحلول السريعة، والإعتقاد بأن 
الأمور ستتعدل من تلقاء نفسها.</li>
<li ><strong>استمع لكل شيء!</strong>&nbsp;لا تحاول صرف الأفكار بشكل تلقائي. استمع لها، خذ وقتك في التفكير فيها، ثم أطلق حكمك عليها.</li>
<li ><strong>ابتسم في وجه النقد!</strong>&nbsp;تذكر
 أن الناس لن يتفقوا معك جميعهم، وكذلك لن يتمكنوا من فهمك. حاول أن ترى 
النقد والمعارضة على أنها فرصة للتطور والنمو الشخصي.</li>
<li ><strong>لاحظ الإختلافات الشخصية!</strong>&nbsp;هناك 15 صنف شخصية غير شخصيتك، حاول استيعاب واستقراء أصناف الناس من حولك، وتفهم وجهات نظرهم.</li>
<li ><strong><strong>حاسب نفسك!</strong>&nbsp;</strong>وتذكر بأنك أنت أكثر الأشخاص قدرة على التحكم في نفسك وإدارتها.</li>
<li ><strong>كن رحيماً في توقعاتك!</strong>&nbsp;توقع
 الكثير من الآخرين، يعني أنهم في معظم الحالات سيخيبون ظنك. خيبة الظن هذه
 ستجعلهم ينفرون منك، وقد تخسر أصدقائك. حاول أن تكون متواضعاً في توقعاتك،
 وعامل الآخرين كما ترغب بأن تعامل.</li>
<li ><strong>افترض الأفضل دائماً!</strong>&nbsp;لا تضيق على نفسك بتوقع الأسوء دائماً، وتذكر أن الموقف الإيجابية دائماً ما يخلق نتائج إيجابية.</li>
<li ><strong>اسأل عندما تكون في شك!</strong>&nbsp;لا تتوقع بأن عدم حصولك على المعلومة هو نفس الحصول على معلومة سلبية. إذا لم تحصل على معلومة تحتاج لها أطلبها ولا تتردد.</li>
</ol>
    <br/>
<ion-item menu-close href="#/app/Copmatability">
       <i class="ion-heart"></i>   شاهد توافقك مع بقية الشخصيات<i class="ion-heart"></i>
        </ion-item>
         </div>

</center>
  </ion-content>
</ion-view>
