<ion-view view-title="ESTJ">
  <ion-content>
      <center>
    <div>
                  <h1 class="description-title">
                             ESTJ شخصية
                    </h1>

              
          <img src="img/estj.png"  width="90%" />

        <h1 class="description-nicetitle">“التنفيذي”</h1>
      
    

          <h3>من صفاته الرئيسية</h3>

        <br />
منفتح.. حسي.. مفكر.. حكم صفاته <br />
<br />
  قوي منفتح على الآخرين... يتفاعل مع الناس دائماً<br />
<br />
  واقعي لا يحب الخيال... يحب النظرة الواقعية ( أرى بعيني لأصدق )<br />
<br />
  مفكر عقلاني... منطقي وجاف المشاعر نسبياً<br />
<br />
  يحلل الواقع ويزنه بصورة منطقية<br />
<br />
  صارم وحازم في قراراته وسريع في اتخاذ القرار... واضح وصريح ولا يهاب شيئاً<br />
<br />
  ينظم الأمور ويدير النشاطات بصورة رائعة... الحارس الأمين<br />
<br />
  بعد 3 ثوان يقرر هل يكمل معك الحوار أم لا... وليسعمك عليك أن تقول ما يريده بسرعة وفي 3 كلمات<br />
<br />
  مشغول دائماً وعملي جداً... ليس لديه وقت ليضيعه في توافه الأمور<br />
<br />
  يتعامل مع الحقائق المادية ويرفض العواطف ولا يضيع فيها وقته<br />
<br />
  لديه ميل فطرى للقيادة وهو جدير فعلاً بالقيادة<br />
<br />
  لديه اهتمام قليل بالنظريات والخيال<br />
<br />
  يحب أن يتعلم المهارة التي يحتاجها فعلاً في حياته<br />
<br />
  يبدو أحياناً أنه يسيطر على الناس ( ديكتاتوري (<br />
<br />
  مهارة كبيرة في إدارة العمل... ويحسم الأمور بكفاءة<br />
<br />
  يتحرك بسرعة لتطبيق القرارات المتفق عليها ولا يثنيه عن عزمه شيء مهما كان<br />
<br />
  يهتم بالتفاصيل... ولديه قدرة كبيرة على تطبيق ذلك<br />
<br />
  لا يبالي بالمواضيع غير المفيدة ولا يضيع فيها وقته<br />
<br />
  مدير جيد... ينظر نظرة منطقية وغير عاطفية... واضح ( ليس عنده لف ولادوران(<br />
<br />
  ينظم الأوضاع من حوله ويرتبها... صاحب حجة حاضرة ومقنع<br />
<br />
  يتوقع من الآخرين أن يكونوا مثله... يتعب جدا إذا كان من حوله مهملين وغير منظمين<br />
<br />
  الناس يرونه جافاً ويحب السيطرة على الآخرين وإجبارهم على أن يكونوا مثله<br />
<br />
  يقدر الكفاءة والتميز...( في تلاميذه )<br />
<br />
  موضوعي للغاية فيفهم وحل المشكلات<br />
<br />
  لا يصبر طويلاً على الفوضى والتسيب والإهمال... منطقي يرفض أنصاف الحلول<br />
<br />
  نادراً ما يأخذ الأمور بصفة شخصية... ويقدر الكفاءة فقط دون غيرها<br />
<br />
  يستطيع أن يعمل لوحده... الناس يستمدون قوتهم منه... ولسان حاله: ( أنا لا أحتاجكم بل أنتم الذين تحتاجون إليّ )<br />
<br />
  صاحب ضمير حي... ويمكن الاعتماد عليه لأبعد الحدود<br />
<br />
  يتكلم بطلاقة وواثق جداً من كلامه... عنده قدرة عجيبة على تأكيد وجهة نظره<br />
<br />
  كن قليل الكلام معه... وكن مرتباً ومنظماً في كلامك<br />
<br />
  كن حازماً وصارماً في التعامل مع هذه الشخصية... لأنه سوف يقدر ذلك منك إذا كنت على حق<br />
<br />

        
          <h2>“قراءة بالعمق”</h2>
	<blockquote>
			 <p>“حسن النظام هو أساس كل شيء.”</p>
			 <footer>إدموند بيرك</footer>
			</blockquote>

			<p>شخصيات ESTJ يمثلون التقاليد والنظام، وذلك باستخدام فهمهم لما هو 
الصواب والخطأ والمقبول اجتماعيا للم شمل الأسر والمجتمعات معا. وهم 
يحتضنون قيم الصدق والتفاني والكرامة، ويقدرهم الناس لنصائحهم وتوجيهاتهم 
الواضحة، وأنهم يقودون بسعادة الطريق على المسارات الصعبة. ولاعتزازهم 
بقدرتهم على التقريب بين الناس، فشخصيات ESTJ غالبا ما تأخذ أدوار منظمين 
المجتمع، وتعمل جاهدة لجلب الجميع معا في الاحتفال بالأحداث المحلية 
العزيزة، أو دفاعا عن القيم التقليدية التي تجمع الأسر والمجتمعات معاً.</p>

			<h2>جميع الناس تستحق احترام ما يعتقدون أنه الحق ...</h2>

			<p>الطلب على مثل هذه المهارة القيادية التي تشخصها هذه الشخصية عال في 
المجتمعات الديمقراطية، ولأنها تشكل ما لا يقل عن 11٪ من البشر، فلا عجب أن
 العديد من رؤساء أميركا كانوا من شخصيات ESTJ. شخصيات ESTJ مؤمنون أقوياء 
بسيادة القانون والسلطة التي يجب اكتسابها، ومثالا يحتذى به على الإخلاص 
والصدق الهاد، والرفض المطلق للكسل والغش، وخصوصا في العمل. إذا أعلن أي 
شخص أن حبه للعمل الشاق واليدوي هو وسيلة ممتازة لبناء الشخصية، فستجده من 
شخصيات ESTJ.</p>

			<p>شخصيات ESTJ هم على علم بمحيطهم، ويعيشون في عالم من الصراحة 
والحقائق التي يمكن اثباتها , ومعرفتهم تلك تعني أنها شخصية تتمسك بمبادئها
 وتؤمن برؤية صافية لما هو مقبول وما هو غير مقبول حتى مع المقاومة 
الشديدة. آراؤهم ليست مجرد كلام فارغ، فشخصية ESTJ على أتم استعداد لتغوص 
في المشاريع الأكثر تحديا، وتحسين خطط العمل وفرز التفاصيل على طول الطريق،
 مما يجعل حتى أكثر المهام تعقيدا تبدو سهلة وودودة.</p>

			<p>ومع ذلك، فشخصية ESTJ لا تعمل وحدها، وهي تتوقع أن ينتهج جميع من في 
بيئة عملها موثوقيتها وأخلاقياتها في العمل , فالأشخاص الذين ينتمون لهذا 
النوع من الشخصية يوفون بوعودهم، وإذا حاول الشركاء أو المرؤوسين تعريضهم 
للخطر من خلال عدم الكفاءة أو الكسل، أو الأسوأ من ذلك، خيانة الأمانة، فهم
 لا يترددون في إظهار غضبهم. وهذا يمكن أن يكسبهم سمعة لعدم المرونة، وهي 
سمة مشتركة بين جميع فئة المنظمون (SJ)، ولكن هذا ليس بسبب شخصية ESTJ 
العنيدة بشكل تعسفي، ولكن لأنهم يعتقدون حقاً أن هذه القيم هي التي تجعل 
المجتمع ناجحاً.</p>

			<h2>...لكن الأفضل هم أولئك الذين يعترفون بالخطأ عند حدوثه.</h2>

			<div class="description-pullout">شخصية ESTJ عبارة عن صور كلاسيكية 
للمواطن النموذجي: فهي شخصية تساعد جيرانها، تتمسك بالقانون، وتحاول التأكد
 من أن الجميع يشارك في المجتمعات المحلية والمنظمات التي يعتزون بها.</div>

			<p>ويتمثل التحدي الرئيسي لشخصيات ESTJ هو أن ليس جميع الناس لديهم 
الاستعداد لاتباع نفس المسار أو المساهمة في نفس الطريق. والزعيم الحقيقي 
هو من يقدر قوة الفرد كما يقدر قوة اللجماعة، ويساعد على طرح أفكار هؤلاء 
الأفراد على طاولة المفاوضات. وبهذه الطريقة، فإن شخصيات ESTJ لديها كل 
الحقائق، وقادرة على قيادة هذا الدور في الاتجاهات التي تعمل من أجل 
الجميع.</p>


             

			<p>شخصيات ESTJ الشهيرة:</p>

			<div class="celebrity-list">
			

                 <img src="img/FAAMOUSQUIZ/ESTJ.PNG" /> <br /><br />
                <img src="img/MOVIESQUIZ/ESTJ.PNG" />
                <br />
<br />
                        <img src="img/imagesqiz/ESTJ.PNG" />   <br /><br />
				<div class="well well-sm">جيمس مونرو</div>
				<div class="well well-sm">أندرو جاكسون</div>
				<div class="well well-sm">وليام هنري هاريسون</div>
				<div class="well well-sm">فرانكلين بيرس</div>
				<div class="well well-sm">غروفر كليفلاند</div>
				<div class="well well-sm">جورج دبليو بوش</div>
				<div class="well well-sm">ليندون جونسون</div>
				<div class="well well-sm">جون روكفلر</div>
				<div class="well well-sm">سونيا سوتومايور</div>
				<div class="well well-sm">أليك بالدوين</div>
				<div class="well well-sm">القاضية جودي</div>
				<div class="well well-sm">نانسي غريس</div>
				<div class="well well-sm">"برو مير" من سيد الخواتم</div>

         </div>

        <br /><br />
        <h1 >النصائح العشر للنجاح كتنفيذي:</h1>
<ol >
<li><strong>ركز على نقاط قوتك!</strong>&nbsp;أعط نفسك الفرصة لتبرز 
قدراتك الطبيعية. أنت تتميز بقدرة على خلق المنطق ووضع المبادئ الأخلاقية 
التي تتجاوز حدود التجارب الشخصية. ولكن لا تنسى أنك تحتاج للحصول على كافة
 المعلومات لتكتمل عندك الصورة.</li>
<li><strong>واجه نقاط ضعفك!</strong>&nbsp;كما تقبلت نقاط قوتك، تفهم أن 
هناك نقاط ضعف في شخصيتك، وأنك يجب أن تعمل بصدق على التخلص منها. خصوصاً، 
رغبتك في الإستعجال في اتخاذ القرارات، وتجاهل مشاعر الآخرين.</li>
<li><strong>ناقش أفكارك مع نفسك أو أكتبهم على الورق!</strong>&nbsp;ستحتاج
 لأن تنظر في أفكارك بترو، لتستوعب الصورة الكاملة. قد يكون في كتابة هذه 
الأفكار على الورق أداة رائعة ستستفيد منها كثيراً.</li>
<li><strong>اجمع كافة المعلومات!</strong>&nbsp;لا تصرف نظرك عن معلومة لإعتقادك بأنك تعرفها مسبقاً. خذ المعلومة، استوعبها وبعدها قرر.</li>
<li><strong>عندما تغضب أنت تخسر!</strong>&nbsp;إهتمامك بالقيم أمر رائع، 
ولكن لا تدمر أفكارك بالوقوع في فخ الغضب. الغضب سيضر بعلاقاتك الشخصية، 
وسيجرح الآخرين. حاول أن تتأنى وتنظر في الموضوع قبل أن تطلق غضبك على 
الآخرين. وتذكر أن الخلافات لا تحل إلا بطريقة مهنية وأخلاقية.</li>
<li><strong><strong>تصرف على طبيعتك في العلاقات الشخصية!</strong></strong>&nbsp;قد
 لا تكون صاحب مشاعر فياضة، فأنت تبحث عن التوافق العقلي قبل العاطفي. توقع
 أن تتحدث أفعالك أكثر من أقوالك مع المقربين منك. ولكن تذكر دوماً أن هذا 
غير كاف للكثير، حيث أنهم يحتاجون للعاطفة من وقت لآخر.</li>
<li><strong>حاسب نفسك!</strong> وتذكر بأنك أنت أكثر الأشخاص قدرة على التحكم في نفسك وإدارتها.</li>
<li><strong>كن متواضعاً!</strong> حاسب نفسك بنفس درجة الحدة التي تود أن توقعها على الآخرين.</li>
<li><strong>قاوم الإغراء للتحكم بالآخرين!</strong>&nbsp;لا يمكنك فرض 
طريقة تفكيرك أو عملك على الجميع. تذكر أنهم يعيشون حياتهم وفق ظروف خاصة 
بهم، قد لا تعرفها أو لا تستوعبها. تجب السيطرة، وتذكر أن تكون عادلاً في 
حكمك على الآخرين.</li>
<li><strong>اقض بعض الوقت بمفردك!</strong>&nbsp;حفز تطوير الجانب 
الإنطوائي من شخصيتك، لتتمكن من الإختلاء بنفسك والتفكير في الأمور وبحثها 
بمفردك. كلما تطورت هذه الصفة، كلما فتحت لك أبواب جديدة في حياتك.</li>
</ol>
        <br /><br />
		<ion-item menu-close href="#/app/Copmatability">
       <i class="ion-heart"></i>   شاهد توافقك مع بقية الشخصيات<i class="ion-heart"></i>
        </ion-item>
</center>
  </ion-content>
</ion-view>
