<ion-view view-title="INTP">
  <ion-content>
     <center>
    <div>
                    <h1 class="description-title">
                             INTP شخصية
                    </h1>

                    <img src="img/intp.png" width="90%"  />
    
        <div class="description-nicetitle">“المنطقي”</div>

     <br /> <br />


           <h3>من صفاته الرئيسية</h3>

        <br />
متحفظ .. حدسي .. مفكر .. تلقائي<br />
صفاته:<br />
<br />
• عبقري من الطراز الأول... وحلال المشاكل بطريقة عبقرية إلى أبعد الحدود<br />
<br />
• من أفضل الناس في التخطيط الاستراتيجي<br />
<br />
• محافظ بطبعه قليل الأصدقاء... من أهم أمور حياته الاستقلالية... ولا يحب التدخل في أموره الخاصة<br />
<br />
• صاحب خيال وإبداع ورؤية مستقبلية<br />
<br />
• النقطة الأساسية فيه... أنه مفكر من الطراز الأول<br />
<br />
• هادئ في حياته... قليل الكلام عن أسراره الشخصية<br />
<br />
• متعته ملاحقة النظريات العلمية... وتحليلها والتفكيرفيها<br />
<br />
• يحل المشاكل عن طريق المنطق والعقلانية والتحليل العلمي المنهجي<br />
<br />
• يهتم بالأفكار وليس التعامل مع الناس... لا يحب المنتديات والمجتمعات المفتوحة<br />
<br />
• واضح مع نفسه... ويعرف ما يريده جيداً<br />
<br />
• غيرغامض... واضح الملامح في حياته<br />
<br />
• يعشق الإتقان والكفاءة... ويكره الإهمال والتسيب<br />
<br />
• يتوقع من الناس أن يكونوا مثله<br />
<br />
• ناقد لكل شيء تقريباً،ويبحث عن إصلاح الأخطاء... مستقل بذاته، ولا يعتمد على أحد ( يعيش لوحده (<br />
<br />
• فضولي ويهتم بالجديد دائماً<br />
<br />
• يتفاعل مع الأحداث ويتفجر حيوية ونشاطاً<br />
<br />
• لديه رؤية منطقية قوية... بحيث يصل إلى لب الموضوع وأساس المشكلة<br />
<br />
• قدرته فائقة على حل المشكلات الصعبة بصورة عبقرية ومحايدة ومختصرة... بطريقة منهجية وعقلانية<br />
<br />
• يسأل أسئلة قوية وصعبة... لأنه يتحدى نفسه قبل أن يتحداك<br />
<br />
• نقاشاته فكرية من الطراز الأول... سريع البديهة وحاضرالفكرة<br />
<br />
• لديه ميل طبيعي لبناء نظام منطقي وعقلاني لتفسير الأحداث<br />
<br />
• يكره بشدة الروتين... ويحس أنه في سجن<br />
<br />
• يفضل قول الحقيقة... ويكره اللف والدوران<br />
<br />
• يفضل عدم السيطرة على الآخرين... وعدم فرض وجهة نظره عليهم<br />
<br />
• هادئ محافظ قليل الكلام... إلا في المواضيع التي تخصه ويهتم بها<br />
<br />
• يرفض أن يتدخل أحد في أموره الشخصية بدون إذنه... يضع حدوداً لتعامله مع الآخرين<br />
<br />
<br />
        <h2>“قراءة بالعمق”</h2>
        	<blockquote>
			 <p>“ما إذا كان الدجاج عبر الطريق أو الطريق عبر الدجاج فذلك يعتمد على الإطار الخاص بك من المرجعية.”</p>
			 <footer>ألبرت أينشتاين</footer>
			</blockquote>

			<p>نوع شخصية INTP نادر إلى حد ما، فهم ثلاثة في المئة فقط من البشر، 
وذلك بالتأكيد شيء جيد بالنسبة لهم، حيث لا يوجد شيء أكثر ازعاج لهم من 
كونهم "منتشرين". شخصيات INTP يفخرون بقدرتهم على الابتكار والإبداع، ووجهة
 نظرهم الفريدة من نوعها وفكرهم القوي. وعادة ما يعرفون باسم الفيلسوف، 
المهندس، أو الأستاذ الحالم، كما يعزى لهم الفضل في العديد من الاكتشافات 
العلمية على مر التاريخ.</p>

			<h2>الحياة غير المدروسة لا تستحق أن تعاش</h2>

			<div class="description-pullout">شخصيات INTP معروفون بنظرياتهم الرائعة ومنطقهم الذي لا يهدأ , في الواقع، فهم يعتبرون أكثر أنواع الشخصيات دقة من الناحية المنطقية.</div>

			<p>إنهم يحبون الأنماط، وهوايتهم اكتشاف الاختلافات بين البيانات، مما 
يجعل فكرة الكذب عليهم فكرة سيئة. وهذا يجعل من المفارقات أن الكلمة 
الصادرة من شخصيات INTP ينبغي دائما أن تؤخذ مع حبة ملح , ليس لأنهم غير 
شرفاء، ولكن الناس من نوع هذه الشخصية يميلون إلى تبادل الأفكار التي لم 
يتم تطويرها بشكل كامل، وذلك باستخدام الآخرين كمسبار للأفكار والنظريات في
 مناظرة ضد أنفسهم بدلاً من شركاء محادثة فعلية.</p>

			<p>وهذا قد يجعلهم غير موثوق بهم، ولكن في الواقع ليس هناك من هو أكثر 
حماسا وقدرة على اكتشاف مشكلة ما، والتنقيب في عوامل وتفاصيل المشكلة التي 
لا نهاية لها، وتطوير حل فريد وقابل للتنفيذ أكثر من شخصيات INTP , فقط لا 
تتوقع تقارير محددة للخطة الزمنية للحل. فالناس من نوع هذه الشخصية لا 
يهتمون بالأنشطة العملية اليومية، ولكن إذا وجدوا بيئة صالحة للتعبير عن 
عبقريتهم وإمكاناتهم الإبداعية، فليس هناك حد لما يمكن أن تعطيه تلك 
الشخصيات من الوقت والطاقة لوضع حل ثاقب وغير متحيز.</p>

			<h2>الحكمة تبدأ من التعجب</h2>

			<p>قد يبدون لك أنهم انحرفوا عن الواقع إلى أحلام اليقظة التي لا تنتهي،
 ولكن شخصيات INTP في عملية تفكير متواصل، ولهم عقول طنانة بالأفكار منذ 
لحظة الاستيقاظ. هذا التفكير المستمر يمكن أن يجعلهم يبدون متأملين 
ومنفصلين، لأنهم في كثير من الأحيان يجرون مناقشات كاملة في رؤوسهم، ولكنهم
 يشعرون بالارتياح والودية عندما يكونون مع أشخاص يعرفونهم، أو يشاركونهم 
اهتماماتهم. ومع ذلك، فهذا يمكن الاستعاضة عنه بالخجل الساحق لدى تلك 
الشخصيات عندما يكونوا وسط وجوه غير مألوفة، والمزاح الودي الذي قد يتلقونه
 من تلك الوجوه قد يصبح بسرعة معركة قتالية إذا أحسوا أن النقد سيطال 
استنتاجاتهم أو نظرياتهم المنطقية.</p>

			<p>عندما تكون شخصيات INTP متحمسة بشكل خاص، يمكن للمحادثة أن تقترب من 
حدود التنافر إذا حاولوا شرح سلسلة الاستنتاجات المنطقية التي أدت إلى 
تشكيل أحدث أفكارهم. في كثير من الأحيان، سوف تتنقل تلك الشخصيات بين 
الموضوعات قبل أن يفهم أي أحد ما كانوا يحاولون قوله، بدلاً من محاولة وضع 
الأمور في نصابها العادي.</p>

			<p>والعكس يمكن أن يكون صحيحاً عندما يفسر الناس عمليات أفكاراً مثل 
الذاتية والشعور لشخصيات INTP. تخيل صورة معقدة للغاية، تأخذ فيها كل حقيقة
 وفكرة ممكنة، وتعالجها بجرعة كبيرة من التفكير الإبداعي وتستنبط أكثر 
النتائج المنطقية المتاحة , هذه هي كيفية عمل عقل شخصيات INTP، فهذا النوع 
لا يتحمل التشويش العاطفي على الأجهزة الدماغية الخاصة بهم.</p>

			<h2>قل للذين يريدون تغيير العالم أن يغيروا من أنفسهم أولاً</h2>

			<p>لأن التركيز على المنطق (T) هو واحدة من الصفات التي تحكم هذه 
الشخصية، فمن غير المرجح أن تفهم الشكاوى العاطفية على الإطلاق، وسوف لن 
يجد عندهم أصدقائهم الدعم العاطفي الذي ينشدونه. فشخصيات INTP تفضل كثيرا 
إعطاء سلسلة من الاقتراحات المنطقية لكيفية حل القضية الأساسية، وهي وجهة 
نظر ليست موضع ترحيب دائماً لأصحابهم من نوع شخصية التركيز على المبادئ 
(F). ومن المرجح أن يمتد هذا التفكير المنطقي إلى معظم العلاقات والأهداف 
الاجتماعية أيضاً، مثل التخطيط لعشاء أو الزواج، فشخصيات INTP هي معنية 
أكثر بالنتائج الفعالة.</p>

			<p>الشيء الوحيد الذي يؤخرحقاً شخصيات INTP هو خوفهم الذي لا يهدأ من 
الفشل. فشخصيات INTP معرضة جداً لإعادة تقييم أفكارهم ونظرياتهم الخاصة، 
ويقلقون إذا غاب عنهم بعض من التفاصيل المهمة من هذا اللغز، وبالتالي 
يشعرون بالركود والخسارة في عالم غير مادي لا يتم فيه تطبيق أفكارهم. 
التغلب على هذه الشكوك الذاتية هو أعظم تحدي يواجه فشخصيات INTP، ولكن 
الهدايا الفكرية , الكبيرة والصغيرة , التي ينعمون بها على العالم عندما 
يخطئون تجعل الأمر يستحق القتال.</p>

			<p>فشخصيات INTP الشهيرة:</p>

			<div class="celebrity-list">

                 <img src="img/FAAMOUSQUIZ/INTP.PNG" /> <br /><br />
                <img src="img/MOVIESQUIZ/INTP.PNG" />
                <br />
<br />    <img src="img/imagesqiz/INTP.PNG" />
                         <br /><br />
				<div class="well well-sm">سقراط</div>
				<div class="well well-sm">رينيه ديكارت</div>
				<div class="well well-sm">بليز باسكال</div>
				<div class="well well-sm">إسحاق نيوتن</div>
				<div class="well well-sm">كارل يونغ</div>
				<div class="well well-sm">ألبرت أينشتاين</div>
				<div class="well well-sm">جيمس ماديسون</div>
				<div class="well well-sm">دوايت ايزنهاور</div>
				<div class="well well-sm">جيرالد فورد</div>
			</div>
    

         </div><br /><br />
        <h1 >النصائح العشر للنجاح كمنطقي:</h1>
<ol >
<li><strong>ركز على نقاط قوتك!</strong>&nbsp;إتقانك لحل المشاكل المنطقة وتحليل الحالات هي سر قوتك. أعط نفسك الفرصة لتجربة أمور جديدة وتطبيق نقاط قوتك.</li>
<li><strong>واجه نقاط ضعفك!</strong>&nbsp;كما تقبلت نقاط قوتك، تفهم أن هناك نقاط ضعف في شخصيتك، وأنك يجب أن تعمل بصدق على التخلص منها.</li>
<li><strong>تحدث عن أفكارك!</strong>&nbsp;تحتاج لأن تنظر في أفكارك وحدسك
 لتقوم بترتيبه بالشكل الصحيح. أعط نفسك الوقت للقيام بذلك، واستغل الفرصة 
لمناقشة أفكارك مع الآخرين. ستجد بأن النقاش يساعدك بشكل كبير على وضع تصور
 أفضل لأفكارك.</li>
<li><strong>استمع لكل شيء!</strong>&nbsp;لا تحاول صرف الأفكار بشكل تلقائي. استمع لها، خذ وقتك في التفكير فيها، ثم أطلق حكمك عليها.</li>
<li><strong>لاحظ الآخرين!</strong>&nbsp;تذكر أن كل شخص لديه حياة ووجهات 
نظر خاصة به. والجميع لديه ما يقدمه لك. حاول أن تقرأ أصناف الشخصيات لتحسن
 من التعامل معهم والإستفادة منهم.</li>
<li><strong><strong>اكتشف المبادئ والعادات الإجتماعية!</strong></strong>&nbsp;انتبه
 بأن المجتمعات تتعارف على مبادئ وعادات إجتماعية، وفي حالة عدم التزام 
افراد المجتمع بهذه العادات فإن المجتمع سيفشل. عندما لا ترى في عادة 
تأثيراً مباشراً على حياتك، لا تتجاهلها. ولكن احترمها لتساعد على استقرار 
المجتمع وسلامته.</li>
<li><strong><strong>اخرج من المنطقة المألوفة لديك!</strong></strong> نموك يتعمد بشكل كبير على ارتكابك لبعض المخاطرات، والخروج إلى تجربة أمور جديدة لم يسبق لك القيام بها.</li>
<li><strong>تعرف على مشاعرك وعبر عنها!</strong>&nbsp;قد لا يكون ذلك 
بالأمر السهل لديك، ولكن حاول أن تغوص في أعماق نفسك وتستكشف مشاعرك 
واحاسيسك. وعندما تجد في نفسك مشاعر تجاه شخص، اخبره بذلك. لا تحبسها في 
داخلك، هذا الأمر سيشعر الطرف الآخر بالأمان، وإن كان ذلك في ظل علاقة 
زوجيه، هذا ما سيساعدها على الإستمرار.</li>
<li><strong><strong >كن مسؤولاً عن نفسك!</strong></strong><span >&nbsp;وتذكر أن لا أحد لديه القدرة على السيطرة على حياتك وقراراتك عداك أنت. فلا تجعل من نفسك ضحية.</span></li>
<li><strong>افترض الأفضل دائماً!</strong>&nbsp;لا تضيق على نفسك بتوقع الأسوء دائماً، وتذكر أن الموقف الإيجابية دائماً ما يخلق نتائج إيجابية.</li>
</ol>
<br/>
<ion-item menu-close href="#/app/Copmatability">
       <i class="ion-heart"></i>   شاهد توافقك مع بقية الشخصيات<i class="ion-heart"></i>
        </ion-item>
</center>

  </ion-content>
</ion-view>
