<ion-view view-title="ISFJ">
  <ion-content>
     <center>
    <div>
                 
                          <h1 class="description-title">
                             ISFJ شخصية
                    </h1>

                    
    <img src="img/isfj.png" width="90%"  />
        <div class="description-nicetitle">“المدافع”</div>

    <br /><br />


           <h3>من صفاته الرئيسية</h3>
        <br />
متحفظ .. حسي .. مشاعري .. حكم<br />
صفاته:<br />
<br />
• لا يمكن الاستغناء عنه... لا في البيت ولا في العمل ولا في أي مكان<br />
<br />
• كلمتي عهدي وأهم من أي قانون... والكرم عنده أسطوري<br />
<br />
• خدمة الآخرين قبل المصلحة الشخصية... إحساسه بالمسؤولية فطرى من داخله<br />
<br />
• محافظ قليل الكلام، عميق الفكرة داخل نفسه... عملي مرتب ويحب التفاصيل<br />
<br />
• أهم مميزاته أنه واقعي... يعيش الواقع بحواسه ولا يحب الخيال<br />
<br />
• حازم صارم وصاحب قرار... يميل أن يكون في موقع القيادة<br />
<br />
• ودود عطوف وصاحب ولاء... ضميره حي بصورة فطرية<br />
<br />
• إذا قال نفذ ما قال مهما كان... يمكن الاعتماد عليه إلى أقصى درجة<br />
<br />
• يعمل بلا كلل ولا ملل، يتحمل الألم والضغط... يقدر مشاكل الآخرين وأحاسيسهم<br />
<br />
• يهتم بالجميع... صغيرهم وكبيرهم، غنيهم وفقيرهم... بمشاعرهم وتفاصيل حياتهم<br />
<br />
• عنصر ثبات في أي مكان يوجد فيه... لا يتغير ولا يتلون، واضح ومستقيم<br />
<br />
• لا يهتم بالأمور العلميةالفنية... يهتم بالتفاصيل الدقيقة المادية والإنسانية مثل نبرة الصوت وتعبير الوجه وحركة الجسم<br />
<br />
• يحب الدين والأصول والثبات في الأمور... يحب المبادئ والقيم بشكل كبير<br />
<br />
• عنده خزينة كبيرة من المعلومات والخبرات العريضة<br />
<br />
• متواضع هادئ الطباع... صلب من الداخل وقوي<br />
<br />
• ملتزم بواجباته خصوصاً في الدين والتقاليد... وبطريقة علمية ودقيقة ومفصلة<br />
<br />
• يحب أن يتعلم وأن يعلم<br />
<br />
• لديه آراء واعتقادات قوية... لأنها مبنية على أساس متين من المبادئ والقيم الثابتة والصلبة<br />
<br />
• لديه وفرة من الخبرات... ولكن في داخل نفسه وسوف تعرفها فقط إذا سألته<br />
<br />
• يحترم نظام العمل المتعارف عليه ( الرئيس رئيس، والمرؤوس مرؤوس )...لأن هذا هو المنطق في رأيه<br />
• يحترم النظام الإداري... ويحترم القيادات<br />
• يفضل الثبات ولا يحب التغيير .إلا إذا كان من وراءه فائدة له وللآخرين، أو إذا كان التغيير أكثر كفاءة من النظام السابق<br />
• يتعامل مع الناس من كل فئاتهم... وبرغم ذلك فهو لا يصدق أي كلام يقال له<br />
• قوته في أن يعرف... هل الذي أمامه صادق أم كاذب... وفي ثوان، وقد لا يظهر ذلك لك ولكنه يعرف(لا يخدعه أحد ويعرف أعماق الناس )<br />
<br />
<b><br />

      <h2>“قراءة بالعمق”</h2>
	<blockquote>
			 <p>“الحب ينمو فقط من خلال المشاركة. يمكن أن تستمتع بالكثير من الحب فقط إذاعطيته للآخرين.”</p>
			 <footer>براين تريسي</footer>
			</blockquote>

			<p>نوع شخصية ISFJ فريدة من نوعها تماما، لأن هناك العديد من الصفات 
التي تحدد سماتهم الفردية. على الرغم من كون شخصية ISFJ من الشخصيات 
المركزة على المبادئ (F)، إلا أن لها قدرات تحليلية ممتازة، وعلى الرغم من 
أنها من المجموعة الإنطوائية (I)، إلا أن لهم مهارات وعلاقات اجتماعية 
قوية. وعلى الرغم من أنها من نوع التخطيط (J)، إلا أن شخصية ISFJ غالبا ما 
تتقبل التغيير والأفكار الجديدة. كما هو الحال مع أشياء كثيرة، فالناس من 
نوع شخصية ISFJ هم أكثر من مجموع الأجزاء التي تكونهم، وهذه هي الطريقة 
التي يستخدمون بها هذه القوة لتعريف أنفسهم.</p>

			<div class="description-pullout">شخصيات ISFJ من المؤثرون، من يقابلون اللطف بلطف أزيد ويشاركون العمل والناس الذين يؤمنون بهم بحماس وكرم.</div>

			<p>ليس هناك نوع شخصيات أفضل من هذا النوع ليحتل هذه النسبة الكبيرة من 
البشر، ما يقرب من 13٪. فهم يجمعون بين أفضل ما في التقاليد وبين الرغبة في
 فعل الخير، ولذا تجد شخصيات ISFJ في صفوف العمل الأمامية مثل الطب 
والأكاديميين والعمل الاجتماعي الخيري.</p>

			<p>شخصيات ISFJ (وخاصة من المثقين) غالبا ما يتسموا بالدقة لدرجة 
الكمال، وعلى الرغم من أن الدقة تضيع الوقت، فإنك تستطيع الاعتماد على 
شخصيات ISFJ في انجاز مهمة ما في الوقت المحدد. شخصيات ISFJ على قدر 
المسؤولية، وقد يذهبون باستمرار إلى أبعد الحدود، ويقومون بكل ما في وسعهم 
لتجاوز التوقعات وإدخال السعادة على الآخرين، في العمل والمنزل.</p>

			<h2>يجب أن يرانا الناس ليصدقونا</h2>

			<p>التحدي الذي يواجه شخصيات ISFJ هو ضمان أن ما يفعلونه قد لوحظ. 
فلديهم ميل إلى التقليل من إنجازاتهم، وبينما ما تحظى طيبتهم بالاحترام، 
فمن المرجح أن يستفيد من تفاني شخصيات ISFJ وتواضعهم الناس الأكثر سخرية 
وأنانية عن طريق إيكال العمل لهم ثم نسب الفضل لنفسهم. شخصيات ISFJ تحتاج 
إلى أن تعرف متى تقول لا وتدافع عن تفسها إذا أرادوا الحفاظ على ثقتهم 
وحماسهم.</p>

			<p>وهم اجتماعيون بشكل طبيعي، ولذلك فهم نوعية غريبة من الفئة 
الانطوائية، حيث يستطيعون الاستفادة من الذكريات ممتازة ليس للاحتفاظ 
بتوافه الأمور، ولكن لتذكر الناس، وتفاصيل حياتهم. عندما يتعلق الأمر 
بالمواهب، فليس هناك مثل شخصيات ISFJ في استخدام خيالهم والحساسية الطبيعية
 لديهم في التعبير عن كرمهم بطرق تلمس قلوب المتلقين لها. في حين أن هذا 
صحيح عن زملاء العمل، وهم الأشخاص الذين تعتبرهم شخصيات ISFJ أصدقاؤهم 
الشخصيون، فإن في نطاق العائلة تزدهر بالكامل تعابير المودة لدى تلك 
الشخصيات.</p>

			<h2>إذا استطعت أن أحميك، فسأفعل</h2>

			<p>شخصيات ISFJ هي مجموعة رائعة، نادرا ما تجلس في خمول في حين لا تزال 
قضية نبيلة بلا حل. قدرة شخصيات ISFJ في التواصل مع الآخرين على المستوى 
الحميم لا مثيل لها بين فئات الشخصية الانطوائية، والسعادة التي يعيشونها 
عند استخدام تلك القدرة تساعدهم على الحفاظ على أسرة سعيدة داعمة، وتلك 
منحة إلاهية لجميع المعنيين. ولا يمكن لهذه الشخصيات أن تشعر أبدا بالراحة 
في دائرة الضوء، وربما تشعر بالذنب لنسب فضل جهود الفريق لنفسهم، ولكن اذا 
كان بامكانهم ضمان أن يتم التعرف على جهودهم، فمن المرجح أن يشعروا بمستوى 
من الارتياح في ما يفعلونه وهوما تحلم به العديد من أنواع الشخصيات الأخرى.</p>

       

			<p>شخصيات ISFJ الشهيرة:</p>

			<div class="celebrity-list">
                   <img src="img/FAAMOUSQUIZ/ISFJ.PNG" /> <br /><br />
                <img src="img/MOVIESQUIZ/ISFJ.PNG" />
                <br />
<br />    <img src="img/imagesqiz/ISFJ.PNG" />
                         <br /><br />

				<div class="well well-sm">الملكة اليزابيث الثانية</div>
				<div class="well well-sm">روبرت إي لي</div>
				<div class="well well-sm">الملكة ماري الأولى</div>
				<div class="well well-sm">هالي بيري</div>
				<div class="well well-sm">"سام وايز غامجي" من سيد الخواتم</div>
				<div class="well well-sm">"الدكتور واتسون"، شريك شيرلوك هولمز</div>

			</div>

    

         </div>
        <br /><br />

        		                    
                  	<h1>النصائح العشر للنجاح كمدافع:</h1>
<ol>
<li >&nbsp;<strong>ركز على نقاط قوتك!</strong>&nbsp;اسمح
 لقدرتك على اكتشاف التوزان وموهبتك في تحقيق الإنسجام بالظهور والإنتشار 
في العالم من حولك. اسمح لنفسك بتفعيل موهبة التصميم، الترتيب، وتنظيم 
الأشياء في حياتك وفي عملك. وأبحث عن هوايات تساعدك على استخدام هذه 
المهارات وتطويرها.</li>
<li ><strong>واجه نقاط ضعفك!</strong>&nbsp;تقبل
 حقيقة أن بعض الأشياء، ومهما حاولت لن تكون كما تريد أو كما خططت لها. 
تفهم أن مشاعر الناس مهمة لذاتها أكثر من مدى كونها صحيحة أو خاطئة. وتذكر 
أن مواجهة الخلافات أو الإختلافات لا يعني بالضرورة أنك يجب أن تغير من 
قناعاتك وأفكارك، ولكنها فرصة ذهبية للتطور.</li>
<li ><strong>إستكشف العالم من حولك!</strong>&nbsp;لا
 تفترض دائماً بأنك تعرف ما هو الخيار الأفضل للآخرين. إفتح قلبك وتفهم أن 
لهم حاجات وأهداف في الحياة، مهمة بقدر أهمية أهدافك لك، يتوجب اكتشافها 
ومعرفتها، وأفضل طريق لإكتشاف تلك الحاجات هو من خلال العلاقات.</li>
<li ><strong>لا تتسرع!</strong>&nbsp;قبل أن تصدر أحكاماً اترك الأشياء لتستقر، واعط الآخرين فرصة لتقرير ما هو الأفضل لهم، وادعمهم حين يقوموا بذلك.</li>
<li ><strong>تفحص العالم بعناية!</strong>&nbsp;تذكر
 أن الأمور ليست دائماً بظواهرها، فقد يكون تحت السطح عوامل وحقائق وأمور 
كثير مهمة ولكنها تخفى عمن لا يدقق النظر. خصوصاً عندما تشعر بأنك واثق من 
حكمك الأول على حالة ما، لا تنسى أن هناك طبقات تحت العناصر التي شاهدتها 
في النظرة الأولى، لم تأخذها بعين الإعتبار.</li>
<li ><strong>دع الآخرين يتحملون بعض العبء!</strong>&nbsp;عندما
 تسمح للآخرين بتحمل بعض العبء، أنت لا تخرج الأمور عن سيطرتك، ولكن تسمح 
لهم بتحقيق أهدافهم وجعلها جزء من حياتك. وتذكر بأنه من الأفضل مساعدة 
الآخرين على رؤية الطريق الصحيح على تركهم خارج الصورة.</li>
<li ><strong>إحسب حساب الآخرين!</strong>&nbsp;تذكر أن الآخرين بحاجة لمعرفتك ومعرفة حاجاتك، عبر عنها وعن مشاعرك لهم واعط الآخرين فرصة ليكونوا شركاء في تحقيق أهدافك.</li>
<li><strong>لا تقيد نفسك!</strong>&nbsp;بقاؤك
 في منطقة الراحة الشخصية سيؤدي في النهاية إلى هزيمة نفسية. حاول أن 
تستكشف أموراً جديدة عن العالم وعن الناس من حولك، سيساعدك ذلك على توسيع 
مداركك وأفقك، وسيفتح لك الكثير من الفرص.</li>
<li ><strong>افترض الأفضل دائماً، واسعى لتحقيقه!</strong>&nbsp;لا
 تنتظر أن يرتقي الآخرين إلى توقعاتك. إن آمنت بأن كل شخص لديه منجم من 
المهارات والقدرات بحاجة لأن تكتشف، وأن لكل حالة مهما كانت سيئة جانب 
إيجابي، ستنجح في تحقيق الأفضل.</li>
<li ><strong>عندما لا تكون متأكداً أطلب المساعدة!</strong>&nbsp;لا
 تدع شعور بالإكتفاء الذاتي وعدم الحاجة للآخرين يقودك إلى مصيبة أو كارثة.
 عندما تكون الأمور غير واضحة لديك، لا تتردد من استشارة من تثق به.</li>
</ol>
</center>
<br/>
<ion-item menu-close href="#/app/Copmatability">
       <i class="ion-heart"></i>   شاهد توافقك مع بقية الشخصيات<i class="ion-heart"></i>
        </ion-item>
  </ion-content>
</ion-view>
