<ion-view view-title="ISFP">
  <ion-content>
     
    
   <center>
    <div>
                 
                                <h1 class="description-title">
                             ISFP شخصية
                    </h1>
        <img src="img/isfp.png" width="90%" />
                    
    
        <div class="description-nicetitle">“الفنان”</div>

    
	<br /><br />
        
          <h3>من صفاته الرئيسية</h3>

        <br />
متحفظ.. حسي .. مشاعري .. تلقائي<br />
صفاته:<br />
• محافظ يعيش في عالمه الداخلي... يفضل التركيز والهدوء والسكينة<br />
• لا يبادر بالكلام ويستمع أكثر مما يتكلم<br />
• يفضل التفاصيل... ويحب أن يلمس الأشياء بيديه<br />
• صاحب قلب رقيق المشاعر إلى أبعد حد... مرهف الحس خجول بطبعه... يجلس صامتاً في زاوية لوحده<br />
• الآخرين يقللون من شأنه ويستخفون به ولا يعرفون مواهبه... يعتقدون أنه ضعيف وهذا غير صحيح<br />
<br />
• يتكيف مع الواقع... مرن تلقائي وعفوي<br />
<br />
• لا يحب السيطرة على الناس... لا يحب أن يكون في موقع القيادة، ولا أن يكون مع القائد<br />
<br />
• يرى الجمال في الواقع... ويدركه بحواسه في كل شيء حوله<br />
<br />
• لا يفتعل مشكلة مع أحد... يتنازل عن حقه من أجل أن يتجنب الخلاف مع الآخرين<br />
<br />
• لطيف المعشر وطيب القلب... متواضع جداً رغم قدراته العالية ويرضى بالقليل<br />
<br />
• عنده ولاء عظيم... تابع مخلص ووفي<br />
<br />
• ينجز الأعمال بهدوء... وتروي وعدم استعجال<br />
<br />
• يستمتع باللحظة الحالية التي يعيشها... ولا يفضل أن يستنزف طاقته... حسي وواقعي<br />
<br />
• يستمتع بالاسترخاء... ويحب الهدوء... قليل الحركة والنشاط<br />
<br />
• دمه خفيف ومرح... ولكن في هدوء<br />
<br />
• يحب أن يسمع كلمة طيبة من الآخرين... يفهم الناس ويشعربهم<br />
<br />
• إحساس عميق بالالتزام بواجباته تجاه الآخرين<br />
<br />
• حس عميق بالمبادئ والقيم... عفيف أمين... لا يسأل شيئاً من أحد<br />
<br />
• يفضل أن يضفي السعادة على الآخرين في العمل... ولكن في هدوء<br />
<br />
• يكره الروتين... فهو قاتل بالنسبة له<br />
<br />
• يمكن الثقة فيه لأنه لا يخون أبداً<br />
<br />
• مراقب للأوضاع وللواقع من حوله... خصوصاً فيما يتعلق بمصلحة الناس<br />
<br />
• عملي ولا يحب الخيال... يركز على الحقائق الملموسة<br />
<br />
• لديه ميل فطرى نحو المشاعر... ميل طبيعي لرؤية الجمال في الطبيعة من حوله<br />
<br />
• ذو قدرة كبيرة على الاحتمال<br />
<br />
<br />

         <h2>“قراءة بالعمق”</h2>
		<blockquote>
			 <p>“يمكنني التغير خلال يوم واحد. استيقظ وأنا شخص ما، وعندما أذهب إلى النوم أعلم علم اليقين أني شخص آخر.”</p>
			 <footer>بوب ديلان</footer>
			</blockquote>

			<p>أنواع الشخصية ISFP هم من الفنانين الحقيقيين، ولكن ليس بالضرورة 
بالمعنى التقليدي ممن يرسمون لوحة أشجار صغيرة سعيدة، على الرغم من أنهم 
قادرون تماما على ذلك في كثير من الأحيان. بدلا من ذلك، فإنها تستخدم 
الجماليات والتصميم والتقاليد الاجتماعية غير المألوفة. شخصية ISFP تستمتع 
بازعاج التوقعات التقليدية بتجاربها في الجمال والسلوك , فهم يحبون الخروج 
عن المألوف والتفكير خارج الصندوق.</p>

			<h2>سعداء لكونهم من هم</h2>

			<p>تعيش شخصية ISFP في عالم من الحسية الملونة، مستوحاة من تواصلهم مع 
الناس والأفكار. شخصيات ISFP يسعدها إعادة تفسير هذه الأنواع من التواصل، 
وإعادة اختراع وتجريب أنفسهم والآفاق الجديدة التي يفتحها هذا التواصل. لا 
يوجد نوع آخر من الشخصيات يستكشف ويجرب بهذه الطريقة أكثر منهم. وهذا يخلق 
شعورا من العفوية، يجعل شخصية ISFP تبدو وكأنه لا يمكن التنبؤ بها، حتى 
لأصدقائهم المقربين وأحبائهم.</p>

			<p>على الرغم من كل هذا، فجانب شخصية ISFP الانطوائي (I)، يثير العجب 
لدى أصدقائهم عندما تحاول شخصية ISFP الخروج من دائرة الضوء لتكون مع ذاتها
 لإعادة شحن قدراتها. ولأنها لوحدها، فلا يعني أن الناس من شخصية ISFP في 
حالة خمول , فهم يستغلون هذا الوقت لمراجعة الذات، وتقييم مبادئهم. فبدلا 
من الخوض في الماضي أو المستقبل، تعتبر شخصية ISFP أن التفكير في ذاتها 
أهم، بحيث يعودوا من تلك الوحدة أشخاصاً جديدة تماماً.</p>

			<p>تعيش شخصية ISFP لايجاد سبل لتعزيز عواطفهم. التصرفات ذات المخاطر 
العالية مثل القمار والرياضة المتطرفة هي أكثر شيوعا مع هذا النوع من 
الشخصيات أكثر من الأنواع الأخرى. ولكن لحسن الحظ، فتناغمهم مع المتعة 
اللحظية وبيئتهم المحيطة يسمح لهم بأن يكونوا أفضل أداء من الشخصيات الأخرى
 عند القيام بتلك التصرفات. شخصية ISFP أيضا تستمتع بالتواصل مع الآخرين، 
ويكون لهم سحر لا يقاوم.</p>

			<div class="description-pullout">شخصية ISFP تعرف كيف تقدم مجاملة لتليين القلب الذي يجد أن حبهم للمخاطر تصرف غير مسؤول أو متهور.</div>

			<p>ومع ذلك، فإذا قامت تلك القلوب بانتفادهم بالفعل، فإن الأمر يمكن أن 
ينتهي بشكل سيء. يمكن لبعض شخصيات ISFP تقبل التعليق إذا كان بصيغة إطراء، 
معتبرينه وجهة نظر أخرى للمساعدة في دفع عواطفهم في اتجاهات جديدة. ولكن 
إذا كان التعليقات أكثر قسوة وأقل نضجا، فيمكن لشخصيات ISFP أن تفقد 
أعصابها بأشكال مذهلة.</p>

			<p>شخصية ISFP حساسة لمشاعر الآخرين وتهتم بالانسجام. عندما تواجه 
الانتقادات، يمكن أن يكون ذلك تحديا لشخصية ISFP بالخروج من الموقف لحين 
هدوء الأوضاع دون فقدان أعصابهم. وبمجرد أن تبرد العواطف المتزايدة، يمكن 
لشخصية ISFP عادة استدعاء الماضي والمضي قدما كما لو أنه لم يحدث شيئ قط.</p>

			<h2>المعنى في كل تعبير من تعابير الحياة</h2>

			<p>التحدي الأكبر الذي يواجه شخصية ISFP هو التخطيط للمستقبل. العثور 
على المثل البناءة لوضع قواعد لأهدافهم والعمل على تلك الأهداف التي تخلق 
مبادئ إيجابية ليست مهمة صغيرة لشخصية ISFP. على عكس الأنواع الحساسة، فإن 
شخصية ISFP لا تخطط لمستقبلها في ما يتعلق بالأصول والتقاعد. بدلا من ذلك، 
فهم يخططون للإجراءات والسلوكيات كمساهمات في الشعور بالهوية، وبناء مجموعة
 من التجارب، وليس كأسهم.</p>

			<p>إذا كانت هذه الأهداف والمبادئ نبيلة، ويمكن أن تعمل مع شخصية ISFP 
بطريقة مذهلة بها نوع من نكران الذات , لكن ما يمكن أن يحدث أيضا أن الناس 
من نوع شخصية ISFP يسعون لتحقيق هوية أكثر أنانية، فيتعاملون بها وبمزيد من
 التلاعب والأنا العليا. انه من المهم بالنسبة لشخصية ISFP أن تتذكر طبيعة 
الشخص الذي تريد أن تكونه وأن تعمل على ذلك بنشاط. فتطوير وصيانة عادة 
جديدة قد لا يأتي بشكل طبيعي لشخصية ISFP، ولكن أخذ الوقت كل يوم لفهم 
دوافعهم يسمح لهم باستخدام قوتهم لمتابعة كل ما قد يصلوا إليه بالحب.</p>
        	
        
        <p>شخصيات ISFP الشهيرة:</p>

			<div class="celebrity-list">
			

                  <img src="img/FAAMOUSQUIZ/ISFP.PNG" /> <br /><br />
                <img src="img/MOVIESQUIZ/ISFP.PNG" />
                <br />
<br />    <img src="img/imagesqiz/ISFP.PNG" />
                         <br /><br />
				<div class="well well-sm">بوب ديلان</div>
				<div class="well well-sm">بول مكارتني</div>
				<div class="well well-sm">مايكل جاكسون</div>
				<div class="well well-sm">كيفن كوستنر</div>
				<div class="well well-sm">بريتني سبيرز</div>
				<div class="well well-sm">جون ترافولتا</div>
				<div class="well well-sm">إليزابيث تايلور</div>
				<div class="well well-sm">كريستوفر ريف</div>
				<div class="well well-sm">دونالد ترامب</div>
				<div class="well well-sm">ماري أنطوانيت</div>
				<div class="well well-sm">يوليسيس غرانت</div>
				<div class="well well-sm">ميلارد فيلمور</div>
				<div class="well well-sm">وارن هاردينغ</div>

			</div>


    <br />    <br />

         </div>
        <h1 >النصائح العشر للنجاح كفنان:</h1>
<ol >
<li>&nbsp;<strong>ركز على نقاط قوتك!</strong>&nbsp;شجع قدراتك الفطرية الفنية والإبداعية. اعط نفسك الفرصة على مساعدة المحتاجين والمساكين.</li>
<li><strong>واجه نقاط ضعفك!</strong>&nbsp;كما تقبلت نقاط قوتك، تفهم أن 
هناك نقاط ضعف في شخصيتك. مواجهة نقاط ضعفك والتعامل معها لا يعني أنك يجب 
أن تغير شخصيتك، ولكنك بذلك تحاول أن تصل بشخصيتك لأفضل ما يمكن تحقيقه. 
بمواجهة نقاط الضعف أن تحترم نفسك ولست تهاجمها.</li>
<li><strong>اطلق العنان لمشاعرك!</strong>&nbsp;لا تكتم مشاعرك وعندما تجد
 نفسك أمام مشاعر تحتاج للإفصاح عندها، لاحظها، رتبها، ثم أطلقها. المشكلة 
تحدث عندما تترك تلك المشاعر تتراكم وتتكدس حتى تصل إلى كمية لا يمكنك 
التحكم بها.</li>
<li><strong>استمع لكل شيء!</strong>&nbsp;لا تحاول صرف أي فكرة فور سماعك لها، وقبل أن تصدر أحكاماً اترك الأشياء لتستقر في عقلك.</li>
<li><strong>ابتسم في وجه النقاد!</strong>&nbsp;تذكر أن الكثير من الناس 
لن يوافقوك أو يفهموا وجهات نظرك، حتى وإن كانوا يكنون لك الكثير من 
الإحترام. حاول أن ترى فرص التطور في النقد والإختلافات، ففي النهاية هذا 
هو الهدف منهما.</li>
<li><strong><strong>انتبه وراعي الآخرين!</strong>&nbsp;</strong>خذ وقتك للتعرف على نوايا الآخرين، أسباب تصرفاتهم، مشاعرهم في الوقت الراهن، وتصنيف شخصياتهم.</li>
<li><strong><strong>حاسب نفسك!</strong>&nbsp;وتذكر بأنك أنت أكثر الأشخاص قدرة على التحكم في نفسك وإدارتها.</strong></li>
<li><strong>كن لطيفاً في توقعاتك!</strong>&nbsp;ستشعر دائماً بخيبة الأمل
 عندما تتوقع الكثير منهم. توضيح شعورك بخيبة الأمل هو أقصر طريق لخسرانهم،
 كن لطيفاً معهم وعاملهم كما تحب أن يعاملوك.</li>
<li><strong>افترض الأفضل دائماً!</strong>&nbsp;لا تضيق على نفسك بتوقع الأسوء دائماً، وتذكر أن الموقف الإيجابية دائماً ما يخلق نتائج إيجابية.</li>
<li><strong>عندما لا تكون متأكداً أطلب المساعدة!</strong>&nbsp;لا تقنع نفسك بأن الحصول على آراء سلبية هو مساوي لعدم الحصول على آراء على الإطلاق. عندما تحتاج لرأي ولا تجده، أطلبه.</li>
</ol>
<br/>
<ion-item menu-close href="#/app/Copmatability">
       <i class="ion-heart"></i>   شاهد توافقك مع بقية الشخصيات<i class="ion-heart"></i>
        </ion-item>
</center>

  </ion-content>
</ion-view>
