<ion-view view-title="ISTP">
  <ion-content>
   <center>
    <div>
                 
                        <h1 class="description-title">
                             ISTP شخصية
                    </h1>

                    <img src="img/istp.png"width="90%" />
    
        <div class="description-nicetitle">“الحرفي”</div>

    <br /><br />

         <h3>من صفاته الرئيسية</h3>

        <br />
متحفظ .. حسي .. مفكر .. تلقائي<br />
<br />
صفاته:<br />
<br />
• هادئ جداً ومحافظ، لا يبادر بالكلام... عميق التفكير داخل نفسه<br />
<br />
• يتناقش بأقل جهد وأقل عدد من الكلمات<br />
<br />
• يراقب الواقع... يعيش اللحظة<br />
<br />
• لديه قدرة فائقة على التفكير... مرن وتلقائي... متكيف مع الأحداث<br />
<br />
• يشاهد الأحداث من حوله بكل برود... لكنه يقرأ ما بين السطور<br />
<br />
• لا يتكلم عن نفسه... غامض وصارم<br />
<br />
• عقله يعمل كالكمبيوتر في الدقة والاستمرارية<br />
<br />
• محايد وموضوعي... منصف عادل، عقلاني ومنهجي<br />
<br />
• أحياناً يكون مرح بشكل غير متوقع<br />
<br />
• ممتاز في استنباط أصل المشكلة وتحليلها بشكل منهجي... ثم يعطيك خطة منظمة لحل المشكلة<br />
<br />
• يهتم بالسبب والنتيجة... يهتم بالأمور المادية والمهارات اليدوية<br />
<br />
• لديه مهارات فائقة في مراقبة الأحداث من حوله<br />
<br />
• قدرة كبيرة على التحرك لحل المشكلة بمنتهى الكفاءة... ولكن بأقل جهد ممكن<br />
<br />
• لا يحب النظريات ولا الخيال فهو عملي لأبعد الحدود... يكره الروتين والنظام الذي يقيد الحركة<br />
<br />
• يستمتع بالتحدي خصوصاً المشاكل المعقدة والكبيرة... ويستمتع أيضاً بحلها<br />
<br />
• تغلب عليه المصلحة الذاتيةالشخصية... بدون أنانية ولكن بعقلانية<br />
<br />
• يتحمل الظروف... ويتعامل مع أنماط مختلفة من البشر... ويؤمن بالمساواة بين الناس<br />
<br />
• يغضب من الناس عندما يضيعون وقته... ويكون شديداً صارماً معهم<br />
<br />
• يعشق الاستقلالية في حياته... ولا يحب أن يتطفل عليه أحد<br />
<br />
• يقرر حياته بنفسه... قراره ملكه فقط<br />
<br />
• كثيرالنقد بطبعه... نقده موضوعي وليس شخصي ( لا يتأثر بالأشخاص<br />
<br />
• قوته في عقله... نبيه ذكى... لماح ولا يخدعه أحد<br />
<br />
• مفتاح شخصيته في أن تسأله بصورة منطقية عقلانية<br />
<br />
• كلامه عقلاني... جاف محايد، ولكن لا يقصد أن يجرح أحداً<br />
<br />
• يثق في التجربة... أصحابه قليلون</font></font><br />
<br />
<br />

           <h2>“قراءة بالعمق”</h2>
        	<blockquote>
			 <p>“كنت أريد أن أعيش الحياة، حياة مختلفة. لم أكن أريد أن أذهب إلى 
نفس المكان كل يوم وأن أرى نفس الناس وأقوم بنفس الأعمال. أردت تحديات 
مثيرة للاهتمام.”</p>
			 <footer>هاريسون فورد</footer>
			</blockquote>

			<p>شخصيات ISTP تحب استكشاف العالم من حولهم بأيديهم وعيونهم وقدرتهم 
على اللمس والنظر مستخدمين العقلانية الباردة والفضول الحماسي. الأشخاص 
الذين يتمتعون بهذا النوع من الشخصية هم صناع الطبيعية، منتقلون من مشروع 
إلى آخر، يبنون كل شيئ مفيد أو حتى غير ضروري لمجرد المتعة الناجمة من ذلك،
 وحباً في التعلم من بيئتهم خلال الرحلة. في كثير من الأحيان تجدهم يعملون 
في الميكانيكا والهندسة، وهذا لأن أكبر مصدر للفرحة عند شخصيات ISTP هو أن 
يوسخوا أيديهم من كثرة تفكيك وتركيب الأشياء مرة أخرى بحيث تصبح أفضل مما 
كانت عليه من قبل.</p>

			<p>شخصيات ISTP تستكشف الأفكار من خلال التفكير المتعمق، واستكشاف 
الأخطاء وإصلاحها، والتجربة والخطأ والتجربة المباشرة. ويتمتعون بوجود 
أشخاص آخرين يشاركوهم الاهتمام بمشاريعهم وأحياناً لا يمانعون دخولهم معهم 
في حيز تلك المشاريع. ولكن طبعاً بشرط أن لا يتدخل هؤلاء الناس مع مبادئ 
وحرية شخصيات ISTP، كما أنهم سوف يحتاجون لأن يكونوا منفتحين مع شخصيات 
ISTP في مناقشاتهم عن كيف سيفيدون مشاريعهم.</p>

			<p>كما تتمتع شخصيات ISTP بمد يد المساعدة وتبادل الخبرات مع الآخرين، 
وخاصة مع الناس الذين يهتمون، ولذلك فمن المحزن أنهم يمثلون فقط حوالي خمسة
 في المئة من البشر. النساء من شخصيات ISTP عملة نادرة وخاصة في الأدوار 
النمطية بين الجنسين التي يميل المجتمع إلى وضعها لهن , ولذلك فغالبا ما 
ينظر إليهن على أنهن الفتيات المسترجلات في سن مبكرة.</p>

			<h2>كن جريئاً واختلف</h2>

			<p>في حين أن اتجاهاتهم الميكانيكية تجعلهم يبدون كشخصيات بسيطة للوهلة 
الأولى، إلا أن شخصيات ISTP هي في الواقع غامضة جدا. ودية ولكن خاصة جدا، 
هادئة ولكن عفوية فجأة، فضولية للغاية ولكن غير قادرة على الاستمرار في 
التركيز في الدراسات النمطية، ولذلك يمكن لشخصيات ISTP أن تشكل تحديا 
للتنبؤ بخصائصها، حتى من قبل أصدقائهم وأحبائهم. شخصيات ISTP يمكن كذلك أن 
تبدو مخلصة جداً وثابتة لفترة من الوقت، لكنها تميل إلى بناء مخزن للطاقة 
المتسارعة الذي يمكن أن ينفجر دون سابق إنذار، آخذين اهتماماتهم في اتجاهات
 جديدة وجريئة.</p>

			<div class="description-pullout">وتسعى شخصيات ISTP لمجرد استكشاف جدوى اهتمامات جديدة عندما تقوم بهذه التحولات الزلزالية.</div>

			<p>قرارات شخصيات ISTP تنبع من الشعور بالواقعية العملية، وفي قلوبهم 
شعور قوي مباشر بالعدالة، واحساس دائم بالآخرين، والذي يساعد حقا في شرح 
العديد من الصفات المحيرة لشخصيات ISTP. وعلى الرغم من ذلك فبدلا من أن 
تكون حذرا أكثر من اللازم في التعامل معهم، كن على سيجيتك معهم لأن هذه 
الشخصيات تحب المعاملة بالمثل، فكما عاملتهم، سواء بطريقة سيئة أو جيدة، 
فسيعاملوك.</p>

			<p>وأكبر مشكلة تواجهها شخصيات ISTP هي أنهم غالبا ما يقومون بردة الفعل
 بسرعة جداً، معتمدين على طبيعتهم المتساهلة ومفترضين أن الآخرين مثلهم. 
فهم سيكونوا أول من يقول نكتة حساسة، أو يشارك بشكل مفرط في مشروع شخص آخر،
 أو فجأة يغيرون خططهم لشيء أكثر إثارة للاهتمام.</p>

			<h2>ليس هناك ما هو ممل مثل أن يتفق معك الجميع</h2>

			<p>سوف تتعلم شخصيات ISTP أن العديد من أنواع الشخصية الأخرى قد رسمت 
خطوطاً قوية لحدود وقواعد السلوك المقبول أكثر منهم , فهذه الشخصيات لا 
تريد أن تسمع نكتة حساسة، وبالتأكيد لن تقول هي الأخرى واحدة لهم، وهم لن 
يريدوا الدخول في ضجيج كلامي، حتى إذا كانوا على استعداد لذلك. فإذا تم 
بالفعل اتهامهم عاطفيا، فإن انتهاك هذه الحدود يمكن أن يأتي بنتائج عكسية 
بشكل كبير.</p>

			<p>وشخصيات ISTP لديها صعوبة معينة في التنبؤ بالعواطف، ولكن هذا هو 
مجرد امتداد طبيعي لنزاهتها، نظرا لمدى صعوبة قياس المشاعر والدوافع لدى 
شخصيات ISTP. ومع ذلك، فميلها لاستكشاف العلاقات من خلال أفعالهم وليس من 
خلال التعاطف يمكن أن يؤدي إلى بعض الحالات المحبطة جدا. الناس عادة ما 
يناضلون مع شخصيات ISTP لوضع الحدود والمبادئ التوجيهية للتعامل معهم، فهم 
يفضلون حرية التنقل خارج تلك الحدود إذا كانوا في حاجة إليها.</p>

			<p>ولذلك فإيجاد بيئة حيث يمكن لشخصيات ISTP أن تعمل مع أصدقاء حميمين 
يفهمون أسلوبهم وعدم قدرتهم على التنبؤ، والجمع بين إبداعهم وحسهم للفكاهة 
وقدرتهم على بناء حلول عملية، سيعطي شخصيات ISTP سنوات عديدة سعيدة لبناء 
أشياء مفيدة , والاعجاب بها من الخارج.</p>


			<p>شخصيات ISTP الشهيرة:</p>

			<div class="celebrity-list">
				
                      <img src="img/FAAMOUSQUIZ/ISTP.PNG" /> <br /><br />
                <img src="img/MOVIESQUIZ/ISTP.PNG" />
                <br />
<br />    <img src="img/imagesqiz/ISTP.PNG" />
                         <br /><br />
				<div class="well well-sm">كلينت ايستوود</div>
				<div class="well well-sm">ميلا جوفوفيش</div>
				<div class="well well-sm">فرانك زابا</div>
				<div class="well well-sm">زاكاري تايلور</div>
				<div class="well well-sm">توم كروز</div>
				<div class="well well-sm">"مايكل يستين" من الملاحظة المحروقة</div>
				<div class="well well-sm">"جاك باور" من 24</div>
				<div class="well well-sm">"إنديانا جونز" من سلسلة انديانا جونز</div>
				<div class="well well-sm">"جون مكلين" من سلسلة الموت العنيف</div>
				<div class="well well-sm">"انجوس مكجفر" من مكجفر</div>

			</div>
    

         </div>

                            
                  	<h1>النصائح العشر للنجاح كحرفي:</h1>
<ol>
<li>&nbsp;<strong>ركز على نقاط قوتك!</strong>&nbsp;لاحظ نقطة قوتك في 
الإنسجام مع العالم المحسوس، استكشف العالم، ومارس مهاراتك ارسم وألعب، 
وأعمل. فمحصلة خبراتك لا تزداد إلا بهذه الطريقة.</li>
<li ><strong>واجه نقاط ضعفك!</strong>&nbsp;واجه خوفك من المجهول، استكشف أشياء جديدة وقابل أناس جدد ذوي وجهات نظر تختلف عنك. لا تبقي نفسك في نطاق وضمن فكر محدود.</li>
<li ><strong>أعرض أفكارك وناقشها!</strong>&nbsp;مناقشة أفكارك مع الآخرين سيساعدك على استيعاب العالم الخارجي والتفاعل معه بشكل جيد.</li>
<li ><strong>لا تخشى العواطف!&nbsp;</strong>لا تصدق بأنك لا يمكن أن تحب، أو أنك شخص لا يحتمل، فهذا غير صحيح. كونك لا تعرف ماذا تفعل لا يعني أنك لا يتوجب عليك التعلم.</li>
<li ><strong>احترم رغبتك للمبادرة بالعمل!</strong>
 أنت انسان مليء بالطاقة، ونشيط، هذا أمر لا يجب عليك أن تقاومه. لا تقارن 
نفسك بالآخرين الذين يفضلون قراءة كتاب أو مشاهدة التلفاز. ابحث عن زميل 
يشاركك حب العمل والنشاط وشاركه العمل.</li>
<li ><strong>لاحظ العادات الإجتماعية!&nbsp;</strong>لاحظ
 أن هناك تقاليد وأنظمة للمجتمع الذي تعيش فيه. قد لا تعني لك الكثير، 
وربما تضاربت مع أفكارك وقيمك الداخلية، ولكن تذكر أن تلك العادات مهمة لكي
 ينجح المجتمع ويعم النظام. فلذلك لا تتجاهلها وحاول تقبل العادات التي لا 
تمسك بشكل مباشر.</li>
<li ><strong>لا ضير من الخروج خارج نطاق راحتك!</strong>
 في خروجك من تلك المنطقة فرصة كبيرة جداً للتعلم والتطور، من الطبيعي أن 
تشعر بالتضايق حين لا تعرف ماذا تفعل أو ماذا تقول، هذا أمر جيد، حينها أنت
 تتطور.</li>
<li ><strong>تعرف على مشاعرك وأفصح عنها! </strong>قد
 تجد صعوبة في التعرف على طبيعة شعورك تجاه شخص آخر. هذا أمر يتوجب عليك 
التفكير فيه، وإلزام نفسك بإكتشاف شعورك تجاه الآخرين. وتذكر بأن هذا مهم 
جداً في تكوين الصداقات، وكذلك في العلاقة الزوجية.</li>
<li ><strong>انتبه وراعي الآخرين!</strong>&nbsp;خذ وقتك للتعرف على نوايا الآخرين، أسباب تصرفاتهم، مشاعرهم في الوقت الراهن، وتصنيف شخصياتهم.</li>
<li ><strong>افترض الأفضل دائماً!</strong>&nbsp;لا
 تنكد نفسك بإفتراض الأسوء دائماً، وتذكر أن لكل فشل هناك جانب إيجابي. 
وعندما توفر البيئة الإيجابية والمتفائلة فإن النجاح ولا شك سيأتي.</li>
</ol>
<br/>
<ion-item menu-close href="#/app/Copmatability">
       <i class="ion-heart"></i>   شاهد توافقك مع بقية الشخصيات<i class="ion-heart"></i>
        </ion-item>
</center>

  </ion-content>
</ion-view>
