<ion-view view-title="الاختبار">
  <ion-content>
  <br/>
<img src="img/home.png"   width="100%" >
                <p style="color: red ">
                    *لتحصل على نتيجة صحيحة جاوب بصدق 
         <br />
                    *حاول ان لا تترك اجابة محايدة 
                </p>
                      <center style="border: medium none; background-color: #F6CB02; width: 100%; padding: 0.5em; font-size: 18px; border-radius: 12px;">  أنا أميل إلى أن أكون أكثر نشاطا عندما </center>

	<div class="item range" >
  <i  >  أفكر في نفسي</i>
  <input type="range" name="volume" ng-model="numberSelection" min="1" value="50" max="100" id="e1">
  <i  >اكون مع الآخرين</i>
</div>
       <center style="border: medium none; background-color: #FFD50E; width: 100%; padding: 0.5em; font-size: 18px; border-radius: 12px;">  عندما أكون في نشاطات اجتماعية، فإن نشاطي وحيويتي تزداد </center>
	<div class="item range">
  <i  >  في بداية اللقاء  </i>
  <input type="range" name="volume"  min="1" max="100" value="50" id="e2">
  <i  >  آخر شخص يغادر</i>
</div>
           <center style="border: medium none; background-color: #CFBA19; width: 100%; padding: 0.5em; font-size: 18px; border-radius: 12px; ">  عندما أكون مع الأصدقاء فأنا </center>
	<div class="item range" >
  <i  >   أكون منصتاً ومتحفظاً   </i>
  <input type="range" name="volume"  min="1" max="100" value="50" id="e3">
  <i  >  أتكلم كثيراً</i>
</div>
                    <center style="border: medium none; background-color: #f8B40C; width: 100%; padding: 0.5em; font-size: 18px; border-radius: 12px; ">  لدي </center>
	<div class="item range">
  <i  >  بعض الاصدقاء</i>
  <input type="range" name="volume"  min="1" max="100" value="50" id="e4">
  <i  >الكثير من الاصدقاء </i>
</div>

                 <center style="border: medium none; background-color: #f8B20C; width: 100%; padding: 0.5em; font-size: 18px; border-radius: 12px;  ">   المكان الذي تعرفت فيه على أغلبية أصدقائي هو </center>
				 	<div class="item range">
				   <i  >  عن طريق اللقاءات الخاصة</i>
  <input type="range" name="volume"  min="1" max="100" value="50" id="e5">
  <i  >في الخارج </i></div>
</div>
				 
   <center style="border: medium none; background-color: #f00; width: 100%; padding: 0.5em; font-size: 18px; border-radius: 12px; ">  أنا أجمع المعلومات أفضل عن طريق </center>
   	<div class="item range">  <i  > خيالي وتوقعاتي</i>
  <input type="range" name="volume" min="1" max="100" value="50" id="n1">
  <i >إحساسي بالواقع </i></div>
</div>
          <center style="border: medium none; background-color: #D43E0D; width: 100%; padding: 0.5em; font-size: 18px; border-radius: 12px;  ">   أنا من الأشخاص الذين يفضلون أن يفهموا </center>
			<div class="item range">    <i > الصورة الكلية أولا</i>
  <input type="range" name="volume" min="1" max="100" value="50" id="n2">
  <i  >التفاصيل أولا</i></div>
</div>
  <center style="border: medium none; background-color: #D86E4C; width: 100%; padding: 0.5em; font-size: 18px; border-radius: 12px; ">  أنا في العادة </center>
  	<div class="item range">  <i  > أبالغ كثيراً </i>
  <input type="range" name="volume" min="1" max="100" value="50" id="n3">
  <i  >لا أميل للمبالغة </i></div>
</div>
     <center style="border: medium none; background-color: #F36363; width: 100%; padding: 0.5em; font-size: 18px; border-radius: 12px;">  عندما أقوم بعمل علاقة مع الآخرين ، فأنا أعتقد أنه </center>
  	<div class="item range">  <i  >احاول تحسينها </i>
  <input type="range" name="volume" min="1" max="100"  value="50" id="n4">
  <i  >لا داعي للتحسين </i></div>
</div>
            <center style="border: medium none; background-color: #F36393; width: 100%; padding: 0.5em; font-size: 18px; border-radius: 12px;">   أنا من الأشخاص الذين يفضلون العيش في  </center>
  	<div class="item range">  <i   >  عالم  الخيال والأحلام</i>
  <input type="range" name="volume" min="1" max="100" id="n5" value="50" ><br/>
  <i   >العالم الواقعي </i>
</div>
   <center style="border: medium none; background-color: #049DCF; width: 100%; padding: 0.5em; font-size: 18px; border-radius: 12px; ">   أنا أتخذ قراراتي عن طريق </center>
  	<div class="item range">  <i  > قلبي أساسا</i>
  <input type="range" name="volume" min="1" max="100" value="50" id="t1">
  <i  >عقلي اساسا </i></div>
</div>
 <center style="border: medium none; background-color: #0FBEF8; width: 100%; padding: 0.5em; font-size: 18px; border-radius: 12px; ">  أنا شديد الملاحظة للأمور التالية </center>

  	<div class="item range">  <i  > ألم الاخرين</i>
  <input type="range" name="volume" min="1" max="100"  value="50" id="t2">
  <i  >الآخرون غير منطقيين </i></div>
</div>
 
   <center style="border: medium none; background-color: #13c6d1; width: 100%; padding: 0.5em; font-size: 18px; border-radius: 12px; ">   عندما أقوم بقطع العلاقة مع شخص ما ، فأنا  اقطع العلاقة  </center>

  	<div class="item range">  <i  > بصعوبة  </i>
  <input type="range" name="volume" min="1" max="100" value="50" id="t3">
  <i  >لا اتردد وبسهولة</i></div>
</div>
  <center style="border: medium none; background-color: #14cedb; width: 100%; padding: 0.5em; font-size: 18px; border-radius: 12px;">  عندما أختلف مع صديقي ، فأنا </center>

  	<div class="item range">  <i  > لا اجرح مشاعره</i>
  <input type="range" name="volume" min="1" max="100" value="50" id="t4">
  <i  >اعبر عن رأيي لان الحق حق </i></div>
</div>
  <center style="border: medium none; background-color: #14ce9b; width: 100%; padding: 0.5em; font-size: 18px; border-radius: 12px; ">  الناس الذين يعرفونني يصفونني بأنني </center>

  	<div class="item range">  <i  > حساس  </i>
  <input type="range" name="volume" min="1" max="100" value="50" id="t5">
  <i  >منطقي وصريح  </i></div>
</div>
   <center style="border: medium none; background-color: #32B700; width: 100%; padding: 0.5em; font-size: 18px; border-radius: 12px; ">  إذا كان لدي مال ووقت وقام صديق يدعونني للسفر معه </center>

  	<div class="item range">  <i  >اتاكد من جدولي</i>
  <input type="range" name="volume" min="1" max="100" value="50" id="p1">
  <i  >بدون تفكير اسافر معه </i></div>
</div>
   <center style="border: medium none; background-color: #32B800; width: 100%; padding: 0.5em; font-size: 18px; border-radius: 12px; "> عندما أذهب للقاء صديقي، فأنا </center>

  	<div class="item range">  <i  >اصل بالموعد</i>
  <input type="range" name="volume" min="1" max="100" value="50" id="p2">
  <i  >اتاخر دائما</i></div>
</div>   <center style="border: medium none; background-color: #32B900; width: 100%; padding: 0.5em; font-size: 18px; border-radius: 12px; ">  أنا من الأشخاص الذين يفضلون أن </center>

  	<div class="item range">  <i  >احسم قرارتي</i>
  <input type="range" name="volume" min="1" max="100" value="50" id="p3">
  <i  >اتردد قبل القرار</i></div>
</div>  <center style="border: medium none; background-color: #55FF15; width: 100%; padding: 0.5em; font-size: 18px; border-radius: 12px; ">  أنا من الأشخاص الذين يفضلون أن عندما ابدأ بعمل</center>

  	<div class="item range">  <i  >استمر للنهاية</i>
  <input type="range" name="volume" min="1" max="100" value="50" id="p4">
  <i  >استمتع بأكثر  من عمل</i></div>
</div>  <center style="border: medium none; background-color: #55FF65; width: 100%; padding: 0.5em; font-size: 18px; border-radius: 12px;"> انا اكون في افضل حالة عند الذهاب للقاء </center>

  	<div class="item range">  <i  >ان اعرف التفاصيل</i>
  <input type="range" name="volume" min="1" max="100" value="50" id="p5">
  <i  >اترك الامور بدون تخطيط</i></div>
</div>
 
 <br/>

 
 <button class="button button-full button-dark" ng-click="showMeTheNumber();" style="border-radius: 12px;">
 النتيجة
</button>
                  

           

  </ion-content>
</ion-view>
