<ion-view view-title="ENTP">
  <ion-content>
    <center>
    <div>
                 
         <h1 class="description-title">
                             ENTP شخصية
                    </h1>

                    <img src="img/entp.png" width="90%" />
    <br/>
        <div class="description-nicetitle">“المحاور”</div>

    <br /><br />


          <h3>من صفاته الرئيسية</h3>

        <br />
منفتح .. حدسي .. مفكر .. تلقائي<br />
صفاته:<br />
<br />
  علاقته بالناس عريضة... ويستمد طاقته من التفاعل مع الناس<br />
<br />
  مبدع من الطراز الأول... يتكلم في أكثر من موضوع في وقت واحد<br />
<br />
  تلقائي... سريع الكلام. يتكيف مع أي وضع وتفكيره منطقي<br />
<br />
  يجيدعمل أشياء كثيرة ويربط بينها جميعاً بخيط واحد وبسهولة<br />
<br />
  حاذق مبدع، ماهرولماح... ذكى للغاية، يرتجل ولا يحضر لأي موضوع<br />
<br />
  يستمتع بوجوده مع الآخرين... ويستمتع الآخرون بوجوده بينهم<br />
<br />
  يستمتع بالنقاش المنطقي وقدرته فائقة في الحديث والإقناع<br />
<br />
  واسع الحيلة ولديه حلول كثيرة خصوصاً في المشاكل الجديدة والصعبة<br />
<br />
  يكره الروتين والنظام لأنه يقيد حركته<br />
<br />
  يتحرك من أمر مثير إلى أمر مثير آخر بسرعة وكفاءة<br />
<br />
  لديه الأسباب المنطقية المقنعة لأداء أي عمل يريد<br />
<br />
  يرى العلاقات والارتباطات بين الأشياء ( الكليات)،وينظر للعالم من حوله نظرة عامة... يبحث عن الفرص المتاحة والبدائل الممكنة والاحتمالات المتعددة<br />
<br />
  يتنبأ بالأشياء ولديه رؤية مستقبلية واضحة<br />
<br />
  لديه قدرة كبيرة على أن يفهم كيف يعمل النظام بالتفصيل وبالترتيب خطوة بخطوة... ويفهم أيضاً التداخلات بين الخطوات<br />
<br />
  يحب المغامرة والتحدي ولديه قدرات إبداعية هائلة<br />
<br />
<br />
         <h2>“قراءة بالعمق”</h2>

        	<blockquote>
			 <p>“اتبع مسار المفكرين غير الآمن والمستقل. عرّض أفكارك لأخطار الجدل.
 افصح عن أفكارك ولا تخشى من وصمة المطابقة. وبالنسبة للقضايا التي تبدو 
مهمة بالنسبة لك، دافع عنها وتحسب لأي ثمن قد تدفعه.”</p>
			 <footer>توماس ج. واطسون</footer>
			</blockquote>

			<p>نوع شخصية ENTP هو محامي الشيطان المحنك، يزدهر أثناء تمزيق حجج 
ومعتقدات الآخرين وفضح عيوبهم. على العكس من نظائرهم من الشخصيات الأكثر 
تصميماً من المخططون (J) ، فإن شخصيات ENTP لا تفعل هذا لأنها تحاول تحقيق 
بعض الأغراض أو الأهداف الاستراتيجية، ولكن لسبب بسيط وهو أن ذلك أمرممتع 
لهم. لا أحد يحب عملية السجال العقلي أكثر من شخصيات ENTP، لأن ذلك يتيح 
لهم فرصة لممارسة خفة دمهم دون عناء، وإظهار قاعدة المعرفة المتراكمة 
الواسع لديهم، وكذلك إظهار القدرة على ربط الأفكار المتباينة لإثبات وجهات 
نظرهم.</p>

			<div class="description-pullout">ينشأ تجاور غريب مع شخصيات ENTP، 
لأنها شخصية صادقة دون هوادة، ولكنهم يجادلون بلا كلل من أجل شيء لا يؤمنون
 به فعلا، ويأخذون أدواراً غير أدوارهم لقول الحقيقة من منظور آخر.</div>

			<p>ولعب دور محامي الشيطان يساعد الناس من نوع شخصية ENTP ليس فقط على 
تطوير شعور أفضل ناحية تفكير الآخرين، بل وعلى فهم أفضل للأفكار المعارضة 
لهم.</p>

			<p>وينبغي عدم الخلط بين هذا التكتيك وبين التفاهم المتبادل الذي يسعى 
له شخصيات الدبلوماسيين (NF) , ذلك لأن شخصيات ENTP، مثل كل أنواع شخصيات 
المحللين (NT)، في سعي مستمر للمعرفة، وما أفضل طريقة للحصول على المعرفة 
من المهاجمة والدفاع عن فكرة من كل زاوية ومن كل جانب.</p>

			<h2>لا توجد قواعد هنا , نحن نحاول تحقيق شيء ما!</h2>

			<p>وتجد شخصيات ENTP متعة معينة في كونها المستضعفة، حيث تتمتع 
بالممارسة العقلية اتي تحدث في التشكيك في الوضع السائد في الفكر، مما 
يجعلهم لا يمكن الاستغناء عنهم في إعادة صياغة النظم القائمة أو تغيير 
الأمور ودفعها في اتجاهات جديدة ذكية. ومع ذلك، فهم فاشلون في إدارة 
ميكانيكا تنفيذ اقتراحاتهم في الواقع العملي اليومي. كما أن شخصيات ENTP 
تحب تبادل الأفكار والتفكير بصورة كبيرة، لكنها تتجنب الوقوع في فخ "المنفذ
 للأفكار" مهما كان الثمن. وشخصيات ENTP لا تشكل سوى نحو ثلاثة في المئة من
 البشر، وهي نسبة مناسبة لأنها تتيح لهم خلق الأفكار الأصلية، ثم التراجع 
للسماح للشخصيات الأكثر عدداً في التعامل مع لوجستيات التنفيذ والصيانة.</p>

			<p>وقدرة شخصيات ENTP على النقاش يمكن أن تكون محيرة , ففي كثير من 
الأحيان قد تقدرها إذا احتجتها ولكنها قد تكون مؤلمة وسطحية في تناول 
الآخرين، مثل التشكيك علناً في رئيسهم في اجتماع، أو في نقدهم لحديث 
الآخرين. ومما يزيد الأمر تعقيداً أيضا الصدق الذي لا ينضب الذي تتمتع به 
شخصيات ENTP، لأن هذا النوع لا يفرز الكلمات ولا يهتم بالظهور بمظهر الحساس
 أو الرؤوف. أنواع الشخصيات المشتركة معهم فكرياً تندمج مع شخصيات ENTP، 
ولكن الأنواع الأكثر حساسية والمجتمع بشكل عام غالباً ما يكون معارضاً لهم 
فيفضل المشاعر والراحة وحتى الكذب الأبيض على الحقائق غير السارة 
والعقلانية الصعبة.</p>

			<p>وهذا يحبط شخصيات ENTP، ويجعلها تجد أن ما تفعله للهو يصبح مشاكسة 
تحرق العديد من الجسور مع الآخرين، في كثير من الأحيان عن غير قصد، لأنهم 
يتخطون قدرات احتمال الآخرين في التشكيك في معتقداتهم وتنحية مشاعرهم 
جانباً. ولأنهم يعاملون الآخرين كما يحبون أن يعاملوا، فشخصيات ENTP لا 
يتحملون التدليل، ويكرهون الناس المستعطفين، وخصوصاً عندما يسألونهم صنع 
جميل لهم. كما أن شخصيات ENTP تجد نفسها محترمة من الآخرين لرؤيتها الثاقبة
 وما تتمتع به من ثقة ومعرفة وشعور قوي بالفكاهة، ولكن غالبا ما يكافحون من
 أجل الاستفادة من هذه الصفات كأساس لإقامة صداقات عميقة وعلاقات رومانسية.</p>

			<h2>قد تضيع الفرصة لأنها تحتاج إلى العمل الشاق</h2>

			<p>شخصيات ENTP يحتاجون مجهوداً كبيراً لتسخير قدراتهم الطبيعية , مثل 
استقلالهم الفكري ورؤيتهم الحرة ذات القيمة الهائلة عندما يكونوا في موقع 
المسؤولية، كما أن لديهم القدرة على الاستماع ولو أنها تحتاج منهم صبراً 
إضافياً قد لا يملكونه.</p>

			<p>وما إن يسخروا تلك القدرات، فهم بحاجة إلى التذكر دائماً أن أفكارهم 
لن تؤتي ثمارها إلا بالاعتماد على الآخرين لإكمال ما بدؤوه , ولذلك فعليهم 
منح بعض من الوقت الذي ينفقوه في محاولة "الفوز" في النقاشات في محاولة 
التوافق في الآراء مع الآخرين، بحيث يجدوا الدعم اللازم من الآخرين لانجاح 
أفكارهم. وعلى الرغم من أنهم يلعبون دور محامي الشيطان على ما يرام، فقد 
يجد هذا النوع من الشخصيات أن التحدي الفكري الأكثر تعقيداً هو فهم منظور 
أكثر وجدانية ومنطق.</p>

			<p>شخصيات ENTP الشهيرة:</p>
			
			<div class="celebrity-list">

                 <img src="img/FAAMOUSQUIZ/ENTP.PNG" /> <br /><br />
                <img src="img/MOVIESQUIZ/ENTP.PNG" />
                <br />
<br />
                        <img src="img/imagesqiz/ENTP.PNG" />   <br /><br />
				<div class="well well-sm">جون آدمز</div>
				<div class="well well-sm">جيمس جارفيلد</div>
				<div class="well well-sm">رذرفورد هايز</div>
				<div class="well well-sm">ثيودور روزفلت</div>
				<div class="well well-sm">توماس اديسون</div>
				<div class="well well-sm">جورج كارلن</div>
				<div class="well well-sm">"ويرد آل" يانكوفيتش</div>
				<div class="well well-sm">ألفريد هيتشكوك</div>
				<div class="well well-sm">توم هانكس</div>
				<div class="well well-sm">ديفيد سبيد</div>
				<div class="well well-sm">سيلين ديون</div>
				<div class="well well-sm">الإسكندر الأكبر</div>
			</div>

			<p>شخصيات ENTP الخيالية:</p>

			<div class="celebrity-list celebrity-list-extrabottom">

				<div class="well well-sm">"جوكر" من سلسلة باتمان</div>
				<div class="well well-sm">"جاك سبارو" من قراصنة الكاريبي</div>
				<div class="well well-sm">"تايلر دوردن" من نادي القتال</div>
				<div class="well well-sm">"كلايد شيلتون" من المواطن الملتزم بالقانون</div>
			</div>

        <h1>النصائح العشر للنجاح كمحاور:</h1>
<div >
<ol>
<li><strong>ركز على نقاط قوتك!</strong> تأكد أن تدرك وتوظف قدرتك على رؤية الأمور من زوايا لا يراها الآخرين.</li>
<li><strong>واجه نقاط ضعفك!</strong> كما تقبلت نقاط قوتك، تفهم أن هناك 
نقاط ضعف في شخصيتك، وأنك يجب أن تعمل بصدق على التخلص منها. تذكر دائماً 
أن مواجهة نقاط ضعفك لا يعني مواجهة نفسك أو تغيير شخصيتك، بل يعني أنك 
ترغب بأن تكون الأفضل.</li>
<li><strong>تحدث عن أفكارك!</strong> مناقشة أفكارك مع الآخرين سيجعلهم 
يفهمون مقاصدك من اختياراتك، وأيضاً الاستماع لآرائهم قد يساعدك على تحسين 
الإختيارات وتوجيهها بالطريق الصحيح.</li>
<li><strong>استرخي واستمتع!</strong>&nbsp;خذ بعض الوقت للإسترخاء والتمعن
 في القدرات الجميلة التي تتمتع بها. حاول أيضاً أن لا تشغلك الأمور 
الكبيرة عن الأمور الصغيرة اليومية فهي الملح الذي يكمل ويحسن حياتك.</li>
<li><strong>لاحظ الإختلافات الشخصية!</strong>&nbsp;هناك 15 صنف شخصية غير شخصيتك، حاول استيعاب واستقراء أصناف الناس من حولك، وتفهم وجهات نظرهم.</li>
<li><strong>انتبه للقواعد والأنظمة المهمة!</strong> تذكر أن بلوغك 
لأحلامك يتم من خلال مساعدة ومساندة الآخرين. الطريق الذي تشقه خلال 
الحياة، قد يكون ممهداً من قبل أشخاص آخرين وهناك أسباب لرسمهم للطريق. كن 
مبدعاً ولكن تذكر أن الإبتعاد عن الطريق الممهد قد يكلفك وقتاً إضافياً.</li>
<li><strong>اخرج من المنطقة المألوفة لديك!</strong> نموك يتعمد بشكل كبير على ارتكابك لبعض المخاطرات، والخروج إلى تجربة أمور جديدة لم يسبق لك القيام بها.</li>
<li><strong>تعرف على مشاعرك وعبر عنها!</strong> قد لا يكون ذلك بالأمر 
السهل لديك، ولكن حاول أن تغوص في أعماق نفسك وتستكشف مشاعرك واحاسيسك. 
وعندما تجد في نفسك مشاعر تجاه شخص، اخبره بذلك. لا تحبسها في داخلك، هذا 
الأمر سيشعر الطرف الآخر بالأمان، وإن كان ذلك في ظل علاقة زوجيه، هذا ما 
سيساعدها على الإستمرار.</li>
<li><strong>كن مسؤولاً عن نفسك!</strong> وتذكر أن لا أحد لديه القدرة على السيطرة على حياتك وقراراتك عداك أنت. فلا تجعل من نفسك ضحية.</li>
<li><strong>افترض الأفضل دائماً!</strong> لا تضيق على نفسك بتوقع الأسوء دائماً، وتذكر أن الموقف الإيجابية دائماً ما يخلق نتائج إيجابية.</li>
</ol>

<br/>
      <!--   <span class='st_facebook_large' displayText='Facebook'></span>
    <span class='st_twitter_large' displayText='Tweet'></span>
    <span class='st_linkedin_large' displayText='LinkedIn'></span>
    <span class='st_pinterest_large' displayText='Pinterest'></span>
    -->
<ion-item menu-close href="#/app/Copmatability">
       <i class="ion-heart"></i>   شاهد توافقك مع بقية الشخصيات<i class="ion-heart"></i>
        </ion-item>
         </div>

</center>

  </ion-content>
</ion-view>
