<ion-view view-title="ESFJ">
  <ion-content>
    
   
<!-- End Header-->
    
    <center>
    <div>
                 
                      <h1 class="description-title">
                           ESFJ شخصية 
                    </h1>

                    <img src="img/esfj.png" width="90%" />
    
        <div class="description-nicetitle">“القنصل”</div>
            <br /><br />    
       <h3>من صفاته الرئيسية</h3>


        منفتح .. حسي .. مشاعرى .. حكم<br />
صفاته:<br />
<br />
<br />
  مشاعره فياضة وقلبه رحيم... يتفاعل مع الناس،شعبي يحس بمعاناة الناس<br />
<br />
  صاحب ضمير حي وله نظرة صائبة... همه أن يساعد الناس في كل مكان<br />
<br />
  يحتاج إلى الانسجام مع من حوله، وإذا وجد في مجموعة لاينسجم معها فإنه يتضايق ولا يستطيع أن يعبر عن نفسه<br />
<br />
  لا يحب أن يضايق أحداً أبداً، ولديه قدرة عجيبة على صنع هذا الانسجام والتناسق<br />
<br />
  قدرته مذهلة على ربط الناس بعضهم ببعض وصنع الانسجام فيما بينهم<br />
<br />
  دائماً مشغول بعمل الخيرللناس ويعمل بشكل أفضل إذا قدره الآخرون وشجعوه<br />
<br />
  حازم صارم، ينظم الأموروينظم الناس لكي ينجزوا الأهداف في الوقت المحدد<br />
<br />
  صاحب ولاء شديد ووفاء نادر حتى في أحلك الظروف<br />
<br />
   يهتم بكل الأمور الصغيرة والكبيرة<br />
<br />
  يتوقع من الآخرين أن يكونوا مثله<br />
<br />
  يحب الثبات ويكره التغيير... يحب أن يحسب الأمان وثابت على مبادئه دائماً<br />
<br />
  اجتماعي منطلق... أصحابه كثر... يألف الناس ويألفونه، موجود في المناسبات دائماً... يهتم بأهله القريبين جداً وأيضاً بجيرانه... يقدر ظروف الآخرين<br />
<br />
  لا يطلب أكثر من كلمة ثناء أو شكر من الآخرين على ما قدمه لهم<br />
<br />
  حسن المظهر... أنيق ولبق<br />
<br />
  يتأقلم مع النظام الإداري والروتين<br />
<br />
  يحب التعامل مع الجانب الإنساني... ويبتعد عن الأمور المادية<br />
<br />
<br />

          <h2>“قراءة بالعمق”</h2>
	<blockquote>
			 <p>“تشجع، وترفع وتعزز بعضها البعض. والطاقة الإيجابية التي يتشرها واحد منهم سيشعر بها الجميع.”</p>
			 <footer>ديبورا داي</footer>
			</blockquote>

			<p>الناس الذين يشتركون في نوع الشخصية ESFJ هم، لعدم وجود كلمة أفضل، 
شعبيون, وهو أمر طبيعي، نظراً لأنه هو نوع شخصية شائع جدا، لكونه يمثل 12%
 من البشر. في المدرسة الثانوية، شخصيات ESFJ هم فتيات التشجيع ولاعبو فريق
 كرة القدم والقياديون والأشخاص الذين هم دائماً في دائرة الضوء والذين 
يقودون فرقهم إلى النصر والشهرة. في وقت لاحق في الحياة، تواصل شخصيات ESFJ
 التمتع بدعم أصدقائهم وأحبائهم، وتنظيم اللقاءات الاجتماعية وتبذل قصارى 
جهدها لتتأكد من أن الجميع سعداء.</p>

			<div class="description-pullout">في قلوبهم، نجد أن شخصيات ESFJ مخلوقات اجتماعية، وتحاول جاهدة متابعة ما يفعله أصدقائهم.</div>

			<p>مناقشة النظريات العلمية أو مناقشة السياسة الأوروبية ليس من دواعي 
اهتمام شخصيات ESFJ لفترة طويلة. فهم يعنيهم أكثر الموضة ومظهرهم ووضعهم 
الاجتماعي وموقف الآخرين منهم. أما المسائل العملية والقيل والقال فهي أهم 
شيئ في حياة تلك الشخصيات بالرغم من أنهم يبذلون قصارى جهدهم لاستخدام 
قدراتهم في الخير.</p>

			<h2>احترام حكمة القيادة</h2>

			<p>شخصيات ESFJ مؤثرون ويأخذون على محمل الجد مسؤوليتهم في مساعدة 
الآخرين لفعل الشيء الصحيح. وخلافا لأقاربهم من الشخصيات الدبلوماسية (NF)،
 فإن شخصيات ESFJ سوف يزبطون بُوصلتهم الأخلاقية على التقاليد الراسخة 
والقوانين، وعلى السلطة والقواعد المعمول بها بدلاً من الاعتماد على 
الأخلاق الفلسفية أو التصوفية. إنه من المهم بالنسبة لشخصيات ESFJ أن تتذكر
 أن الناس يأتون من خلفيات ووجهات نظر مختلفة، وما قد يبدو لهم الحق ليس 
دائماً الحقيقة المطلقة.</p>

			<p>شخصيات ESFJ تحب أن تكون في خدمة الآخرين، وتتمتع بأي دور يسمح لهم 
بالمشاركة بطريقة ذات معنى، طالما أنهم يعرفون أن الآخرين يقدرونهم 
ويحترمونهم. وهذا يتضح بشكل خاص في المنزل، حيث أن شخصيات ESFJ شركاء 
وأولياء أمور أوفياء. كما أنهم يحترمون التسلسل الهرمي، ويبذلون قصارى 
جهدهم لخلق نوع من السلطة لأنفسهم، في المنزل أو في العمل، مما يسمح لهم 
بإبقاء الأمور واضحة ومستقرة ومنظمة للجميع.</p>

			<h2>تواريخ اللعب ليست فقط للأطفال!</h2>

			<p>تجدهم في الحفلات دائماً الشخصيات المساندة والمنطلقة، فلديهم دائماً
 الوقت للدردشة والضحك مع الجميع! ولكن إخلاصهم يذهب إلى أبعد من مجرد فعل 
ذلك لأنهم مضطرين له، فهم يستمتعون حقاً بالاستماع لأصدقائهم عندما يحكون 
عن علاقاتهم وأنشطتهم ويتذكرون التفاصيل الصغيرة ودائماً على أهبة 
الاستعداد للتحدث في موضوع ما بدفء وحساسية. إذا كانت الأمور لا تسير على 
ما يرام، أو هناك توتر في الغرفة، فإن شخصيات ESFJ تتولى مسؤولية محاولة 
استعادة الوئام والاستقرار إلى المجموعة.</p>

			<p>وكونها معارضة للصراع، فإن شخصيات ESFJ تنفق الكثير من طاقتها لإقامة
 النظام الاجتماعي، ويفضلون الخطط والفعاليات للأنشطة المعلقة أو اللقاءات 
العفوية. الأشخاص الذين يتمتعون بهذا النوع شخصية يبذلون الكثير من الجهد 
في الأنشطة التي ينظمونها، ويسهل جرح مشاعرهم لو رُفضت أفكار تلك الأنشطة 
التي نظموها، أو إذا لم يهتم بها الناس. مرة أخرى، فإنه من المهم بالنسبة 
شخصيات ESFJ أن تتذكر أن جميع الأشخاص يأتون من خلفيات مختلفة، وأن عدم 
الاهتمام ليس متعلق بشخصهم أو النشاط الذي نظموه , فليس هذا موقف شخصي 
منهم.</p>

			<p>وأكبر التحديات التي يواجهها شخصيات ESFJ هو التوصل إلى حل لحساسيتهم
 , فالناس سوف تختلف معهم وقد ينتقدوهم، وعلى الرغم من أن ذلك أمر مؤلم 
لهم، إلا أنها حقيقة من حقائق الحياة. أفضل شيء على هذه الشخصيات القيام به
 هو أن يفعلوا ما يجيدوه: وهو أن يكونوا نموذجاً يحتذى به وأن يستمتعوا 
بحقيقة أن الكثير من الناس يقدرون الجهود التي يقدمونها.</p>

         

			<p>شخصيات ESFJ الشهيرة:</p>

			<div class="celebrity-list">
			
			
			 <img src="img/FAAMOUSQUIZ/ESFJ.PNG" /> <br /><br />
                <img src="img/MOVIESQUIZ/ESFJ.PNG" />
                <br />
<br />
                        <img src="img/imagesqiz/ESFJ.PNG" />   <br /><br />
				<div class="well well-sm">بيل كلينتون</div>
				<div class="well well-sm">وليام ماكينلي</div>
				<div class="well well-sm">جنيفر غارنر</div>
				<div class="well well-sm">تايرا بانكس</div>
				<div class="well well-sm">داني غلوفر</div>
				<div class="well well-sm">نانسي كاريجان</div>
				<div class="well well-sm">سالي فيلد</div>
				<div class="well well-sm">"دين وينشستر" من فيلم الرجال الخارقون</div>
				<div class="well well-sm">"مونيكا" من مسلسل الأصدقاء</div>

			</div>
<br/><br/>
<h1 >النصائح العشر للنجاح كوسيط:</h1>
<ol>
<li >&nbsp;<strong>ركز على نقاط قوتك!</strong>&nbsp;شجع
 قدراتك على الرعاية والدعم للظهور. اسمح لنفسك بإستغلال الفرص لتعزيز 
وتطوير الأوضاع في محيط أسرتك أو عملك. ابحث عن عمل أو هواية لتساعدك على 
مشاركة العالم هذه القدرات.</li>
<li ><strong>واجه نقاط ضعفك!</strong>&nbsp;كما
 تقبلت نقاط قوتك، تفهم أن هناك نقاط ضعف في شخصيتك، وأنك يجب أن تعمل بصدق
 على التخلص منها. تذكر دائماً أن مواجهة نقاط ضعفك لا يعني مواجهة نفسك أو
 تغيير شخصيتك، بل يعني أنك ترغب بأن تكون الأفضل.</li>
<li ><strong>اكتشف عالم الآخرين!</strong>&nbsp;لا
 تقع في فخ الإعتقاد بأنك تعرف ما هو الأفضل للآخرين. عندما تغوص في أعماق 
عوالمهم، ستجد أن الأفضل من زاويتهم قد يكون غير ما تعتقده.</li>
<li ><strong>لا تكن متسرعاً!</strong>&nbsp;أعط
 الأفكار بعض الوقت لتستقر قد أن تتخذ قراراً حولها. أترك الفرصة للآخرين 
كي يبحثوا عن ما هو الأفضل لهم، وفكر أنت فيما هو الأفضل، وكن مستعداً 
للتدخل والمساعدة عندما يطلب منك أو في الطوارئ.</li>
<li ><strong>أنظر بعناية للعالم!</strong>&nbsp;تذكر أن الكثير من الأشياء لا يحكم عليها من ظواهرها، أحياناً تحتاج للتدقيق والنظر في الأمور للإكتشاف والمعرفة.</li>
<li ><strong>اسمح للآخرين بتحمل بعض المسؤوليات!</strong>&nbsp;عندما
 تسمح للآخرين بإتخاذ قراراتهم بأنفسهم، أنت لا تترك الأمور تخرج عن نطاق 
السيطرة، بل أنت تؤكد أن حاجاتهم أصبحت جزءاً من حياتك. وتذكر بأن تقود 
الآخرين لرؤية أفكارك أفضل من اتخاذ القرارات نيابة عنهم وتركهم بعيدين عن 
أفكارك.</li>
<li ><strong><strong>كن مسؤولاً أمام الآخرين!</strong>&nbsp;</strong>تذكر
 أنهم يحتاجون للتعرف عليك وعلى احتياجاتك. عبر عن المصاعب التي تواجهك، 
والأسباب التي دعتك لإتخاذ قرار على آخر، ودع الآخرين يكونون شركاء معك في 
حل المشاكل.</li>
<li ><strong>لا تقيد نفسك!</strong> بقاؤك في
 منطقة الراحة الشخصية سيؤدي في النهاية إلى هزيمة نفسية. حاول أن تستكشف 
أموراً جديدة عن العالم وعن الناس من حولك، سيساعدك ذلك على توسيع مداركك 
وأفقك، وسيفتح لك الكثير من الفرص.</li>
<li ><strong>افترض الأفضل دائماً، واسعى لتحقيقه!</strong>
 لا تنتظر أن يرتقي الآخرين إلى توقعاتك. إن آمنت بأن كل شخص لديه منجم من 
المهارات والقدرات بحاجة لأن تكتشف، وأن لكل حالة مهما كانت سيئة جانب 
إيجابي، ستنجح في تحقيق الأفضل.</li>
<li ><strong>اسأل عندما تكون في شك!</strong>&nbsp;لا تتوقع بأن عدم حصولك على المعلومة هو نفس الحصول على معلومة سلبية. إذا لم تحصل على معلومة تحتاج لها أطلبها ولا تتردد.</li>
</ol>
<br/>
    
<ion-item menu-close href="#/app/Copmatability">
       <i class="ion-heart"></i>   شاهد توافقك مع بقية الشخصيات<i class="ion-heart"></i>
        </ion-item>
         </div>

</center>
  </ion-content>
</ion-view>
