<ion-view view-title="ESTP">
  <ion-content>
      <center>
    <div>
                 
                         <h1 class="description-title">
                             ESTP شخصية
                    </h1>

                    <img src="img/estp.png" width="90%" />
    
        <h1 class="description-nicetitle">“رائد عمل”</h1>

    
	

            <h3>من صفاته الرئيسية</h3>


        <br />
منفتح .. حسي .. مفكر .. مشاعري<br />
صفاته <br />
<br />
  علاقاته عريضة مع الناس... يستمد طاقته وحيويته من التعامل مع الآخرين<br />
<br />
 واقعي صاحب تجربة عملية.... ويعيش اللحظة الحالية<br />
<br />
 الخيال ليس له معنى عنده مادام ليس منه فائدة...لسان حاله أرى بعيني وأحس بحواسي (<br />
<br />
 منطقي وعقلاني... مرن متكيف مع الأوضاع الجديدة<br />
<br />
 مرح وتلقائي... لا للملل في الحياة وفي العلاقة مع الآخرين<br />
<br />
 لديه مهارة طبيعية في حل المشاكل... ويستمتع بحلها<br />
<br />
 يجمع بين المشاكل... ويربط بينها ويقرأ ما بين السطور... ثم يحلها بشكل منطقي<br />
<br />
 يجمع بين المتناقضات ويوفق بينها بلا تناقض<br />
<br />
 يفضل الإثارة والحركة... مجازف ويستمتع بما هو آت... يفضل الأمور الرياضية والأشياء اليدوية<br />
<br />
 يستطيع أن يرى دقائق الأمور ويلفت للتفاصيل وتثير اهتمامه<br />
<br />
 صاحب ذوق فني عالي... يحب الهدوء والصوت الخافت والرائحة الحلوة والمنظر الجميل<br />
<br />
 يبحث عن النتائج ويحب أن يراها<br />
<br />
 لديه قدرة عالية على التحمل والتأقلم مع الواقع كماهو<br />
<br />
 عنده مهارات يدوية... وصاحب حرفة<br />
<br />
 يكره الشرح ويفضل المختصرالمفيد، ثم بعد أن يسمع يعطيك اقتراح في كلمتين... يكره الجدل والنقاش<br />
<br />
 لديه لطافه وسماحه ورقه ولذلك يميل الناس للتعامل معه والتقرب إليه... وأيضا لأنه مرح ويحب اللعب<br />
<br />
 لديه طاقة جبارة وقدرة فائقة على حل المشكلات<br />
<br />
 لايحب الروتين والقوانين... ولكنه يفضل الحرية<br />
<br />
 لديه قدرة عجيبة على جعل الصعب سهلاً<br />
<br />
 عبقري ومخترع<br />
<br />
 لديه رغبة قوية في الحياة... ويحب أن يستمتع بالحياة ومباهجها<br />
<br />
 <br />

          <h2>“قراءة بالعمق”</h2>
        <blockquote>
			 <p>“الحياة إما أن تكون مغامرة جريئة أو لا شيء على الإطلاق.”</p>
			 <footer>هيلين كيلر</footer>
			</blockquote>

			<p>أنواع الشخصية ESTP دائما لهم تأثير مباشر على محيطهم ,أفضل طريقة 
لاكتشافهم في حفل هو البحث عن دوامة متحركة من الناس لأنهم ينتقلون من 
مجموعة إلى أخرى وتنتقل الناس معهم. الضحك والترفيه بروح من الفكاهة الحادة
 ، هذا ما تحبه شخصيات ESTP لأنهم يحبوا أن يكونوا مركز الاهتمام. وإذا طلب
 من أحد أفراد الجمهور الحضور على خشبة المسرح، ستتطوع شخصية ESTP ,أو 
يجبرهم على التطوع صديق خجول.</p>

			<p>النظريات والمفاهيم المجردة والتثاقل في المناقشات حول القضايا 
العالمية وآثارها لا يثير اهتمام شخصية ESTP لفترة طويلة. فهم يحبون 
الأحاديث الحيوية، والتي بها جرعة جيدة من الذكاء، ويفضلون الخروج لتنفيذ 
ما يتحدثون عنه بدل من الحديث عنه فقط. شخصية ESTP تقفز قبل أن تنظر، 
ويصلحون أخطائهم طوال الوقت بدلاً من الجلوس بدون عمل، ودائمي إعداد الخطط 
البديلة وتكتيكات الهروب.</p>

			<h2>لا تخلط بين الحركة والعمل</h2>

			<p>شخصية ESTP هي أرجح أنواع الشخصيات لجعل نمط حياتها سلوك محفوف 
بالمخاطر. فهم يعيشون اللحظة ويغوصون في العمل. الناس من نوع شخصية ESTP 
تستمتع بالدراما، والعاطفة، والسرور، وليس من أجل الاثارة العاطفية، ولكن 
لأنها محفزة جدا لعقولهم المنطقية. حيث يضطرون إلى اتخاذ قرارات حاسمة على 
أساس واقعي وفوري في عملية استجابة للتحفيز العقلاني.</p>

			<p>وهذا يجعل المدارس والبيئات عالية التنظيم تحدياً لشخصية ESTP. ومن 
المؤكد أنه ليس لأنها شخصية غير ذكية، ولكن لأن النهج الصارم في إلقاء 
المحاضرات كجزء من التعليم الرسمي هو فقط جزء صغيرمن التدريب على التعلم 
التي تستمتع به شخصية ESTP. فذلك يتطلب قدرا كبيرا من النضج لرؤية هذه 
العملية كوسيلة ضرورية لتحقيق غاية، الأمر الذي يخلق فرصا أكثر إثارة لتلك 
الشخصيات.</p>

			<p>ومن التحديات الأخرى التي تواجهها شخصيات ESTP، هو استخدام البوصلة 
الأخلاقية الخاصة بها مع شخص آخر. فالقواعد اخترعت لتكسر. فهذا هو شعور 
قليل من المدربين في المدرسة الثانوية أو المشرفين في الشركات التي تعمل 
بها شخصيات ESTP، مما يكسبهم سمعة معينة. ولكن إذا قللوا من صنع المشاكل، 
وسخروا طافتهم، وركزوا على الأشياء المهمة، فإنهم يصبحون قوة لا يستهان 
بها.</p>

			<h2>معظم الناس لا يستمعون جيداً بما فيه الكفاية</h2>

			<p>نظراً لقدرتهم الكبيرة على الادراك أكثر من أي نوع شخصية آخر، فشخصية
 ESTP لديها مهارة فريدة من نوعها في ملاحظة التغيرات الصغيرة. وحتى لو كان
 التغيير في تعبيرات الوجه، أو في أسلوب جديد للملابس، أو عادة انقطعت، 
فالشخصيات من هذا النوع تلتقط الأفكار والدوافع الخفية التي يعجز معظم 
أنواع الشخصيات الأخرى من ملاحظتها على الإطلاق. شخصية ESTP تستخدم هذه 
الملاحظات على الفور، فتستجوب صاحب التغيير بأسئلة لا تراعي أية مشاعر. 
ولذا يجب على شخصية ESTP أن تتذكر أن ما من أحد يريد نشر أسراره وقراراته 
على المشاع.</p>

			<div class="description-pullout">أحيانا كل ما هومطلوب من شخصية ESTP هو المراقبة اللحظية والعمل، كما هو الحال في بعض بيئات الشركات، وخاصة في حالات الطوارئ.</div>

			<p>ولكن شخصية ESTP ليست حريصة على الرغم من أنها قد تستغرقها اللحظة، 
وتأخذ الأمور على محمل الجد، فترمي بمشاعر الناس الأكثر الحساسية عرض 
الحائط، أو تنسى رعاية صحتهم وسلامتهم الشخصية. ولأنهم أربعة في المئة فقط 
من البشر، فتلك النسبة الكافية لابقاء الأمور تنافسية بالقدر الكافي، وليست
 كبيرة بالقدر الكافي لتسبب مخاطر نظامية.</p>

			<p>شخصية ESTP مليئة العاطفة والطاقة، يكملهما عقل مدبر، ولكن مشتت في 
بعض الأحيان. وهم شخصية ملهمة، مقنعة وحيوية، وقادة بالفطرة، لديهم القدرة 
على تجميع الناس ، وينشرون الحياة والإثارة في كل مكان يذهبون له. مسخرين 
هذه الصفات إلى الوصول لنهاية بناءة ومثمرة وهو التحدي الحقيقي لشخصية 
ESTP.</p>

			<p>شخصيات ESTP الشهيرة:</p>

			<div class="celebrity-list">
			  <img src="img/FAAMOUSQUIZ/ESTP.PNG" /> <br /><br />
                <img src="img/MOVIESQUIZ/ESTP.PNG" />
                <br />
<br />
                        <img src="img/imagesqiz/ESTP.PNG" />   <br /><br />
				<div class="well well-sm">إرنست همنغواي</div>
				<div class="well well-sm">جاك نيكلسون</div>
				<div class="well well-sm">إدي مورفي</div>
				<div class="well well-sm">مادونا</div>
				<div class="well well-sm">بروس ويليس</div>
				<div class="well well-sm">مايكل جي فوكس</div>
				<div class="well well-sm">جيمس بوكانان</div>

			</div>

         </div>
        <br /><br />
        <h1 >النصائح العشر للنجاح كرائد عمل:</h1>
<ol >
<li><strong>ركز على نقاط قوتك!</strong>&nbsp;أعط نفسك الفرصة لتبرز 
قدراتك الطبيعية. إذا لم تكن في وظيفة تساعدك على ذلك ابحث عن عمل يساعدك 
على ذلك. وتذكر أن ما يحركك هو تفاعلك مع العالم، في مهام تتطلب منك 
الإنجاز، وعندما يكون هناك تحدي لإنجاز العمل.</li>
<li><strong>واجه نقاط ضعفك!</strong>&nbsp;كما تقبلت نقاط قوتك، تفهم أن هناك نقاط ضعف في شخصيتك، وأنك يجب أن تعمل بصدق على التخلص منها.</li>
<li><strong>تحدث عن أفكارك!</strong>&nbsp;مناقشة أفكارك مع الآخرين، ستساعدك على تطوير أفكارك الخاصة، وستساعدك على شحذ صفاتك الشخصية.</li>
<li><strong>لا تخاف من إظهار مشاعرك!</strong>&nbsp;طبيعتك تريد منك أن 
تبقى طفلاً من الداخل، ولهذا أن دائماً ما تشعر بالحاجة للعمل وإثبات نفسك 
وقدراتك. أنت لا تحتاج لإثبات ذلك لأي أحد. فقط اعثر الشخص الذي يستحق أن 
تفتح له قلبك، وتطلق العنان للجانب الطفولي من شخصيتك.</li>
<li><strong>احترم حاجتك للحركة المستمرة!</strong>&nbsp;أنت بطبيعتك لست 
من النوع الذي يحب الجلوس لقراءة كتاب، أو مشاهدة فيلم، أنت بحاجة للحركة 
الدائمة والعمل بإستمرار. تذكر أن تربط نفسك بزوج أو أصدقاء يتوافقون معك 
بنظام الحياة هذا.</li>
<li><strong><strong>تعرف على الفروقات الشخصية لدى الآخرين!</strong></strong>&nbsp;لاحظ
 أن الناس يختلفون في أطباعهم، وهذا الإختلاف قد لا يكون بسيطاً بل كبيراً 
جداً. كل شخص يلائمه مكان ويعتز بقيم مختلفة. تعرف على هذه الفروقات وتعلم 
منها، اكتشف المكان الذي يلائمك وشخصيتك.</li>
<li><strong><strong>اخرج من المنطقة المألوفة لديك!</strong></strong> نموك يتعمد بشكل كبير على ارتكابك لبعض المخاطرات، والخروج إلى تجربة أمور جديدة لم يسبق لك القيام بها.</li>
<li><strong><strong >تعرف على مشاعرك وعبر عنها!</strong><span >&nbsp;</span></strong><span >قد
 لا يكون ذلك بالأمر السهل لديك، ولكن حاول أن تغوص في أعماق نفسك وتستكشف 
مشاعرك واحاسيسك. وعندما تجد في نفسك مشاعر تجاه شخص، اخبره بذلك. لا 
تحبسها في داخلك، هذا الأمر سيشعر الطرف الآخر بالأمان، وإن كان ذلك في ظل 
علاقة زوجيه، هذا ما سيساعدها على الإستمرار.</span></li>
<li><strong>تذكر أنك ربما تخسر، والخسارة نوع من أنواع النجاح!</strong> هناك جبال لا يمكن تسلقها، عملاء لا يمكن إرضاءهم، وعقود لا يمكن توقيعها. الخسارة هنا، فرصة لتتعلم، وتطور، وتضيف خبرة لرصيدك.</li>
<li><strong>افترض الأفضل دائماً!</strong>&nbsp;لا تضيق على نفسك بتوقع الأسوء دائماً، وتذكر أن الموقف الإيجابية دائماً ما يخلق نتائج إيجابية.</li>
</ol>
<br/>
<ion-item menu-close href="#/app/Copmatability">
       <i class="ion-heart"></i>   شاهد توافقك مع بقية الشخصيات<i class="ion-heart"></i>
        </ion-item>
</center>

  </ion-content>
</ion-view>
