<ion-view view-title="INFJ">
  <ion-content>
     <center>
    <div>
                 
                      <h1 class="description-title">
                             INFJ شخصية
                    </h1>

                    <img src="img/infj.png" />
    
        <div class="description-nicetitle">“المحامي”</div>
        <br /><br />
    

         <h3>من صفاته الرئيسية</h3>

        <br />
متحفظ .. حدسي .. مشاعري ..حكم<br />
صفاته:<br />
<br />
• محافظ... يفكر أولاً ثم يتفاعل مع الحدث<br />
<br />
• لايبدأ الكلام ولكنه يرد عليه... غامض وقليل الكلام... علاقاته محدودة، يميل للهدوءوللجلوس وحيداً<br />
<br />
• صاحب حس راقي... يشعر بالناس ويفضل أن يخدم الآخرين<br />
<br />
• يحمى الناس من الوقوع في الخطأ<br />
<br />
• يحقق النجاح عن طريق الإصرار والثبات على المبدأ... ومبادئه ثابتة وواضحة<br />
<br />
• أفكاره من فهمه وليس تتقليداً لأحد... عنده خصوصية في شخصيته ( غير مقلد (<br />
<br />
• يحب أن يعمل ما ينبغي عمله... ( المفروض أن نعمل كذا (<br />
<br />
• يضع كل جزء من اهتمامه في العمل<br />
<br />
• قوى للغاية وصاحب ضمير حي<br />
<br />
• يحترمه الناس لصلابة مبادئه ولوضوح الرؤية لديه<br />
<br />
• صاحب مهارة في تقييم أي موقف وخصوصا فيما يتعلق بالناس<br />
<br />
• يستطيع أن يفهم ما في داخل نفسك... وهو متأكد من قدراته هذه<br />
<br />
• يفهم الأشياء المعقدة بكل وضوح... خصوصاً ما يتعلق بالنفس البشرية<br />
<br />
• مؤمن بمبادئه... ويثقفي إيمانه هذا جداً<br />
<br />
• الحدس والإلهام من أهم قدراته<br />
<br />
• عنده قدرة كبيرة على تحفيز الناس في العمل<br />
<br />
• لا يحب التفاصيل... ولكن يفضل الصورة العامة للأمور<br />
<br />
• ولاؤه كبير لأصدقائه ولعمله... والتزامه عميق بمبادئه وعقيدته<br />
<br />
• عنده نظرة مستقبلية... وبصيرته نافذة... خياله خصب<br />
<br />
• القياس والتشبيهات والأمثلة كثيرة في حياته<br />
<br />
• حساس عاطفي... طيب القلب<br />
<br />
<br />

         <h2>“قراءة بالعمق”</h2>
	<p>نوع شخصية INFJ نادر جدا، حيث يشكلون أقل من واحد في المئة من البشر، 
لكنهم مع ذلك يتركون بصماتهم على العالم. وككل فئة الدبلوماسيين (NF)، 
فلديهم الحس الفطري من المثالية والأخلاق، ولكن ما يفرقهم هو سمة التخطيط 
(J) , فشخصية INFJ ليست الشخصية الحالمة الخمولة، ولكنها القادرة على اتخاذ
 خطوات ملموسة لتحقيق أهدافهم وتحقيق نتائج دائمة إيجابية.</p>

			<div class="description-pullout">شخصية INFJ تميل لرؤية مساعدة الآخرين
 كهدفها في الحياة، ولكن في حين أن الناس من هذا النوع من الشخصية يمكن أن 
يمثلوا جهود الانقاذ والقيام بأعمال خيرية، فالعاطفة الحقيقية لديهم هي 
الوصول إلى قلب القضية.</div>

			<h2>ساعدني لكي أساعدك</h2>

			<p>لدى شخصية INFJ مزيج فريد جدا من الصفات: على الرغم من لسانهم 
المعسول الكلام، إلا أن لديهم آراء قوية جدا وسيقاتلون بلا كلل من أجل فكرة
 يؤمنون بها. وهم شخصية حاسمة وقوية الإرادة، ولكن نادرا ما تستخدم تلك 
الطاقة لتحقيق مكاسب شخصية , سوف تعمل شخصية INFJ مع الإبداع والخيال 
والحساسية ليس لخلق ميزة، ولكن لخلق التوازن. المساواة والكرامة هي أفكار 
جذابة جدا لشخصية INFJ، حيث تميل إلى الاعتقاد بأن أي شيء من شأنه أن يساعد
 العالم بقدر ما باستخدام المودة والرحمة لتليين قلوب الطغاة.</p>

			<blockquote>
			 <p>“كل فرد يجب أن يقرر ما إذا كان سوف يسير في ضوء الإيثار الإبداعي أو في ظلمة الأنانية المدمرة.”</p>
			 <footer>مارتن لوثر كينغ</footer>
			</blockquote>

			<p>شخصية INFJ تجد أنه من السهل التواصل مع الآخرين، ولها موهبة اللغة 
الحساسة الدافئة، متحدثين من الناحية الإنسانية، وليس مع المنطق الخالص 
والحقيقة. فمن المنطقي أن أصدقاءهم وزملاءهم يفكرون فيهم كشخصيات هادئة 
منفتحة، لكنهم سوف يتذكرون أن شخصية INFJ تحتاج إلى وقت مع ذاتها لإعادة 
الشحن، وعليهم عدم الانزعاج عندما تنسحب شخصية INFJ فجأة. تراعي شخصية INFJ
 بشكل كبير مشاعر الآخرين، وأنهم يتوقعون أن يرد لهم الجميل , في بعض 
الأحيان يعني ذلك منحهم المساحة التي يحتاجونها لبضعة أيام.</p>

			<h2>عش لتقاتل في يوم آخر</h2>

			<p>أهم شيئ على شخصية INFJ تذكرها هورعاية أنفسهم. فعاطفة قناعاتهم 
قادرة تماما على نقلهم لما بعد نقطة الانهيار، وإذا خرج الحماس عن المألوف،
 فإنهم يمكن أن يجدوا روحهم منهكة وغير صحية ومضغوطة. وهذا يصبح واضحا 
خصوصا عندما تجد شخصية INFJ نفسها في مواجهة الصراع والنقد , فحساسيتها 
تجبرها على بذل كل ما في وسعها لتفادي هذه الهجمات التي تبدو الشخصية، ولكن
 عندما لا يمكن تجنب هذا الصراع والنقد فإنها يمكن أن تقاوم بطرق غير مفيدة
 وغير منطقية للغاية.</p>

			<p>بالنسبة لشخصية INFJ فالعالم هو مكان يعمه الظلم , ولكن لا يجب أن 
يكون كذلك. فلا يوجد نوع شخصية آخر أكثر قدرة على مجابهة الظلم، مهما كان 
كبيرا أو صغيرا، مثل هذه الشخصية. فقط عليهم أن يتذكروا أنه في حين أنهم 
مشغولون برعاية العالم، فإنهم يحتاجون لرعاية أنفسهم أيضا.</p>




          

			<p>شخصيات INFJ الشهيرة:</p>

			<div class="celebrity-list">
			  <img src="img/FAAMOUSQUIZ/INFJ.PNG" /> <br /><br />
                <img src="img/MOVIESQUIZ/INFJ.PNG" />
                <br />
<br />
                         <br /><br />
				<div class="well well-sm">مارتن لوثر كينغ</div>
				<div class="well well-sm">نيلسون مانديلا</div>
				<div class="well well-sm">الأم تيريزا</div>
				<div class="well well-sm">نيكول كيدمان</div>
				<div class="well well-sm">جيمي كارتر</div>
				<div class="well well-sm">ميل جيبسون</div>
				<div class="well well-sm">غوته</div>
				<div class="well well-sm">"جيمس ويلسون" من البيت MD</div>

			</div>

    

         </div>
        <br />

        <h1 >النصائح العشر للنجاح كمحامي:</h1>
<ol >
<li>&nbsp;<strong>ركز على نقاط قوتك!</strong>&nbsp;اعمل الأشياء التي تساعدك على تطوير قدرتك الحدسية وكذلك شجع نفسك على مساعدة الآخرين فحبها نابع من شخصيتك.</li>
<li><strong>واجه نقاط ضعفك!</strong>&nbsp;كما تقبلت نقاط قوتك، تفهم أن 
هناك نقاط ضعف في شخصيتك، وأنك يجب أن تعمل بصدق على التخلص منها. على رأس 
هذه النقاط، ميولك الداخلية لإطلاق الأحكام على الأشياء الخارجة عن مدى 
سيطرتك. حاول أولاً أن تمرر تلك الأفكار على حدسك، وأعط نفسك الوقت الكافي 
لإستيعابها، ثم اصدر حكمك، والأهم من ذلك حاول أن تجد مكامن التطوير 
والتحسين الواقعة تحت يديك.</li>
<li><strong>خذ وقتك في التفكير في الأشياء الجديدة!</strong>&nbsp;قاوم 
رغبتك بإصدار الأحكام السريعة، أو بصرف النظر عن الأشياء دون أن تنظر فيها 
بشكل كافي وتستوعبها بالشكل الصحيح. وقد يكون من الجيد هنا، أن توظف عملية 
النقاش وتبادل الأفكار مع الآخرين.</li>
<li><strong>استمع لكل شيء!</strong>&nbsp;لا تحاول صرف أي فكرة لأن مصدرها
 شخص لا تحترمه، أو لأنك تشعر بأنك تعرف الفكرة مسبقاً. الجميع لديه وجهة 
نظر والأفكار لا حدود لها، لذلك أعط الآخرين والأفكار الفرصة ليعبروا عن 
أنفسهم.</li>
<li><strong>اللحظة التي تفقد فيها أعصابك، أنت تخسر!</strong>&nbsp;عاطفتك
 هي أحد أهم الأصول لديك، ولكنها ستنقلب إلى سلاح مدمر إن تركتها لتوقعك في
 فخ الغضب. تذكر أن الغضب قد يكون سبب في تدمير علاقاتك الشخصية والعائلية،
 وبالتالي سيصعب من عملية بلوغك لأهدافك، ولا تنتبه إلى نفسك إلا وأنت قد 
أصبحت وحيداً. عود نفسك على التفكير، والنظر في الأمور التي تغضبك قبل أن 
تصب جام غضبك على الآخرين. وقد يكون من المهم أيضاً، أن تبدأ بالتعود على 
النظر للأمور بمهنية خالية من التعصب والشخصانية.</li>
<li><strong><strong>ابق عينك دائماً على الصورة الكبيرة!</strong>&nbsp;</strong>لديك
 ميل طبيعي للبحث في التفاصيل الدقيقة، لذلك تأكد من أن تكون مدركاً لوجود 
هذه المشكلة لديك، ثم حاول أن تتجنب الإغراق في التفاصيل الغير مهمة. وحين 
تجد نفسك تدعوك للحياد على الطريق الرئيسي، توقف وخذ خطوة للخلف، تأكد من 
أنك ترى هدفك الرئيسي ثم تابع السير إليه دون أن تنعطف للأمور المشتتة.</li>
<li><strong><strong>حاسب نفسك!</strong>&nbsp;</strong>وتذكر بأنك أنت أكثر الأشخاص قدرة على التحكم في نفسك وإدارتها.</li>
<li><strong>كن متواضعاً!</strong>&nbsp;حاسب نفسك بنفس درجة الحدة التي تود أن توقعها على الآخرين.</li>
<li><strong>افترض الأفضل دائماً!</strong>&nbsp;لا تضيق على نفسك بتوقع الأسوء دائماً، وتذكر أن الموقف الإيجابية دائماً ما يخلق نتائج إيجابية.</li>
<li><strong>استرخي!</strong>&nbsp;أعط نفسك الفرصة للإستراخاء والراحة 
وتعلم كيف تقوم بالأعمال المهدئة والتي تبعدك عن جو العمل وضغوطه. خذ 
إجازة، وحاول أن تعطي أقاربك وأحبابك بعضاً من وقتك، وعبر لهم عن حبك.</li>
</ol>
<br/>
<ion-item menu-close href="#/app/Copmatability">
       <i class="ion-heart"></i>   شاهد توافقك مع بقية الشخصيات<i class="ion-heart"></i>
        </ion-item>
</center>
  </ion-content>
</ion-view>
