<ion-view view-title="INFP">
  <ion-content>
    <center>
    <div>
                 
                        <h1 class="description-title">
                             INFP شخصية
                    </h1>
        <img src="img/infp.png" width="90%" />
                    
    
        <div class="description-nicetitle">“الوسيط”</div>

    
	<br /><br />

          <h3>من صفاته الرئيسية</h3>

        <br />
متحفظ..حدسي .. مشاعري .. تلقائي<br />
صفاته:<br />
<br />
• غامض ومحافظ... كتوم وهادئ...علاقاته محدودة... ولا يبادر الكلام<br />
<br />
• صاحب الهام وخيال... عمق في التفكير الإبداعي ولكن في داخل نفسه<br />
<br />
• صاحب قلب رقيق لأبعد الحدود وهذه هي مشكلته مع الآخرين... لأنهم دائماً ما يقللون من قدراته ويظنونه ضعيفاً... ولكنه ليس ضعيفاً، بل يفضل ألا يضايق أحداً... قوى جداً ولكن داخل نفسه<br />
<br />
• يفهم الناس... ويفهم تعقيدات النفس البشرية جيداً<br />
<br />
• لديه قدرة عالية جداً على المرونة والتكيف<br />
<br />
• مثالي في رؤيته وتصرفاته وحياته... لا يضايق أحداً ولا يتقاتل مع أحد<br />
<br />
• يراقب الأوضاع من حوله في هدوء<br />
<br />
• صاحب ولاء ووفاء عالي جداً... دافئ المشاعر... وذو قلب رحيم<br />
<br />
• يحب الناس في داخله ويحمل في داخله مبادئ وقيم عالية، والناس لا يحملون مثل هذه المحبة... وهذه المبادئ توقعه في صراع مع نفسه ومع الناس لأنهم يتصرفون عكس ما يتوقع<br />
<br />
• متكيف مرن... هادئ ولكنه فضولي جداً... سريع في الوصول إلى الاحتمالات<br />
<br />
• لا يميل إلى القيادة بل إلى الإتباع... يفضل أن يكون مع الجماعة ( في رأيه (<br />
<br />
• عميق التفكير داخل نفسه... وشديدالتركيز فيما يفكر فيه<br />
<br />
• يلاحظ الفروق الدقيقة بين كلام الناس وأفعالهم... ويقيم الناس تقييماً صائباً ودقيقاً<br />
<br />
• يتحمل أكثر من طاقته... ويتكيف مع كل الضغوط<br />
• يميل إلى الشعر والأدب... وعلوم الإنسان... والنفس البشرية<br />
• لديه طاقة جبارة للتركيز في العمل... ولكن داخل نفسه ( يعمل بصفة مستمرة )<br />
• محافظ... لا يتحدث كثيراً عن خصوصياته وأموره الشخصية<br />
• يقدر وبشدة العلاقات مع الناس... ولا يحب العلاقات السطحية<br />
<br />
• يحب تبادل المنفعة ( ساعدني وأساعدك)<br />
<br />
<br />

         <h2>“قراءة بالعمق”</h2>
        <p>شخصيات INFP هم المثاليون، الذين يبحثون دائماً عن الخير حتى في أسوأ 
الناس والأحداث، وعن سبل جعل الأمور أفضل. في حين أنهم قد ينظر إليهم على 
أنهم هادئين ومحافظين أو حتى خجولين، إلا أن شخصية INFP بها لهب داخلي 
وعاطفة يمكن أن تتألق. ولأنها تمثل 4٪ فقط من البشر، فإن الخطرمن أن يساء 
فهم مشاعرهم مرتفع للأسف، ولكن عندما تجد شخصية INFP من يفكرون مثلهم، فإن 
الانسجام الذي سيشعرون به يمكن أن يكون ينبوع الفرح والإلهام لهم.</p>

			<p>ولكونهم جزء من مجموعة الشخصية الدبلوماسية (NF)، فإن شخصية INFP 
تسترشد بالمبادئ بدلاً من المنطق (كما في مجموعة المحللون)، أو الإثارة 
(كما في مجموعة المستكشفون)، أو السلوك العملي (كما في مجموعة 
المنظمون).فعندما تقرر شخصية INFP كيفية المضي قدماً، فسوف تبحث عن الشرف، 
والجمال، والأخلاق والفضيلة , وذلك لأن شخصية INFP يقودها نقاء النية، وليس
 المكافآت والعقوبات. الناس الذين يشتركون في نوع شخصية INFP فخورون بهذه 
الصفة، وهم محقون في ذلك، ولكن لا يدرك الجميع الدوافع وراء هذه المشاعر، 
وأنها يمكن أن تؤدي بهم إلى العزلة.</p>

			<blockquote>
			 <p>“ليس كل ما هو ذهب يلمع، و ليس كل أولئك الذين يهيمون على وجوههم ضائعين؛ والجذور العميقة لا يصلها الصقيع.”</p>
			 <footer>ج. ر. ر. تولكين</footer>
			</blockquote>

			<h2>نحن نعرف ما نحن، ولكن لا أعرف ما قد نكون</h2>

			<p>في أحسن الأحوال، تمكن هذه الصفات شخصية INFP من التواصل مع الآخرين 
بعمق، مستخدمين وبسهولة الاستعارات والأمثال والتفاهم وخلق الرموز لتبادل 
أفكارهم. قوة هذا النوع من الشخصيات على الاتصالات البديهية يفسح المجال 
بشكل جيد للعديد من الأعمال الإبداعية، ولذلك فمن غير المستغرب أن شخصيات 
INFP الشهيرة هم من الشعراء والكتاب والممثلين. ففهم أنفسهم وموقعهم في 
العالم مهم لهذه الشخصيات، لأنها تستكشف هذه الأفكار من خلال إبراز أنفسهم 
في عملهم.</p>

			<div class="description-pullout">لدى شخصية INFP موهبة التعبير عن الذات، والكشف عن جمالها وأسرارها الداخلية من خلال الاستعارات والشخصيات الخيالية.</div>

			<p>قدرة شخصية INFP اللغوية لا تتوقف عند لغتهم الأم، ولا عند موهبتهم 
في تعلم لغة ثانية أو ثالثة , كما هو الحال مع معظم الناس الذين يشتركون في
 أنواع الشخصية الدبلوماسية. فموهبتهم في التواصل تضفي أهمية خاصة على 
شخصية INFP لتحقيق الوئام، وهي صفة متكررة مع جميع أفراد شخصية 
الدبلوماسيين، وتساعدهم على التقدم إلى الأمام.</p>

			<h2>استمع إلى كثير من الناس، ولكن تحدث إلى عدد قليل</h2>

			<p>على عكس أبناء عمومتهم من الشخصيات المنفتحة، سوف تركز شخصية INFP 
اهتمامها على مجرد عدد قليل من الناس، فقضية نبيلة واحدة قد تكفي لنفاد 
طاقتهم، وإصابتهم بالاكتئاب ولكم ستطغى عليهم مشاعر الفشل لكثرة عدد 
القضايا السيئة في العالم التي لم يستطيعوا إصلاحها. وهذا مشهد محزن 
لأصدقاء شخصية INFP، الذي يعتمدون على نظرتهم الوردية.</p>

			<p>إذا لم تكن حذرة، فيمكن لشخصية INFP أن تفقد نفسها أثناء سعيها 
للخير، وإهمال متابعة مطالب الحياة يوما بعد يوم. شخصيات INFP غالباً ما 
ينجرفون إلى التفكير العميق، ويستمتعون بالتفكير الفلسفي أكثر من أي نوع 
شخصية آخر. وإذا تركت لحالها، فقد تبدأ شخصية INFP بفقدان التواصل مع الناس
 وتنسحب إلى "وضع الناسك"، ويمكن أن يستغرق الأمر قدراً كبيراً من الطاقة 
من أصدقائهم أو شركائهم لاعادتهم إلى العالم الحقيقي.</p>

			<p>لحسن الحظ، مثل الزهور في الربيع، سوف تعود معهم المودة، والإبداع، 
والإيثار والمثالية، لمكافءتهم ومكافأة من يحبون ربما ليس بالمنطق، ولكن 
بوجهة نظر على العالم تستلهم الرحمة والعطف والجمال أينما ذهبوا.</p>


			<p>شخصيات INFP الشهيرة:</p>

			<div class="celebrity-list">
                  <img src="img/FAAMOUSQUIZ/INFP.PNG" /> <br /><br />
                <img src="img/MOVIESQUIZ/INFP.PNG" />
                <br />
<br />    <img src="img/imagesqiz/INFP.PNG" />
                         <br /><br />
				<div class="well well-sm">وليام شكسبير</div>
				<div class="well well-sm">ج. ر. ر. تولكين</div>
				<div class="well well-sm">بيورك</div>
				<div class="well well-sm">جوني ديب</div>
				<div class="well well-sm">جوليا روبرتس</div>
				<div class="well well-sm">ليزا كودرو</div>
				<div class="well well-sm">توم هيدليستون</div>
				<div class="well well-sm">هوميروس</div>
				<div class="well well-sm">فيرجيل</div>

			</div>

			<p>شخصيات INFP خيالية:</p>

			<div class="celebrity-list celebrity-list-extrabottom">

				<div class="well well-sm">"فرودو باغنز" من سيد الخواتم</div>
				<div class="well well-sm">"آن في المرتفعات الخضراء"</div>
				<div class="well well-sm">"فوكس مولدر" من الملفات السرية</div>
				<div class="well well-sm">"ديانا تروي" من ستار تريك</div>
				<div class="well well-sm">"ويسلي كرشر" من ستار تريك</div>

			</div>

    

         </div>


        <h1 >النصائح العشر للنجاح كوسيط:</h1>
<ol >
<li>&nbsp;<strong>ركز على نقاط قوتك!</strong>&nbsp;شجع قدراتك الفنية الطبيعية والإبداعية على البروز، غذ روحك، وأعط نفسك الفرصة لمساعدة المحتاجين والمحرومين.</li>
<li><strong>واجه نقاط ضعفك!</strong>&nbsp;كما تقبلت نقاط قوتك، تفهم أن 
هناك نقاط ضعف في شخصيتك، وأنك يجب أن تعمل بصدق على التخلص منها. تذكر 
دائماً أن مواجهة نقاط ضعفك لا يعني مواجهة نفسك أو تغيير شخصيتك، بل يعني 
أنك ترغب بأن تكون الأفضل.</li>
<li><strong>عبر عن مشاعرك!</strong>&nbsp;لا تحبس المشاعر في داخل نفسك، 
وتتركها لتتراكم. عندما تجد أن المشاعر بدأت تتجمع، رتب أفكارك ثم أطلقها. 
لا تتركها للحظة التي تنفجر فيها تلك المشاعر بشكل لا يمكن السيطرة عليه.</li>
<li><strong>استمع لكل شيء!</strong>&nbsp;لا تحاول صرف الأفكار بشكل تلقائي. استمع لها، خذ وقتك في التفكير فيها، ثم أطلق حكمك عليها.</li>
<li><strong>ابتسم في وجه النقد!</strong>&nbsp;تذكر أن الناس لن يتفقوا 
معك جميعهم، وكذلك لن يتمكنوا من فهمك. حاول أن ترى النقد والمعارضة على 
أنها فرصة للتطور والنمو الشخصي.</li>
<li><strong><strong>لاحظ الإختلافات الشخصية!</strong></strong>&nbsp;هناك 15 صنف شخصية غير شخصيتك، حاول استيعاب واستقراء أصناف الناس من حولك، وتفهم وجهات نظرهم.</li>
<li><strong><strong>حاسب نفسك!</strong>&nbsp;</strong>وتذكر بأنك أنت أكثر الأشخاص قدرة على التحكم في نفسك وإدارتها.</li>
<li><strong>كن رحيماً في توقعاتك!</strong>&nbsp;توقع الكثير من الآخرين، 
يعني أنهم في معظم الحالات سيخيبون ظنك. خيبة الظن هذه ستجعلهم ينفرون منك،
 وقد تخسر أصدقائك. حاول أن تكون متواضعاً في توقعاتك، وعامل الآخرين كما 
ترغب بأن تعامل.</li>
<li><strong>افترض الأفضل دائماً!</strong>&nbsp;لا تضيق على نفسك بتوقع الأسوء دائماً، وتذكر أن الموقف الإيجابية دائماً ما يخلق نتائج إيجابية.</li>
<li><strong>اسأل عندما تكون في شك!</strong>&nbsp;لا تتوقع بأن عدم حصولك على المعلومة هو نفس الحصول على معلومة سلبية. إذا لم تحصل على معلومة تحتاج لها أطلبها ولا تتردد.</li>
</ol>
<br/>
<ion-item menu-close href="#/app/Copmatability">
       <i class="ion-heart"></i>   شاهد توافقك مع بقية الشخصيات<i class="ion-heart"></i>
        </ion-item>
</center>

  </ion-content>
</ion-view>
