<ion-view view-title="INTJ">
  <ion-content>
     <center>
    <div>
                 
               <h1 class="description-title">
                             INTJ شخصية
                    </h1>

                    <img src="img/intj.png" width="90%"  />
    
        <div class="description-nicetitle">“المهندس”</div>

   <br />
	


           <h3>من صفاته الرئيسية</h3>

        <br />
متحفظ .. حدسي .. مفكر .. حكم<br />
صفاته:<br />
<br />
• محافظ، علاقاته قليلة... يستمع أكثر مما يتكلم ولايبادر بالكلام<br />
<br />
• صاحب رؤية إبداعية... يثق بالإلهام .. يرى المستقبل ولديه نظرة بعيدة المدى<br />
<br />
• يقدر المنطق والعقلانية... يفهم الارتباطات بين الأموروالعلاقات بينها<br />
<br />
• يقدر وبشدة المهارة والإتقان، والإبداع والمكانة الاجتماعية... ويكره الإهمال والتسيب<br />
<br />
• أفكاره وآراؤه تنبع من داخله ولايقلد أحداً... يتميز بالاستقلالية عن الآخرين<br />
<br />
• أفكاره دائما متطورة ويحب الحديث عنها<br />
<br />
• لديه قوة في تنظيم العمل... في دقة عجيبة<br />
<br />
• ناقد بطبعه... يرى الخلل ويسعى لإصلاحه<br />
<br />
• لديه عزيمة قوية... ولديه مستوى عال من الكفاءة والإتقان<br />
<br />
• يجد من يتفاهم معه قليلون<br />
<br />
• رؤيته جلية للاحتمالات المستقبلية... وهو ناجح في إنزالها على أرض الواقع وتنفيذها بصورة دقيقة<br />
<br />
• يستمتع بالتحديات الفكرية المعقدة والمتشابكة لأنه يستطيع استخدام قدرته على التفكير والإبداع<br />
<br />
• يضع تصوراً كاملاً للخطة المستقبلية... صاحب مهارة عالية في التخطيط بعيد المدى<br />
<br />
• يقدر المعرفة والعلم في نفسه وعند الناس<br />
<br />
• يتوقع من الآخرين الكفاءة... ويتضايق من التسيب والإهمال<br />
<br />
• يكره الغموض ويحب الوضوح<br />
<br />
• يثق في نظرته للأمور وحكمه عليها<br />
<br />
• قدرتهعالية على اتخاذ القرارات الصعبة<br />
<br />
• يقيم ويدرس كل شيء بعين ناقدة لإصلاح الخلل<br />
<br />
• هادئ الوجه والمعاني... وكذلك هو في تفاعله مع الأمور<br />
<br />
• حازم حاسم... وواثق من نفسه<br />
<br />
• يميل إلى أن يسمع ولا يبدأ الكلام... يفكربعمق داخل نفسه<br />
<br />
• واضح المعالم في حياته... خط سيره واضح<br />
<br />
• عقلاني ومحايد في نقده من أجل إصلاح الخطأ... إيجابي<br />
<br />
• يكره الروتين والنظام البيروقراطي... لأن ذلك يقيد قدراته الإبداعية ولا يستطيع أن يعبر عن نفسه<br />
<br />
<br />

           <h2>“قراءة بالعمق”</h2>
        <p>سيئ هو الشعور بالوحدة في القمة، ولأنها واحدة من أندر وأكثر أنواع 
الشخصيات قدرة استراتيجيةً، فشخصيات INTJ تعرف هذا جيداً. تشكل شخصيات INTJ
 فقط اثنين في المئة من البشر، والنساء من هذا النوع شخصية نادرة، وتشكل 
فقط 0.8٪ من البشر ,وغالبا ما يكون تحديا بالنسبة لهم إيجاد من يماثلهم في
 التفكير ومن يقدرون على مواكبة قدراتهم الفكرية وقدراتهم على المناورة كما
 في لعب الشطرنج. الناس من نوع شخصية INTJ لديهم خيال خصب لكن حازمون، 
طموحون لكن منغلقون، فضوليون بشكل مثير للدهشة، لكنهم لا يبددون طاقتهم.</p>

			<h2>لا شيء يمكن أن يوقف السلوك الجيد من تحقيق هدفه</h2>

			<p>مع العطش الطبيعي للمعرفة الذي يظهر نفسه في وقت مبكر من حياة هذه 
الشخصية، فهم غالبا ما يكونون "دودة كتب" وهم أطفال. في حين أن هذا قد 
اللقب قد يكون القصد منه إهانتهم من قبل أقرانهم، إلا أن شخصيات INTJ 
فخورين بذلك، ومستمتعين بدرجة كبيرة بمعرفتهم الواسعة والعميقة. شخصيات 
INTJ يستمتعون بتبادل ما يعرفونه كذلك، واثقون في اتقانهم للموضوعات التي 
يختارونها، ولكن نظراً لصفة الحدس (N) والتخطيط (J) لديهم، فإنهم يفضلون 
تصميم وتنفيذ خطة رائعة في مجال عملهم بدلاً من تبادل الآراء حول المواضيع 
المشتتة "المملة" التي تشبه القيل والقال.</p>

			<blockquote>
			 <p>"ليس من حقك قول رأي جاهل. ولكن يحق لك الحصول على رأي مستنير خاص بك. ولا يحق لأحد أن يكون جاهلاً ".</p>
			 <footer>هارلان اليسون</footer>
			</blockquote>

			<p>والمفارقة لمعظم المراقبين، أن شخصيات INTJ قادرة على العيش مع 
التناقضات الصارخة التي على الرغم من ذلك قد تكون المنطق الكامل , على 
الأقل من منظور عقلاني بحت. على سبيل المثال، فشخصيات INTJ هي من المثاليين
 المحدقين في النجوم ومن الساخرين بمرارة من الحياة، وهو الصراع الذي يبدو 
مستحيلاً. ولكن هذا لأن شخصيات INTJ تميل إلى الاعتقاد أنه مع الجهد 
والذكاء والنظر المتعمق، لا شيء مستحيل، بينما في نفس الوقت يعتقدون أن 
الناس كسولة جدا، قصيرو النظر أو أنانيون مما يمنعهم من تحقيق نتائج رائعة 
في حياتهم. غير أن هذا العرض الساخر للواقع من غير المرجح أن يوقف شخصيات 
INTJ المهتمين بتحقيق نتيجة ما هم يعتقدون أنها ممكنة.</p>

			<h2>في المسائل المتعلقة بالمبادئ، قف مثل صخرة</h2>

			<p>شخصيات INTJ تشع ثقة بالنفس وهالة من الغموض، وملاحظاتهم الثاقبة، 
وأفكارهم الأصلية ومنطقهم الهائل يمكنهم من تغيير المستحيل من خلال قوة 
الارادة وقوة الشخصية. في بعض الأحيان سوف يبدو أن شخصيات INTJ يعكفون على 
تفكيك وإعادة بناء كل فكرة ونظام يقابلوه، موظفين الشعور بالكمالية وحتى 
الأخلاق في هذا العمل. وأي شخص لا يملك الموهبة لمواكبة عمليات شخصيات 
INTJ، أو الأسوأ من ذلك، أن يكون لا يرى الهدف من تلك العمليات، فمن المرجح
 أن يفقد احترامهم بشكل دائم على الفور.</p>

			<div class="description-pullout">القواعد والقيود والتقاليد هي لعنة 
على نوع شخصية INTJ , حيث يجب أن يكون كل شيء مفتوح للاستجواب وإعادة 
التقييم، وغالبا ما تتصرف شخصيات INTJ من جانب واحد لتطبيق أساليبها 
وأفكارها التقنية، والحساسة أحيانا، وغير التقليدية دائماً .</div>

			<p>ويجب أن لا يساء فهم هذا كنوع من الاندفاع , ولكن شخصيات INTJ ستسعى 
جاهدة لتظل عقلانية بغض النظر عن مدى جاذبية الهدف النهائي، وكل فكرة، سواء
 داخلية أو غارقة في العالم الخارجي، يجب أن تمر خلال الاختبار الدائم الذي
 لا يرحم "هل ستنجح هذه الفكرة؟ " حيث يتم تطبيق هذه الآلية في جميع 
الأوقات، على جميع الأمور وجميع البشر، وهذا هو في كثير من الأحيان سبب 
المشاكل التي تواجهها أنواع الشخصية INTJ.</p>

			<h2>يتعلم الفرد أكثر عند السفر لوحده</h2>

			<p>شخصيات INTJ هي شخصيات رائعة واثقة في قدرتها على المعرفة التي أخذت 
منهم الوقت الكثير ليتحصلوا عليها، ولكن للأسف العلاقات الاجتماعية ليست 
واحدة من تلك الموضوعات المعرفية. الكذب الأبيض والمحادثات الصغيرة صعبة 
بما فيه الكفاية بالنسبة لهذا النوع من الشخصيات الذي يشتهي الحقيقة 
والعمق، ولكن شخصيات INTJ قد يتطور الأمر عندها فترى جميع العلاقات 
الاجتماعية غبية بصراحة. ومن المفارقات، فإنه غالبا ما يكون أفضل بالنسبة 
لهم البقاء حيث يشعرون بالراحة , خارج دائرة الضوء , حيث تستطع الثقة 
الطبيعية السائدة في شخصيات INTJ وهم يعملون مع ما هو مألوف أن تكون بمثابة
 منارة خاصة بها، تجذب إليهم الناس، عاطفياً أو غير ذلك، ممن يشاركوهم نفس 
المزاج والاهتمامات.</p>

			<p>يتم تعريف شخصيات INTJ من قبل ميلها للتحرك في الحياة كما لو كانت 
الحياة لوحة شطرنج عملاقة، تتحرك القطع فيها باستمرار بحرص وذكاء، وتقييم 
التكتيكات الجديدة والاستراتيجيات وخطط الطوارئ مستمر لا ينقطع، متفوقين 
ببراعة وباستمرار على أقرانهم من أجل الحفاظ على السيطرة على وضع ما في حين
 يعظمون حريتهم في التنقل. وليس المقصود هنا أن شخصيات INTJ تعمل بلا ضمير،
 ولكن لكثير من أنواع الشخصيات المركزة على المبادئ (F)، فنفور شخصيات INTJ
 للعمل على أساس العاطفة وحدها يمكن أن يجعل الأمر يبدو بهذه الطريقة، وهذا
 ما يفسر لماذا العديد من الشخصيات الشريرة الخيالية (والأبطال المساء 
فهمهم) تصب في قالب هذا النوع من الشخصية.</p>

			<p>شخصيات INTJ الشهيرة:</p>

			<div class="celebrity-list">
			   <img src="img/FAAMOUSQUIZ/INTJ.PNG" /> <br /><br />
                <img src="img/MOVIESQUIZ/INTJ.PNG" />
                <br />
<br />    <img src="img/imagesqiz/INTJ.PNG" />
                         <br /><br />
				<div class="well well-sm">فلاديمير بوتين</div>
				<div class="well well-sm">بول كروغمان</div>
				<div class="well well-sm">رودي جولياني</div>
				<div class="well well-sm">دونالد رامسفيلد</div>
				<div class="well well-sm">كولن باول</div>
				<div class="well well-sm">سامانثا باور</div>
				<div class="well well-sm">لانس أرمسترونغ</div>
				<div class="well well-sm">ريتشارد جير</div>
				<div class="well well-sm">أرنولد شوارزنيغر</div>
				<div class="well well-sm">توماس جيفرسون</div>
				<div class="well well-sm">جون كينيدي</div>
				<div class="well well-sm">وودرو ويلسون</div>
				<div class="well well-sm">أوغسطس قيصر</div>
				<div class="well well-sm">هانيبال</div>

			</div>

			<p>شخصيات INTJ الخيالية:</p>

			<div class="celebrity-list celebrity-list-extrabottom">
			
				<div class="well well-sm">"والتر وايت" ("هايزنبرغ") من النهاية السيئة</div>
				<div class="well well-sm">"جاندالف ذا غراي" من سيد الخواتم</div>
				<div class="well well-sm">"كاتنيس إيفردين" من ألعاب الجوع</div>
				<div class="well well-sm">"هانيبال" و "كلاريس ستارلينغ" من صمت الحملان</div>
				<div class="well well-sm">"البروفيسور موريارتي"، عدو شيرلوك هولمز</div>
				<div class="well well-sm">"جريجوري هاوس" من البيت MD</div>

			</div>


    

         </div>
        <br /> <br />
        <h1 >النصائح العشر للنجاح كمهندس:</h1>
<ol >
<li>&nbsp;<strong>ركز على نقاط قوتك!</strong>&nbsp;اختر عملاً يتناسب مع 
قدراتك العالية على التحليل والتوقع. اكتشف عالم الرياضيات، العلوم البحته،
 القانون، والطب. أعط عقل المتنفس ليظهر مهاراتك التحليلة وراقبها وهي 
تتطور.</li>
<li><strong>واجه نقاط ضعفك!</strong>&nbsp;كما تقبلت نقاط قوتك، تفهم أن 
هناك نقاط ضعف في شخصيتك، وأنك يجب أن تعمل بصدق على التخلص منها. بشكل خاص
 طبق صرامتك على أفكارك الداخلية وعلى حدسك، بدل أن تستخدمها في صرف 
الأفكار الجديدة التي تردك من الآخرين.</li>
<li><strong>تحدث عن أفكارك!</strong>&nbsp;تحتاج لأن تنظر في أفكارك وحدسك
 لتقوم بترتيبه بالشكل الصحيح. أعط نفسك الوقت للقيام بذلك، واستغل الفرصة 
لمناقشة أفكارك مع الآخرين. ستجد بأن النقاش يساعدك بشكل كبير على وضع تصور
 أفضل لأفكارك. إذا لم تجد شخصاً لتناقش معه أفكارك، عود نفسك على شرحها 
كتابياً بشكل واضح.</li>
<li><strong>استمع لكل شيء!</strong>&nbsp;لا تحاول صرف الأفكار بشكل 
تلقائي. لا تصرفها لأنك لا تحترم قائلها أو لأنك تعتقد بأنك تعرفها مسبقاً.
 استمع لها، خذ وقتك في التفكير فيها، ثم أطلق حكمك عليها.</li>
<li><strong>عندما تغضب أنت تخسر!</strong>&nbsp;عاطفتك وحدتك هي مما يميز 
شخصيتك، ولكنها قد تكون لها عواقب وخيمة حينما تقع في فخ الغضب. تذكر أن 
الغضب له آثار مدمرة على علاقاتك الشخصية. انظر في غضبك قبل أن تطلقه على 
الآخرين، ولا فإنك ستجد نفسك وحيداً في النهاية. الخلاف وخيبة الأمل لا تحل
 بشكل شخصي، بل يتوجب التعامل معها بشكل مهني وأسلوب هادئ.</li>
<li><strong><strong>احترم رغبتك للتوافق المعرفي!</strong></strong>&nbsp;لا
 تتوقع أن تتميز بكونك محبوباً أو حنوناً. تذكر دائماً أن ما سيميزك عن 
الآخرين ويكسبك حبهم هو عقلك قبل قلبك. وبالطبع لا تهمل مشاعر الآخرين، 
وعبر عن مشاعرك بصدق وإخلاص لكن دون أن تتصنع.</li>
<li><strong><strong>حاسب نفسك!</strong>&nbsp;</strong>وتذكر بأنك أنت أكثر الأشخاص قدرة على التحكم في نفسك وإدارتها.</li>
<li><strong>كن متواضعاً!</strong>&nbsp;وتذكر بأن تكون صارماً مع نفسك أكثر من صرامتك مع الآخرين.</li>
<li><strong>افترض الأفضل دائماً!</strong>&nbsp;لا تضيق على نفسك بتوقع الأسوء دائماً، وتذكر أن الموقف الإيجابية دائماً ما يخلق نتائج إيجابية.</li>
<li><strong>لا تعزل نفسك!</strong>&nbsp;تفهم أهمية العالم الخارجي لك 
وتواصل معه بالطريقة التي تلائمك. انظم إلى نادي أو مجموعة في الواقع أو 
عبر الإنترنت مع أناس يشاركونك ذات الإهتمامات، واحرص على القراءة في مجالك
 بشكل مستمر. حاول أن تكون علاقات مع أشخاص يشاركونك الإهتمامات ويفهمونك 
وتفاعل معهم.</li>
</ol>
<br/>
<ion-item menu-close href="#/app/Copmatability">
       <i class="ion-heart"></i>   شاهد توافقك مع بقية الشخصيات<i class="ion-heart"></i>
        </ion-item>
</center>

  </ion-content>
</ion-view>
