<ion-view view-title="ISTJ">
  <ion-content>
     <center>
    <div>
                      <h1 class="description-title">
                             ISTJ شخصية
                    </h1>

                    <img src="img/istj.png" width="90%" />
    
        <div class="description-nicetitle">“المفتش”</div>

    
	<br /><br />

          <h3>من صفاته الرئيسية</h3>

        <br />
متحفظ .. حسي .. مفكر .. حكم<br />
صفاته:<br />
<br />
• يظلمه الكثير... لأنهم لا يعرفونه حق المعرفة ويعتقدون أنه معقد<br />
<br />
• محافظ كتوم وهادئ... يستمع أكثر مما يتكلم، ولا يبادر بالكلام... وعموماً كلامه قليل جداً<br />
<br />
• واقعي حسي... يرى الواقع بحواسه ويعيش اللحظة الحالية<br />
<br />
• يفضل تفاصيل التفاصيل... والإتقان هام عنده... يتعامل مع الأرقام والحقائق بسهولة<br />
<br />
• عادل منصف، محايد صارم... حاسم وجاد جداً جداً... المرح في حياته قليل جداً<br />
<br />
• حياته منظمة إلى أبعد حد... هادئ يركز بشدة وبدقة فيعمله<br />
<br />
• يقصد ما يقول، ويقول ما يقصد... واضح إلى أبعد الحدود<br />
<br />
• أي مؤسسة تعتمد أساساً على هذا الإنسان... لأنه صارم في تطبيق خطة العمل مهما كانت،ولأنه ثابت قوي للغاية<br />
<br />
• عنده كلمة شرف، فإذا قال يلتزم بكلامه مهما حدث<br />
<br />
• يفضل أن ينظم الأمور من حوله<br />
<br />
• أهل للمسئولية... من الطرازالأول<br />
<br />
• قوته في التزامه بمبادئه، وإحساسه بمسئوليته... ولاؤه صلب لايتزعزع<br />
<br />
• مخلص جداً يقوم بالمهام الموكلة إليه على أكمل وجه... وبطاقة مستمرة وبلا كلل<br />
<br />
• يستطيع مواجهة المعترضين بكل قوة وصلابة... ولا يهاب أحداً<br />
<br />
• يفضل أن يعمل لوحده... ولكن أيضاً يعمل ضمن فريق عمل<br />
<br />
• يقيم الناس على نتائج أعمالهم... وليس على مكانتهم وأشخاصهم<br />
<br />
• احترامه بالغ للحقائق... ولا يحب الخيال<br />
<br />
• واقعي... عملي... ومنظم للغاية<br />
<br />
• عاقل جداً ومتزن... مستقل في رأيه ولا يقلد الآخرين<br />
<br />
• لا يميل للمرح... ويلتزم بالأصول والنظام والترتيب والقانون... يلتزم بالمواعيد<br />
<br />
• قوته في صلابته... وهذا ما يكرهه الناس فيه<br />
<br />
• متين متماسك... ولا تثنيه المشاكل<br />
<br />
<br />


          <h2>“قراءة بالعمق”</h2>
        <blockquote>
			 <p>“ملاحظتي هي أنه حالما تم العثور على شخص واحد كاف للقيام بالواجب 
... فمن السيئ تنفيذه من قبل شخصين، والأسوء من ذلك أن يقوم به ثلاثة أو 
أكثر.”</p>
			 <footer>جورج واشنطن</footer>
			</blockquote>

			<p>يعتقد أن نوع الشخصية ISTJ هو الأكثر وفرة، حيث يشكلون حوالي 13٪ من 
البشر. والخصائص المميزة لهم هي النزاهة والمنطق العملي والتفاني الذي لا 
يكل في أداء الواجب مما يجعلهم نواة حيوية لكثير من الأسر، فضلاً عن 
المنظمات التي تدعم التقاليد والقواعد والمعايير، مثل مكاتب المحاماة 
والهيئات التنظيمية والعسكرية. الناس من نوع شخصية ISTJ يتمتعون بتحمل 
المسؤولية عن أفعالهم، ويفخرون بالعمل الذي يقومون به عند تحقيق الهدف، فلا
 تبخل شخصيات ISTJ بوقتهم وطاقتهم لاستكمال كل مهمة بدأوها بالدقة والصبر.</p>

			<p>شخصية ISTJ لا تقوم بالعديد من الافتراضات، وتفضل على ذلك تحليل 
البيئة المحيطة بهم، والتحقق من الحقائق والتوصل إلى طرف عملية لتحقيق 
الهدف.اكما أن شخصيات ISTJ هي شخصيات هادفة، إذا أخذت قرار، فسوف تتابع 
الوقائع اللازمة لتحقيق هدفهم، ويتوقعون من الآخرين فهم الوضع فوراً واتخاذ
 الإجراءات اللازمة معهم. شخصية ISTJ لا تعرف التردد، ولكن تفقد الصبر 
بسرعة أكبر إذا تم الطعن على خططهم بنظريات غير عملية، خصوصاً إذا تم تجاهل
 التفاصيل الرئيسية , إذا أصبحت التحديات مناقشات تستهلك وقتا طويلا، يمكن 
لشخصية ISTJ أن تغضب بشكل ملحوظ خاصة إذا أقتربت مواعيد التسليم النهائية.</p>

			<h2>صاحب من لهم صفات جيدة إذا كنت تخاف على سمعتك ...</h2>

			<p>عندما تقول شخصية ISTJ أنها ستنفذ شيء ما، فإنها تفعل ذلك، فالوفاء 
بالتزاماتها بغض النظر عن التكلفة الشخصية من صفاتها الهامة، ولذلك يحيرهم 
الناس الذين لا يفون بالتزامتهم كما يفعلون هم. الجمع بين الكسل وخيانة 
الأمانة هو أسرع طريقة للحصول على الجانب السيئ من شخصية ISTJ. ونتيجة 
لذلك، فالناس من نوع شخصية ISTJ غالبا ما يفضلون العمل وحدهم، أو على الأقل
 يكون لهم سلطة واضحة في تسلسل هرمي، حيث يمكنهم تحديد وتحقيق أهدافهم دون 
نقاش أو قلق من موثوقية البعض.</p>

			<p>وعقول شخصية ISTJ حادة وتركز على الواقع، وتفضل الاستقلالية 
والاكتفاء الذاتي على الاعتماد على شخص أو شيء. وغالبا ما تنظر شخصية ISTJ 
إلى الاعتماد على الآخرين كنقطة ضعف، حيث أن شغفهم للعمل والاعتمادية 
وكرامتهم الشخصية لا تسمح لهم بالوقوع في مثل هذا الفخ.</p>

			<p>هذا الشعور بالكرامة الشخصية هو الأساس لدى شخصية ISTJ ويتجاوز 
عقولهم ليصل إلى مرحلة اللاوعي , فشخصيات ISTJ تلتزم بالقواعد والمبادئ 
التوجيهية الموضوعة بغض النظر عن التكلفة، ويعرفون أخطائهم جيداً ويقولون 
الحقيقة ويتحملون عواقب ذلك مهما كانت كارثية. الصدق بالنسبة لشخصية ISTJ 
هو أكثر أهمية بكثير من الاعتبارات العاطفية، ونهجها الحاد يترك الآخرين 
بانطباع خاطئ بأن شخصية ISTJ باردة، أو حتى روبوتية. الأشخاص الذين يتمتعون
 بهذا النوع من الشخصية قد يواجهون صعوبات في التعبير عن المشاعر أو المودة
 ظاهرياً، ولكن لا تفترض أنهم لا يشعرون، أو أنهم ليس لديهم شخصية على 
الإطلاق، فذلك مؤذ لهم للغاية.</p>

			<h2>...من الأفضل أن تكون وحيداً على أن تكون في جماعة سيئة</h2>

			<p>التفاني خاصية ممتازة لدى شخصية ISTJ، مما يتيح لهم إنجاز الكثير، 
ولكنها أيضا نقطة ضعف أساسية قد يستفيد منها الأفراد المحيطون بهم. فشخصية 
ISTJ تسعى للاستقرار والأمن، معتبرة أنه من واجبها الحفاظ على سلاسة العمل،
 ولذلك فقد يجدوا أن بعض زملاء العمل وغيرهم قد يحولون مسؤولياتهم في العمل
 لشخصية ISTJ. وهم يميلون للحفاظ على آرائهم لأنفسهم ويدعون الحقائق تقود 
الحديث، ولكن يمكن أن يمضي وقت طويل قبل الحصول على أدلة يمكن ملاحظتها من 
القصة كلها.</p>

			<p>شخصية ISTJ بحاجة إلى أن تتذكر أهمية رعاية أنفسهم , التفاني العنيد 
للوصول للاستقرار والكفاءة يمكن أن يضعف تلك الأهداف على المدى الطويل حيث 
يلجأ البعض إليهم للاستفادة من هذا التفاني مما يخلق ضغطاً عاطفياً قد لا 
يعبر عنه لسنوات ثم يعود في النهاية بعد فوات أوان الإصلاح. إذا وجدت شخصية
 ISTJ زملاء عمل أو أزواج يقدرونهم ويكملون صفاتهم، ويعجبهم السطوع والوضوح
 والاعتمادية التي تقدمها شخصية ISTJ، فسيشعرون بالاستقرار بشكل كبير، 
لعلمهم أنهم أصبحوا جزء من نظام ناجح.</p>

			<p>شخصيات ISTJ الشهيرة:</p>

			<div class="celebrity-list">
			

                  <img src="img/FAAMOUSQUIZ/ISTJ.PNG" /> <br /><br />
                <img src="img/MOVIESQUIZ/ISTJ.PNG" />
                <br />
<br />    <img src="img/imagesqiz/ISTJ.PNG" />
                         <br /><br />
				<div class="well well-sm">جورج واشنطن</div>
				<div class="well well-sm">أندرو جونسون</div>
				<div class="well well-sm">بنيامين هاريسون</div>
				<div class="well well-sm">هربرت هوفر</div>
				<div class="well well-sm">جورج بوش الأب</div>
				<div class="well well-sm">أنجيلا ميركل</div>
				<div class="well well-sm">ناتالي بورتمان</div>
				<div class="well well-sm">"هيرميون جرانجر" من سلسلة هاري بوتر</div>
				<div class="well well-sm">"أدريان مونك" من الراهب</div>
				<div class="well well-sm">"دانا سكالي" من الملفات السرية</div>

			</div>



    

         </div>
        <br /><br />

            	<h1 >النصائح العشر للنجاح كمفتش:</h1>
<ol>
<li >&nbsp;<strong>ركز على نقاط قوتك!</strong>
 إجتهد في الأعمال التي تساعدك على تطوير مهاراتك في التنظيم والتفكير 
المنطقي. وسع مداركك في علوم إدارة الأعمال، الإدارة المالية وغيرها من 
المجالات التي تناسب شخصيتك.</li>
<li ><strong>واجه نقاط ضعفك!</strong> احرص 
على وزن الأفكار التي تطرح عليك من الآخرين، مقابل محصلتك من معلومات، لا 
تتسرع بإطلاق الأحكام ورفض أفكار الآخرين فقط لأنها من خارج مخزونك.</li>
<li ><strong>أعرض أفكارك وناقشها!</strong>&nbsp;ابحث
 في مخزون أفكارك وحدثه، كي ترتب الأفكار وتضع الأمور في مكانها المناسب 
وترى التطبيقات الصحيحة لها. خصص زمناً للقيام بذلك، وعود نفسك على القيام 
به من وقت لآخر. وظف مناقشة الآخرين، وكذلك تفريغ الأفكار وكتابتها على 
الورق.</li>
<li ><strong>تقبل كل شيء!</strong> لا ترفض الأفكار لأنك لا تحترم الشخص الذي جاء بها، أو أنك تشعر بأنك تعرفها.</li>
<li ><strong>تغلب على رغبتك في التحكم بالآخرين!</strong>
 وتذكر بأن معظم الناس لا يحبون أن يتم التحكم بهم من قبل الآخرين. وجه 
رغبتك بالتحكم للداخل بدل الخارج، فأنت في النهاية لا تقدر إلا على التحكم 
بنفسك.</li>
<li ><strong>انتبه وراعي الآخرين!</strong> خذ وقتك للتعرف على نوايا الآخرين، أسباب تصرفاتهم، مشاعرهم في الوقت الراهن، وتصنيف شخصياتهم.</li>
<li ><strong>حاسب نفسك!</strong> عند حدوث مشكلة أو إخفاق في حياتك، لا تلوم الآخرين، ابحث في نفسك عن الأسباب وأوجد لها حلول.</li>
<li><strong>كن عادلاً فيما تتوقعه من الآخرين!</strong> لا تتوقع من الآخرين أكثر مما هم قادرين عليه. وأقسوا على نفسك، بنفس الدرجة التي تقسوا فيها عليهم.</li>
<li ><strong>افترض الأفضل دائماً!</strong> 
لا تنكد على الآخرين بإفتراض الأسوء دائماً، وتذكر أن لكل فشل هناك جانب 
إيجابي. وعندما توفر البيئة الإيجابية والمتفائلة فإن النجاح ولا شك سيأتي.</li>
<li ><strong>لا تخف من التغيير!</strong> 
أحياناً يكون من المهم أن تخاطر، لإحداث التغيير. لا تخف من التغيير أو من 
المخاطرة عندما تأتي. في طريقك إلى أهدافك ستقابلك مصاعب وعقبات والتي لا 
يمكن تجاوزها إلا بالتغيير. غير نظرتك غير حياتك.</li>
</ol>
<br/>
<ion-item menu-close href="#/app/Copmatability">
       <i class="ion-heart"></i>   شاهد توافقك مع بقية الشخصيات<i class="ion-heart"></i>
        </ion-item>
</center>
  </ion-content>
</ion-view>
